<style>
  /* Limitar altura solo dentro del modal para no afectar otras plantillas */
  .modal .span3 {
    max-height: 500px;
    overflow: auto;
  }

  /* Asegurar que el contenedor de acciones esté visible y separado */
  .asignar-acciones{ clear: both; overflow: visible; margin-top: 10px }
  /* Asegurar que el modal quede por encima */
  #modalEmpresas { z-index: 1050; }
  .modal-backdrop { z-index: 1040; }

  /* Ensanchar el modal de empresas */
  .modal-empresas-dialog { width: 720px; max-width: 95%; }

  /* Texto del sistema en negro */
  #tableEmpresas .base { color: #111; font-weight: 600; }

  /* Encabezados de seccion (Integrado/Sueldo) en azul */
  #tableEmpresas .section-title { color: #1f5fbf; font-weight: 700; }
</style>

<script type="text/javascript">

  var lastselect = null;
  var apiUrl;
  var api;
  var sueldoEnabled = {% if sueldo_enabled %}true{% else %}false{% endif %};

  $(document).ready(function () {
    $('#addanother-button').hide();
    $('#page-wrapper').css('margin-left', '0px');
    $('#my-left-menu').toggle(0);

    apiUrl = u.getApiUrl();
    api = (window.api && typeof window.api === 'string') ? window.api : apiUrl;

    $(".chosen-select").chosen({
      disable_search_threshold: 0,
      no_results_text: "Oops, nothing found!",
      width: "200px",
      allow_single_deselect: true
    });

    // Ensure modal is attached to body to avoid overflow clipping
    $("#modalEmpresas").appendTo("body");

    // Cerrar modal aunque no esté cargado el JS de Bootstrap
    $(document).on('click', '.js-close-empresas', function () {
      var $modal = $("#modalEmpresas");
      if ($.fn.modal) {
        $modal.modal("hide");
      } else {
        $modal.hide().removeClass('in').attr('aria-hidden', 'true');
        $('.modal-backdrop').remove();
      }
    });

    $(document).on('click', '.js-select-empresa', function () {
      var $tr = $(this).closest('tr');
      var code = $tr.find('.codigo').text();
      var base = $tr.find('.base').text();
      var desc = $tr.find('.descripcion').text();
      var row = $('#current_value').val();
      $('#empresa-'+row).val(code+'-'+base);
      $('#empresatext-'+row).val(desc+' - '+base);
      cerrar_modal_empresas();
    });
  });

  function cargar_empresas_permisos(a) {
    if (a.toString().length > 0) {
      Dajaxice.custom_permissions.get_permisos_empresa(permisos_empresas, {'usuario': a});
    } else {
      $('#table').empty();
      $('#addanother-button').hide();
    }
  }

    function permisos_empresas(data) {
      var string = ""
      if (typeof data === 'string') {
        try {
          data = JSON.parse(data);
        } catch (e) {
          data = [];
        }
      }
      if (!Array.isArray(data)) {
        data = [];
      }
      if (data.length > 0){
        var rowIndex = -1;
        var vector_integrado = [] 
          for (var a=0; a<data.length; a++){
              var dbVal = (data[a].db || '').toString().toLowerCase();
              if (dbVal === "integrado")
              vector_integrado.push("'"+data[a].empresa+"'")
          }
        var str_integrado = JSON.stringify({empresas: vector_integrado});
        $.ajax(api+"empresa/inin/select",{method:'POST', contentType:'application/json', data: str_integrado}).done(
        function(data) {
            if (data != null){
                $('#table').empty();
                for (var a=0; a<data.data.length; a++){
                    var codEmp = empresaCodigo(data.data[a]);
                    var desEmp = empresaNombre(data.data[a]);
                    rowIndex++;
                    lastselect = rowIndex
                    string='<div id="row-'+rowIndex+'" class="row show-grid">'+
                                '<div class="col-md-10 text-center">'+
                                    '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">'+
                                        '<input class="empresaid" type="hidden" id="empresa-'+rowIndex+'" value="'+codEmp+'-Integrado">'+
                                        '<input readonly="readonly" class="form-control" id="empresatext-'+rowIndex+'" value="'+desEmp+' - Integrado">'+
                                    '</div>'+
                                    '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">'+
                                        '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa('+rowIndex+');"><i class="fa fa-search-plus"></i></a>'+
                                    '</div>'+
                                '</div>'+
                                '<div style="height: 56px;" class="col-md-2 text-center">'+
                                    '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone('+rowIndex+')"><i class="fa fa-trash-o"></i></a>'+
                                '</div>'+
                            '</div>';
                    $('#table').append(string);
                  }
                }
        });
        if (sueldoEnabled) {
            var vector_sueldo = [];
            if (data.length > 0) {
                for (var a=0; a<data.length; a++){
                    var dbVal = (data[a].db || '').toString().toLowerCase();
                    if (dbVal === "sueldo")
                    vector_sueldo.push("'"+data[a].empresa+"'")
                }
            }
            var str_sueldo = JSON.stringify({empresas: vector_sueldo});
            $.ajax(api+"empresa_sueldo/inin/select",{method:'POST', contentType:'application/json', data: str_sueldo}).done(
            function(data) {
                if (data != null){
                    //$('#table').empty();
                    for (var a=0; a<data.data.length; a++){
                        var codEmp = empresaCodigo(data.data[a]);
                        var desEmp = empresaNombre(data.data[a]);
                        rowIndex++;
                        lastselect = rowIndex
                        string='<div id="row-'+rowIndex+'" class="row show-grid">'+
                                    '<div class="col-md-10 text-center">'+
                                        '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">'+
                                            '<input class="empresaid" type="hidden" id="empresa-'+rowIndex+'" value="'+codEmp+'-Sueldo">'+
                                            '<input readonly="readonly" class="form-control" id="empresatext-'+rowIndex+'" value="'+desEmp+' - Sueldo">'+
                                        '</div>'+
                                        '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">'+
                                            '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa('+rowIndex+');"><i class="fa fa-search-plus"></i></a>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div style="height: 56px;" class="col-md-2 text-center">'+
                                        '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone('+rowIndex+')"><i class="fa fa-trash-o"></i></a>'+
                                    '</div>'+
                                '</div>';
                        $('#table').append(string);
                    }
                }
            });
        }
    } else {
        for (var a=0; a<3; a++){
            lastselect = a
            string+='<div id="row-'+a+'" class="row show-grid">'+
                        '<div class="col-md-10 text-center">'+
                            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">'+
                                '<input class="empresaid" type="hidden" id="empresa-'+a+'">'+
                                '<input readonly="readonly" class="form-control" id="empresatext-'+a+'">'+
                            '</div>'+
                            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">'+
                                '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa('+a+');"><i class="fa fa-search-plus"></i></a>'+
                            '</div>'+
                        '</div>'+
                        '<div style="height: 56px;" class="col-md-2 text-center">'+
                            '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone('+a+')"><i class="fa fa-trash-o"></i></a>'+
                        '</div>'+
                    '</div>';
        }
    }
    $('#table').append(string);
    $('#addanother-button').show();
  }

  function normalizeApiData(data){
    if (!data) return [];
    if (Array.isArray(data)) return data;
    if (typeof data === 'string') {
      try { data = JSON.parse(data); } catch (e) { return []; }
    }
    if (data.data && Array.isArray(data.data)) return data.data;
    return [];
  }

  function pickField(row, keys){
    if (!row) return '';
    for (var i=0; i<keys.length; i++){
      var key = keys[i];
      if (typeof row[key] !== 'undefined' && row[key] !== null) return row[key];
    }
    return '';
  }

  function empresaCodigo(row){
    return pickField(row, ['Cod_Empresa', 'cod_empresa', 'codempresa', 'codigo', 'cod']);
  }

  function empresaNombre(row){
    return pickField(row, ['Des_Empresa', 'des_empresa', 'desempresa', 'empresa', 'nombre']);
  }

  function addanother() {
    lastselect = lastselect + 1
    var string = '<div id="row-' + lastselect + '"class="row show-grid">' +
            '<div class="col-md-10 text-center">' +
            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">' +
            '<input class="empresaid" type="hidden" id="empresa-' + lastselect + '">' +
            '<input readonly="readonly" class="form-control" id="empresatext-' + lastselect + '">' +
            '</div>' +
            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">' +
            '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa(' + lastselect + ');"><i class="fa fa-search-plus"></i></a>' +
            '</div>' +
            '</div>' +
            '<div style="height: 56px;" class="col-md-2 text-center">' +
            '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone(' + lastselect + ')"><i class="fa fa-trash-o"></i></a>' +
            '</div>' +
            '</div>';
    $('#table').append(string);
  }

  function deleteone(a) {
    $('#row-' + a).remove();
  }

  function search_empresa(b) {
    $('#current_value').val(b)
    var $modal = $("#modalEmpresas");
    $('#tableEmpresas tbody').empty(); 

    var vector_gestion = [];
    var vector_sueldo = [];
    $('.empresaid').each(function(){
        if (this.value.length > 0) {
            new_vector = this.value.split('-');
            if (new_vector[1] == 'Integrado')
                vector_gestion.push("'"+new_vector[0]+"'");
            if (new_vector[1] == 'Sueldo')
                vector_sueldo.push("'"+new_vector[0]+"'");
        }
    });
    if (vector_gestion.length == 0)
        vector_gestion.push("'"+"X"+"'");
    if (vector_sueldo.length == 0)
        vector_sueldo.push("'"+"X"+"'");
    var str_gestion = JSON.stringify({empresas: vector_gestion});
    var str_sueldo = JSON.stringify({empresas: vector_sueldo});

    $.ajax(api+"empresa/notin/select",{method:'POST', contentType:'application/json', data: str_gestion}).done(
        function(data) {
            var list = normalizeApiData(data);
            var string="";
            string += '<tr class="bg-info"><th colspan="4" class="text-left section-title">Integrado</th></tr>';
            if (list.length === 0){
                string += '<tr><td colspan="4" class="text-center">Sin datos</td></tr>';
            } else {
                for (var a=0; a<list.length; a++){
                    var codEmp = empresaCodigo(list[a]);
                    var desEmp = empresaNombre(list[a]);
                    string+='<tr id="empresa-row-'+codEmp+'">'+
                                '<td class="codigo">'+codEmp+'</td>'+
                                '<td class="descripcion">'+desEmp+'</td>'+
                                '<td class="base">Integrado</td>'+
                                '<td><a class="btn btn-success btn-sm js-select-empresa" title="Seleccionar"><i class="fa fa-check"></i></a></td>'+
                           '</tr>';
                }
            }
            $('#tableEmpresas tbody').html(string);
            if (!sueldoEnabled) {
                $modal.attr('aria-hidden', 'false').show().addClass('in');
                return;
            }
            $.ajax(api+"empresa_sueldo/notin/select",{method:'POST', contentType:'application/json', data: str_sueldo}).done(
              function(data2) {
                var list2 = normalizeApiData(data2);
                var string2 = '<tr class="bg-info"><th colspan="4" class="text-left section-title">Sueldo</th></tr>';
                for (var b=0; b<list2.length; b++){
                    var codEmp2 = empresaCodigo(list2[b]);
                    var desEmp2 = empresaNombre(list2[b]);
                    string2+='<tr id="empresa-row-'+codEmp2+'-sueldo">'+
                                '<td class="codigo">'+codEmp2+'</td>'+
                                '<td class="descripcion">'+desEmp2+'</td>'+
                                '<td class="base">Sueldo</td>'+
                                '<td><a class="btn btn-success btn-sm js-select-empresa" title="Seleccionar"><i class="fa fa-check"></i></a></td>'+
                           '</tr>';
                }
                if (list2.length === 0){
                  string2 += '<tr><td colspan="4" class="text-center">Sin datos</td></tr>';
                }
                if (string2.length) {
                  $('#tableEmpresas tbody').append(string2);
                }
                $modal.attr('aria-hidden', 'false').show().addClass('in');
              }
            ).fail(function(){
                $('#tableEmpresas tbody').append('<tr class="bg-info"><th colspan="4" class="text-left section-title">Sueldo</th></tr><tr><td colspan="4" class="text-center">Sin datos</td></tr>');
                $modal.attr('aria-hidden', 'false').show().addClass('in');
            });

        }
    ).fail(function(xhr){
        console.log('ERROR API:', xhr.status, xhr.responseText);
        alert('Error consultando empresas.');
    });
}

  function cerrar_modal_empresas() {
    var $modal = $("#modalEmpresas");
    try {
      if ($.fn.modal) {
        $modal.modal("hide");
      }
    } catch (e) {}
    $modal.hide().removeClass('in').attr('aria-hidden', 'true');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
  }

  function save() {
    var vector = []
    $('.empresaid').each(function () {
      if (this.value.length > 0)
        vector.push(this.value);
    });
    console.log('SAVE usuario=', $('[name=usuario]').val(), 'empresas=', vector);
    if (vector.length > 0)
      Dajaxice.custom_permissions.save_permisos_empresa(show_result, {
        'usuario': $('[name=usuario]').val(),
        'empresas': vector
      });
    else
      alert('Seleccione al menos una empresa antes de guardar.');
  }

  function show_result(data) {
    if (data == "fail") {
      alert("Se ha producido un error!");
    } else {
      window.location.href = '/custom_permissions/asignar_empresa_usuario/';
    }
  }

</script>


