<style>
  .span3 {
    height: 500px !important;
    overflow: scroll;
  }
</style>

<script type="text/javascript">

  var lastselect = null;
  var apiUrl;

  $(document).ready(function () {
    $('#addanother-button').hide();
    $('#page-wrapper').css('margin-left', '0px');
    $('#my-left-menu').toggle(0);

    apiUrl = u.getApiUrl();

    $(".chosen-select").chosen({
      disable_search_threshold: 0,
      no_results_text: "Oops, nothing found!",
      width: "200px",
      allow_single_deselect: true
    });
  });

  function cargar_empresas_permisos(a) {
    if (a.toString().length > 0) {
      Dajaxice.custom_permissions.get_permisos_empresa(permisos_empresas, {'usuario': a});
    } else {
      $('#table').empty();
      $('#addanother-button').hide();
    }
  }

  function permisos_empresas(data) {
    var string = ""
    if(data.length > 0){
        var vector_integrado = [] 
        for (var a=0; a<data.length; a++){
            if (data[a].db == "Integrado")
            vector_integrado.push("'"+data[a].empresa+"'")
        }
        var str_integrado = JSON.stringify({empresas: vector_integrado});
        $.ajax(api+"empresa/inin/select",{method:'POST', contentType:'application/json', data: str_integrado}).done(
        function(data) {
            if (data != null){
                $('#table').empty();
                for (var a=0; a<data.data.length; a++){
                    lastselect = a
                    string='<div id="row-'+a+'" class="row show-grid">'+
                                '<div class="col-md-10 text-center">'+
                                    '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">'+
                                        '<input class="empresaid" type="hidden" id="empresa-'+a+'" value="'+data.data[a].Cod_Empresa+'-Integrado">'+
                                        '<input readonly="readonly" class="form-control" id="empresatext-'+a+'" value="'+data.data[a].Des_Empresa+' - Integrado">'+
                                    '</div>'+
                                    '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">'+
                                        '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa('+a+');"><i class="fa fa-search-plus"></i></a>'+
                                    '</div>'+
                                '</div>'+
                                '<div style="height: 56px;" class="col-md-2 text-center">'+
                                    '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone('+a+')"><i class="fa fa-trash-o"></i></a>'+
                                '</div>'+
                            '</div>';
                    $('#table').append(string);
                  }
                }
        });
        var vector_sueldo = [] 
        for (var a=0; a<data.length; a++){
            if (data[a].db == "Sueldo")
            vector_sueldo.push("'"+data[a].empresa+"'")
        }
        var str_sueldo = JSON.stringify({empresas: vector_sueldo});
        $.ajax(api+"empresa_sueldo/inin/select",{method:'POST', contentType:'application/json', data: str_sueldo}).done(
        function(data) {
            if (data != null){
                //$('#table').empty();
                for (var a=0; a<data.data.length; a++){
                    lastselect = a
                    string='<div id="row-'+a+'" class="row show-grid">'+
                                '<div class="col-md-10 text-center">'+
                                    '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">'+
                                        '<input class="empresaid" type="hidden" id="empresa-'+a+'" value="'+data.data[a].Cod_Empresa+'-Sueldo">'+
                                        '<input readonly="readonly" class="form-control" id="empresatext-'+a+'" value="'+data.data[a].Des_Empresa+' - Sueldo">'+
                                    '</div>'+
                                    '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">'+
                                        '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa('+a+');"><i class="fa fa-search-plus"></i></a>'+
                                    '</div>'+
                                '</div>'+
                                '<div style="height: 56px;" class="col-md-2 text-center">'+
                                    '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone('+a+')"><i class="fa fa-trash-o"></i></a>'+
                                '</div>'+
                            '</div>';
                    $('#table').append(string);
                }
            }
        });
    } else {
        for (var a=0; a<3; a++){
            lastselect = a
            string+='<div id="row-'+a+'" class="row show-grid">'+
                        '<div class="col-md-10 text-center">'+
                            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">'+
                                '<input class="empresaid" type="hidden" id="empresa-'+a+'">'+
                                '<input readonly="readonly" class="form-control" id="empresatext-'+a+'">'+
                            '</div>'+
                            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">'+
                                '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa('+a+');"><i class="fa fa-search-plus"></i></a>'+
                            '</div>'+
                        '</div>'+
                        '<div style="height: 56px;" class="col-md-2 text-center">'+
                            '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone('+a+')"><i class="fa fa-trash-o"></i></a>'+
                        '</div>'+
                    '</div>';
        }
    }
    $('#table').append(string);
    $('#addanother-button').show();
  }

  function addanother() {
    lastselect = lastselect + 1
    var string = '<div id="row-' + lastselect + '"class="row show-grid">' +
            '<div class="col-md-10 text-center">' +
            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px; border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-10 text-center">' +
            '<input class="empresaid" type="hidden" id="empresa-' + lastselect + '">' +
            '<input readonly="readonly" class="form-control" id="empresatext-' + lastselect + '">' +
            '</div>' +
            '<div style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-right-width: 0px;border-left-width: 0px;" class="col-md-2 text-center">' +
            '<a title="Buscar" style="margin-left: 10px;" class="btn btn-info btn-sm" onclick="search_empresa(' + lastselect + ');"><i class="fa fa-search-plus"></i></a>' +
            '</div>' +
            '</div>' +
            '<div style="height: 56px;" class="col-md-2 text-center">' +
            '<a title="Borrar" class="btn btn-warning btn-sm" onclick="deleteone(' + lastselect + ')"><i class="fa fa-trash-o"></i></a>' +
            '</div>' +
            '</div>';
    $('#table').append(string);
  }

  function deleteone(a) {
    $('#row-' + a).remove();
  }

  function search_empresa(b) {
    $('#current_value').val(b)
    $("#modalEmpresas").modal("show");
    $('#tableEmpresas tbody').empty(); 
    
    var vector_gestion = [];
    $('.empresaid').each(function(){
        if (this.value.length > 0) {
            new_vector = this.value.split('-') 
            if (new_vector[1] == 'Integrado')
                vector_gestion.push("'"+new_vector[0]+"'");
        }    
    });
    if (vector_gestion.length == 0)
        vector_gestion.push("'"+"X"+"'");
    var str_gestion = JSON.stringify({empresas: vector_gestion});
    
    var vector_sueldo = [];
    $('.empresaid').each(function(){
        if (this.value.length > 0) {
            new_vector = this.value.split('-') 
            if (new_vector[1] == 'Sueldo')
                vector_sueldo.push("'"+new_vector[0]+"'");
        }    
    });
    if (vector_sueldo.length == 0)
        vector_sueldo.push("'"+"X"+"'");
    var str_sueldo = JSON.stringify({empresas: vector_sueldo});
    
    $.ajax(api+"empresa/notin/select",{method:'POST', contentType:'application/json', data: str_gestion}).done(
            function(data) {
                if (data != null){
                    var string="";
                    for (var a=0; a<data.data.length; a++){
                        string+='<tr id="empresa-row-'+data.data[a].Cod_Empresa+'">'+
                                    '<td class="codigo">'+data.data[a].Cod_Empresa+'</td>'+
                                    '<td class="descripcion">'+data.data[a].Des_Empresa+'</td>'+
                                    '<td class="base">Integrado</td>'+
                                    '<td><a class="btn btn-success btn-sm" onclick="cargar_empresa(&quot;'+data.data[a].Cod_Empresa+'&quot;,&quot;integrado&quot;)" title="Selecionar"><i class="fa fa-check"></i></td>'+                              
                               '</tr>';
                    }
                    $('#tableEmpresas tbody').html(string); 
                }
                $.ajax(api+"empresa_sueldo/notin/select",{method:'POST', contentType:'application/json', data: str_sueldo}).done(
                function(data) {
                    if (data != null){
                        var string="";
                        for (var a=0; a<data.data.length; a++){
                            string+='<tr id="empresa-row-'+data.data[a].Cod_Empresa+'">'+
                                        '<td class="codigo">'+data.data[a].Cod_Empresa+'</td>'+
                                        '<td class="descripcion">'+data.data[a].Des_Empresa+'</td>'+
                                        '<td class="base">Sueldo</td>'+
                                        '<td><a class="btn btn-success btn-sm" onclick="cargar_empresa(&quot;'+data.data[a].Cod_Empresa+'&quot;,&quot;sueldo&quot;)" title="Selecionar"><i class="fa fa-check"></i></td>'+                              
                                   '</tr>';
                        }
                        $('#tableEmpresas tbody').append(string); 
                    }
                    
                });
            });
}

function cargar_empresa(a){
    var row = $('#current_value').val() 
    $('#empresa-'+row).val($('#empresa-row-'+a).children('.codigo').text()+'-'+$('#empresa-row-'+a).children('.base').text());
    $('#empresatext-'+row).val($('#empresa-row-'+a).children('.descripcion').text()+' - '+$('#empresa-row-'+a).children('.base').text());
    $("#modalEmpresas").modal("hide");
  }

  function save() {
    var vector = []
    $('.empresaid').each(function () {
      if (this.value.length > 0)
        vector.push(this.value);
    });
    if (vector.length > 0)
      Dajaxice.custom_permissions.save_permisos_empresa(show_result, {
        'usuario': $('[name=usuario]').val(),
        'empresas': vector
      });
  }

  function show_result(data) {
    if (data == "fail") {
      alert("Se ha producido un error!");
    } else {
      window.location.href = '/custom_permissions/asignar_empresa_usuario/';
    }
  }

</script>