{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MultiSoft - SIG</title>
  <link href="{% static "icon/favicon.ico" %}" rel="Shortcut Icon">
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
  <link href="{% static "css/login-modern.css" %}" rel="stylesheet">
</head>
<body>
<div class="login-page">
  <div class="login-card">
    <div class="login-brand">
      <img src="{% static "icon/favicon.ico" %}" alt="logo">
      <h1>MultiSoft</h1>
      <p class="subtitle">Nueva contrasena</p>
    </div>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
      </form>
    {% else %}
      <p class="text-center">El enlace ya no es valido. Solicita uno nuevo.</p>
      <div class="login-footer">
        <a href="/accounts/password_reset/">Solicitar enlace</a>
      </div>
    {% endif %}
  </div>
</div>
</body>
</html>
