.fd-tile {
    background-color: #fff;
    color: #555;
    margin-bottom: 15px;
}
.fd-tile .row {
    margin: 0;
}
.fd-tile.weather {
    padding-top: 20px;
    text-align: center;
}
.weather h2 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}
.weather h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}
.fd-tile.weather .days {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
.fd-tile.weather .day {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    padding: 5px;
}
.fd-tile.weather .day h6 {
    color: #fff;
    font-weight: 400;
}
.fd-tile.tile-green {
    background-color: #19b698;
    color: #fff;
}
.fd-tile.tile-lemon {
    background-color: #2cc36b;
    color: #fff;
}
.fd-tile.tile-red {
    background-color: #ea6153;
    color: #fff;
}
.fd-tile.tile-blue {
    background-color: #4aa3df;
    color: #fff;
}
.fd-tile.tile-orange {
    background-color: #f16e3f;
    color: #fff;
}
.fd-tile.tile-prusia {
    background-color: #3d566d;
    color: #fff;
}
.fd-tile.tile-concrete {
    background-color: #a3b1b2;
    color: #fff;
}
.fd-tile.tile-purple {
    background-color: #7761a7;
    color: #fff;
}
.fd-tile.clean .icon i {
    color: #e5e5e5;
}
.fd-tile.clean {
    background-color: #fff;
    color: #888;
}
.fd-tile.clean.tile-green .details {
    background-color: #19b698;
}
.fd-tile.clean.tile-lemon .details {
    background-color: #2cc36b;
}
.fd-tile.clean.tile-red .details {
    background-color: #ea6153;
}
.fd-tile.clean.tile-blue .details {
    background-color: #4aa3df;
}
.fd-tile.clean.tile-orange .details {
    background-color: #f16e3f;
}
.fd-tile.clean.tile-prusia .details {
    background-color: #3d566d;
}
.fd-tile.clean.tile-concrete .details {
    background-color: #a3b1b2;
}
.fd-tile.clean.tile-purple .details {
    background-color: #7761a7;
}
.fd-tile .header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fd-tile .header .ico {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    display: inline-block;
    font-size: 20px;
    padding: 11px 18px;
    text-align: center;
}
.fd-tile .header .title {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 7px;
}
.fd-tile .content {
    padding: 10px;
}
.fd-tile.header .content {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    padding: 10px 10px 10px 20px;
    position: relative;
    z-index: 3;
}
.fd-tile.detail .icon {
    display: block;
    float: right;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 80px;
}
.fd-tile.header .icon img {
    display: block;
    float: right;
    height: 80px;
    margin-bottom: 10px;
    opacity: 0.8;
    padding-left: 15px;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 80px;
}
.fd-tile.header {
    overflow: hidden;
    position: relative;
}
.fd-tile.detail {
    overflow: hidden;
    position: relative;
}
.fd-tile.detail .content {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    padding: 10px 10px 13px;
    position: relative;
    z-index: 3;
}
.fd-tile.detail .icon {
    display: block;
    float: right;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    width: 80px;
}
.fd-tile.detail .icon i {
    color: rgba(0, 0, 0, 0.05);
    font-size: 100px;
    line-height: 65px;
}
.fd-tile.detail .details {
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
}
.fd-tile.detail .details i {
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
}
.fd-tile .content p {
    font-size: 14px;
    margin-bottom: 0;
}
.fd-tile .content h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}