{% extends "admin/index.html" %}
{% load static %}
{% load i18n %}
{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
{% for app in app_list %}
<li>{{ app.name}}{% if not forloop.last %} <span class="divider">/</span>{% endif %}</li>
{% endfor %}
</ul>
{% endblock %}
{% endif %}

{% block content_title %}
{% for app in app_list %}
<a class="brand">{{ app.name }} {% trans "administration" %}</a>
{% endfor %}
{% endblock %}

{% block sidebar %}{% endblock %}
