{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}MultiSoft - SIG{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
  <link rel="stylesheet" href="{% static 'css/theme-modern.css' %}">
{% endblock %}

{% block navbar_title %}MultiSoft SIG - Sistema de Información Gerencial{% endblock %}


{% block navbar_top_links %}
        {% include "admin/menu/navbar_user.html" %}
{% endblock %}

{% block left_menu %}
        {% include "admin/menu/left_menu.html" %}
{% endblock %}

