{% extends 'finanzas/base.html' %}

{% block header %}
  Balance General:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    <div class="col-sm-6">
      <div class="form-group">
        <label for="periodo" class="col-md-4 control-label">Periodo:</label>

        <div class="col-md-6">
          <div id="periodo" class="input-date"><input type="text" class="form-control" name="periodo"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% include 'ventas/_filtro.html' with name="cuentad" placeholder="Cuenta" title="Cta. desde" %}
    {% include 'ventas/_filtro.html' with name="cuentah" placeholder="Cuenta" title="Cta. hasta" %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="fecha" class="col-md-4 control-label">Fecha:</label>

        <div class="col-md-6">
          <div id="fecha" class="input-daterange input-group input-date">
            <input type="text" class="input-sm form-control" name="mesd"/>
            <span class="input-group-addon">a</span>
            <input type="text" class="input-sm form-control" name="mesh"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="nivel" class="col-md-4 control-label">Nivel:</label>

        <div class="col-md-6">
          <div><input type="text" class="form-control" id="nivel" name="nivel" value="0"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="incluir" class="col-md-4 control-label">Cuentas con saldo cero:</label>

        <div class="col-md-6">
          <input type="checkbox" name="incluir" id="incluir"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="auxiliar" class="col-md-4 control-label">Incluir cuentas auxiliares:</label>

        <div class="col-md-6">
          <input type="checkbox" name="auxiliar" id="auxiliar"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="select-moneda" class="col-md-4 control-label">Moneda:</label>
        <div class="col-md-6">
          <select id="select-moneda" name="moneda" class="form-control">
            <option value="local" selected>Local</option>
            <option value="extranjera">Extranjera</option>
            <option value="ambas">Ambas</option>
          </select>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block inner_content %}
  <style>
    /* Moneda como select nativo: evita solapar botones del footer */
    #select-moneda {
      min-height: 34px;
    }
    #table-div {
      font-size: 11px;
    }
    #resultados thead th,
    #resultados tbody td,
    #resultados tfoot td {
      font-size: 11px;
      padding: 4px 6px;
    }
    #resultados thead th:nth-child(1),
    #resultados tbody td:nth-child(1) {
      width: 18%;
    }
    #resultados thead th:nth-child(2),
    #resultados tbody td:nth-child(2) {
      width: 57%;
    }
    #resultados thead th:nth-child(3),
    #resultados tbody td:nth-child(3) {
      width: 25%;
      text-align: right;
    }
    #resultados tfoot td {
      padding-top: 2px;
      padding-bottom: 2px;
      line-height: 1.2;
      vertical-align: top;
    }
  </style>
  <div class="text-center" id="messages">
    <h3 id="loading" style="display: none;">Cargando...</h3>

    <h3 id="empty" style="display: none;">No hay datos disponibles</h3>
  </div>

  <div id="table-div">
  
    
  </div>
  {% include 'finanzas/balancegeneral_metodos.html' %}
{% endblock %}
