<style>

</style>

<script type="text/javascript">

var aux1 = null
var total_debito = 0
var total_credito = 0
var total_saldo = 0
var ingreso = 0
var egreso = 0
 
$(document).ready(function() {
	$('#page-wrapper').css('margin-left','0px');
    $('#my-left-menu').toggle(0);
	var url = window.location.href
	
	aux = url.toString().split("http://")
	aux1 = aux[1].toString().split(":8000")
	
    $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "Oops, nothing found!",
        width: "200px",
        allow_single_deselect: true
     	});
});

function renewDatePickers() {
    $('.datepicker').datepicker('destroy');
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
}

$(renewDatePickers);
$.datepicker.regional['es'] = {
	closeText: 'Cerrar',
	prevText: '<Ant',
	nextText: 'Sig>',
	currentText: 'Hoy',
	monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
	dateFormat: 'yy/mm/dd',
	firstDay: 1,
	isRTL: false,
	showMonthAfterYear: false,
	yearSuffix: ''
};
$.datepicker.setDefaults($.datepicker.regional["es"]);

function remover(selectbox){
    var i;
    for(i=selectbox.options.length-1;i>=0;i--)
    {
        selectbox.remove(i);
    }
} 

function SelectElement(value,name){    
    var element = document.getElementsByName(name)[0];
    element.value = value;
}

function buscar(){
	var empresa = $("[name=empresa]").val()
	var periodo = $("[name=periodo]").val()
	var cuentad = $("[name=cuentad]").val()
	var cuentah = $("[name=cuentah]").val()
	var mesd = $("[name=mesd]").val()
	var mesh = $("[name=mesh]").val()
	var nivel = $("[name=nivel]").val()
	var moneda = document.getElementsByName("moneda")[0]
	var incluir = document.getElementsByName("incluir")[0]
	var aux = document.getElementsByName("auxiliar")[0]
	//var compro = document.getElementsByName("comprobacion")[0]
	
	if(moneda.checked == true){
		moneda = "extranjera"
	  }else{
		moneda = "local"
	  }
  	if(incluir.checked == true){
		incluir = "SI"
	  }else{
		incluir = "NO"
	  }
	if(aux.checked == true){
		aux = "SI"
	  }else{
		aux = "NO"
	  }
	/*if(compro.checked == true){
		compro = "SI"
	  }else{
		compro = "NO"
	  }*/
	if (nivel == "" || nivel == null || nivel == " " || nivel == '0')
		nivel = 0
	
	if (periodo == "" || periodo == null || periodo == " "){
		alert("No hay datos suficientes para generar el listado")
	} else {
		$('.collapse').collapse('hide')
		//$('#table-div').empty()
		$.get("http://"+aux1[0]+":3000/api/v1/balancegeneral/list/"+empresa+"/"+periodo+"/"+cuentad+"/"+cuentah+"/"+mesd+"/"+mesh+"/"+nivel+"/"+incluir+"/"+moneda+"/"+aux,
		    function(data) {
		    	if (data != null){
		    		$('#table-div').empty()
		    		//if (compro == 'NO'){
		    			var tableta = '<table id="resultados" class="table table-striped table-hover table-bordered table-filter scroll" tyle="width:90%">'+
							    		'<thead>'+
							    			'<tr>'+
							    				'<th style="width:15%">CUENTA</th>'+
												'<th>DESCRIPCI&#211;N</th>'+
												'<th style="width:25%">SALDO</th>'+
							    			'</tr>'+
							    		'</thead>'+
							    		'<tbody></tbody>'+
							    	'</table>'
					/*}else{
						var tableta = '<table id="resultados" class="table table-striped table-hover table-bordered table-filter scroll" tyle="width:90%">'+
							    		'<thead>'+
							    			'<tr>'+
							    				'<th style="width:15%">CUENTA</th>'+
												'<th>DESCRIPCI&#211;N</th>'+
												'<th style="width:15%">D&#201;BITO</th>'+
												'<th style="width:15%">CR&#201;DITO</th>'+
												'<th style="width:15%">SALDO</th>'+
							    			'</tr>'+
							    		'</thead>'+
							    		'<tbody></tbody>'+
							    	'</table>'
					}*/
					$('#table-div').append(tableta)
		    		//console.log(data)
		    		//$('#resultados tbody').empty();
		    		var string=""
		    		for (var a=0; a < data.data.length; a++) {
		    			if (data.data[a].Nombre=='INGRESOS'){
		    				var ingreso = parseInt(data.data[a].SALDO)
		    			}
		    			if (data.data[a].Nombre=='EGRESOS'){
		    				var egreso = parseInt(data.data[a].SALDO)
		    			}
		    			total_debito+=parseInt(data.data[a].TOTAL_DEBITO)
		    			total_credito+=parseInt(data.data[a].TOTAL_CREDITO)
		    			total_saldo+=parseInt(data.data[a].SALDO)
		    			if (data.data[a].CodPlanCta.length == 1){
							//if (compro == 'NO'){
								string+='<tr>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
									    '</tr>'
									    +'<tr>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
									    '</tr>'+
									    '<tr>'+
										   '<td><b>'+data.data[a].CodPlanCta+'</b></td>'+
										   '<td><b>'+data.data[a].Nombre+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].SALDO)+'</b></td>'+
									    '</tr>'
							/*} else {
								string+='<tr>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
									    '</tr>'
									    +'<tr>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
										   '<td></td>'+
									    '</tr>'+
									    '<tr>'+
										   '<td><b>'+data.data[a].CodPlanCta+'</b></td>'+
										   '<td><b>'+data.data[a].Nombre+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].TOTAL_DEBITO)+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].TOTAL_CREDITO)+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].SALDO)+'</b></td>'+
									    '</tr>'
							}*/
					    } else if (data.data[a].CodPlanCta.length == 2){
					    	//if (compro == 'NO'){
						    	string+='<tr>'+
										   '<td><b><u>'+data.data[a].CodPlanCta+'</u></b></td>'+
										   '<td><b>&nbsp;&nbsp;&nbsp;<u>'+data.data[a].Nombre+'</u></b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].SALDO)+'</b></td>'+
									    '</tr>'
							/*} else {
								string+='<tr>'+
										   '<td><b><u>'+data.data[a].CodPlanCta+'</u></b></td>'+
										   '<td><b>&nbsp;&nbsp;&nbsp;<u>'+data.data[a].Nombre+'</u></b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].TOTAL_DEBITO)+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].TOTAL_CREDITO)+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].SALDO)+'</b></td>'+
									    '</tr>'
							}*/
					    } else if (data.data[a].CodPlanCta.length == 4){
					    	//if (compro == 'NO'){
						    	string+='<tr>'+
										   '<td><b>'+data.data[a].CodPlanCta+'</b></td>'+
										   '<td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+data.data[a].Nombre+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].SALDO)+'</b></td>'+
									    '</tr>'
							/*} else {
								string+='<tr>'+
										   '<td><b>'+data.data[a].CodPlanCta+'</b></td>'+
										   '<td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+data.data[a].Nombre+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].TOTAL_DEBITO)+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].TOTAL_CREDITO)+'</b></td>'+
										   '<td style="text-align: right;"><b>'+convertir_rever(data.data[a].SALDO)+'</b></td>'+
									    '</tr>'
							}*/
					    } else if (data.data[a].CodPlanCta.length > 4 && data.data[a].CodPlanCta.length < 10){
					    	//if (compro == 'NO'){
						    	string+='<tr>'+
										   '<td>'+data.data[a].CodPlanCta+'</td>'+
										   '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+data.data[a].Nombre+'</td>'+
										   '<td style="text-align: right;">'+convertir_rever(data.data[a].SALDO)+'</td>'+
									    '</tr>'
							/*} else {
								string+='<tr>'+
										   '<td>'+data.data[a].CodPlanCta+'</td>'+
										   '<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+data.data[a].Nombre+'</td>'+
										   '<td style="text-align: right;">'+convertir_rever(data.data[a].TOTAL_DEBITO)+'</td>'+
										   '<td style="text-align: right;">'+convertir_rever(data.data[a].TOTAL_CREDITO)+'</td>'+
										   '<td style="text-align: right;">'+convertir_rever(data.data[a].SALDO)+'</td>'+
									    '</tr>'
							}*/
					    } else {
					    	var new_codigo = data.data[a].CodPlanCta.toString().split('-')
					    	//if (compro == 'NO'){
						    	string+='<tr>'+
										   '<td></td>'+
										   '<td style="font-size: 12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+new_codigo[1]+" - "+data.data[a].Nombre+'</td>'+
										   '<td style="font-size: 12px;text-align: right;">'+convertir_rever(data.data[a].SALDO)+'</td>'+
									    '</tr>'	
								/*} else {
									string+='<tr>'+
										   '<td></td>'+
										   '<td style="font-size: 12px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+new_codigo[1]+" - "+data.data[a].Nombre+'</td>'+
										   '<td style="font-size: 12px;text-align: right;">'+convertir_rever(data.data[a].SALDO)+'</td>'+
										   '<td style="text-align: right;"></td>'+
										   '<td style="text-align: right;"></td>'+
									    '</tr>'	
								}*/				    	
					    }
				    }
				   //if (compro == 'NO'){
				    	string+='<tr>'+
								   '<td></td>'+
								   '<td><b>TOTALES</b></td>'+
								   '<td style="text-align: right;"><b>'+convertir_rever(total_saldo)+'</b></td>'+
							    '</tr>'
				    /*} else {
						string+='<tr>'+
								   '<td></td>'+
								   '<td><b>TOTALES</b></td>'+
								   '<td style="text-align: right;"><b>'+convertir_rever(total_debito)+'</b></td>'+
								   '<td style="text-align: right;"><b>'+convertir_rever(total_credito)+'</b></td>'+
								   '<td style="text-align: right;"><b>'+convertir_rever(total_saldo)+'</b></td>'+
							    '</tr>'
					}*/
					string+='<tr>'+
							   '<td style="text-align: center;" colspan="4"><b>Resultado del Ejercicio: '+convertir_rever(ingreso-egreso)+'</b></td>'+
						    '</tr>'
					$('#resultados tbody').html(string)
		    	}
		    }
		);  
	}
}

function buscar_cuenta(){
	$.get("http://"+aux1[0]+":3000/api/v1/cuenta/select/"+document.getElementsByName('empresa')[0].value+"/"+document.getElementsByName('periodo')[0].value,
	    function(data) 	{
	    	if (data != null){
	    		var select = document.getElementsByName("cuentad")[0]
	    		var select1 = document.getElementsByName("cuentah")[0]
	    		remover(select);
	    		remover(select1);
				for (var i=0;i < data.data.length;i++){
					var option = document.createElement("option");
					var option1 = document.createElement("option");
					option.value = data.data[i].CodPlanCta;
					option.text =data.data[i].Nombre;
					option1.value = data.data[i].CodPlanCta;
					option1.text =data.data[i].Nombre;
					select.add(option);
					select1.add(option1);
				}
				SelectElement(data.data[0].CodPlanCta,'cuentad')
				SelectElement(data.data[0].CodPlanCta,'cuentah')
	    	}
	    }
	);  
	
	$('.chosen-select').trigger('chosen:updated');   
}

window.onload = function() {
	
    $.get("http://"+aux1[0]+":3000/api/v1/empresa/select",
		    function(data) {
		    	if (data != null){
		    		var select = document.getElementsByName("empresa")[0]
		    		remover(select);
					for (var i=0;i < data.data.length;i++){
						var option = document.createElement("option");
						option.value = data.data[i].Cod_Empresa;
						option.text = data.data[i].Des_Empresa;
						select.add(option);
					}
					SelectElement(data.data[0].Cod_Empresa,'empresa')
					
					$.get("http://"+aux1[0]+":3000/api/v1/cuenta/select/"+document.getElementsByName('empresa')[0].value+"/"+document.getElementsByName('periodo')[0].value,
					    function(data) 	{
					    	if (data != null){
					    		var select = document.getElementsByName("cuentad")[0]
					    		var select1 = document.getElementsByName("cuentah")[0]
					    		remover(select);
					    		remover(select1);
								for (var i=0;i < data.data.length;i++){
									var option = document.createElement("option");
									option.value = data.data[i].CodPlanCta;
									option.text =data.data[i].Nombre;
									select.add(option);
									select1.add(option);
								}
								SelectElement(data.data[0].CodPlanCta,'cuentad')
								SelectElement(data.data[0].CodPlanCta,'cuentah')
					    	}
					    }
					);  
					
					$('.chosen-select').trigger('chosen:updated');
		    	}
		    }
		); 
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	
	if(dd<10) {
	    dd='0'+dd
	} 
	
	if(mm<10) {
	    mm='0'+mm
	} 
	
	today = yyyy
	
	$('[name=periodo]').val(today)
};
</script>