{% extends 'finanzas/base.html' %}

{% block header %}
  Balance de Comprobaci&#243;n:
{% endblock %}

{% block extrahead %}
  {{ block.super }}
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    <div class="col-sm-6">
      <div class="form-group">
        <label for="periodo" class="col-md-4 control-label">Periodo:</label>

        <div class="col-md-6">
          <div id="periodo" class="input-date">
            <input type="text" class="form-control" name="periodo" onkeydown="return false">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="mes" class="col-md-4 control-label">Mes:</label>

        <div class="col-md-6">
          <div id="mes" class="input-date">
            <input type="text" onkeydown="return false" class="form-control" name="mes">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="nivel" class="col-md-4 control-label">Nivel:</label>

        <div class="col-md-6">
          <div><input type="text" class="form-control" id="nivel" name="nivel" value="0"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="incluir" class="col-md-4 control-label">Cuentas con saldo cero:</label>

        <div class="col-md-6">
          <input type="checkbox" name="incluir" id="incluir"/>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="moneda" class="col-md-4 control-label">Moneda Extranjera:</label>

        <div class="col-md-6">
          <input type="checkbox" name="moneda" id="moneda"/>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block inner_content %}
  <style>
    #resultados {
      table-layout: fixed;
    }
    #resultados thead th {
      font-size: 9px;
      padding: 2px 5px;
      white-space: nowrap;
    }
    #resultados thead th,
    #resultados tbody td,
    #resultados tfoot td {
      font-size: 11px;
      padding: 4px 6px;
    }
    #resultados thead th:nth-child(1),
    #resultados tbody td:nth-child(1) { width: 9%; }
    #resultados thead th:nth-child(2),
    #resultados tbody td:nth-child(2) { width: 33%; }
    #resultados thead th:nth-child(3),
    #resultados tbody td:nth-child(3),
    #resultados thead th:nth-child(4),
    #resultados tbody td:nth-child(4),
    #resultados thead th:nth-child(5),
    #resultados tbody td:nth-child(5),
    #resultados thead th:nth-child(6),
    #resultados tbody td:nth-child(6) {
      width: 14.5%;
      text-align: right;
    }
    /* Quitar negrita de datos del detalle */
    #resultados tbody b,
    #resultados tbody u {
      font-weight: 400;
      text-decoration: none;
    }
    /* Totales siempre destacados y un poco más abajo */
    #resultados tfoot td,
    #resultados tfoot b {
      font-weight: 700;
    }
    #resultados tfoot td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    /* Quitar tono salmón del detalle */
    #resultados tbody tr td {
      background: #fff !important;
      color: #1f3556;
    }
    #resultados tbody tr:nth-child(even) td {
      background: #f8fbff !important;
    }
    #resultados tbody tr.danger td {
      background: #fff !important;
      color: #1f3556 !important;
    }
    #resultados tfoot tr.danger td {
      background: #fff !important;
      color: #1f3556 !important;
    }
    #resultados tfoot td {
      background: #fff !important;
      color: #1f3556 !important;
    }
    .dataTables_wrapper .dataTables_scrollFoot tfoot tr.danger td,
    .dataTables_wrapper .dataTables_scrollFoot tfoot td {
      background: #fff !important;
      color: #1f3556 !important;
    }
  </style>
  <div class="text-center" id="messages">
    <h3 id="loading" style="display: none;">Cargando...</h3>

    <h3 id="empty" style="display: none;">No hay datos disponibles</h3>
  </div>
    
  <div id="table-div" class="report-compact">
  
  </div>
  <br>
  {% include 'finanzas/balancegeneral_comprobado_metodos.html' %}
{% endblock %}
