{% extends 'finanzas/base.html' %}

{% block header %}
  Balance General:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    <div class="col-sm-6">
      <div class="form-group">
        <label for="periodo" class="col-md-4 control-label">Periodo:</label>

        <div class="col-md-6">
          <div class="input-date input-group" id="periodo">
            <input type="text" class="form-control" name="periodo">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" onclick="buscarCuenta()">Filtrar Ctas.</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% include 'ventas/_filtro.html' with name="cuentad" placeholder="Cuenta" title="Cta. desde" %}
    {% include 'ventas/_filtro.html' with name="cuentah" placeholder="Cuenta" title="Cta. hasta" %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="fecha" class="col-md-4 control-label">Fecha:</label>

        <div class="col-md-6">
          <div id="fecha" class="input-daterange input-group input-date">
            <input type="text" class="input-sm form-control" name="mesd"/>
            <span class="input-group-addon">a</span>
            <input type="text" class="input-sm form-control" name="mesh"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="nivel" class="col-md-4 control-label">Nivel:</label>

        <div class="col-md-6">
          <div ><input type="text" class="form-control" id="nivel" name="nivel" value="0"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="incluir" class="col-md-4 control-label">Cuentas con saldo cero:</label>

        <div class="col-md-6">
          <input type="checkbox" name="incluir" id="incluir"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="auxiliar" class="col-md-4 control-label">Incluir cuentas auxiliares:</label>

        <div class="col-md-6">
          <input type="checkbox" name="auxiliar" id="auxiliar"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="moneda" class="col-md-4 control-label">Moneda Extranjera:</label>

        <div class="col-md-6">
          <input type="checkbox" name="moneda" id="moneda"/>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block inner_content %}
  <div id="mensaje-div">
  </div>
  
  <div id="table-div">
  
    
  </div>
  {% include 'finanzas/balancegeneral_metodos.html' %}
{% endblock %}