{% extends 'finanzas/base.html' %}

{% block header %}
  Balance de Comprobaci&#243;n:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    <div class="col-sm-6">
      <div class="form-group">
        <label for="periodo" class="col-md-4 control-label">Periodo:</label>

        <div class="col-md-6">
          <div id="periodo" class="input-date">
            <input type="text" class="form-control" name="periodo" onkeydown="return false">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="mes" class="col-md-4 control-label">Mes:</label>

        <div class="col-md-6">
          <div id="mes" class="input-date">
            <input type="text" onkeydown="return false" class="form-control" name="mes">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="nivel" class="col-md-4 control-label">Nivel:</label>

        <div class="col-md-6">
          <div><input type="text" class="form-control" id="nivel" name="nivel" value="0"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="incluir" class="col-md-4 control-label">Cuentas con saldo cero:</label>

        <div class="col-md-6">
          <input type="checkbox" name="incluir" id="incluir"/>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="moneda" class="col-md-4 control-label">Moneda Extranjera:</label>

        <div class="col-md-6">
          <input type="checkbox" name="moneda" id="moneda"/>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block inner_content %}
  <div id="mensaje-div">
  </div>
    
  <div id="table-div">
  
  </div>
  <br>
  {% include 'finanzas/balancegeneral_comprobado_metodos.html' %}
{% endblock %}
