{% extends 'finanzas/base.html' %}

{% block header %}
  Activo Fijo:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with name="empresa" %}
  {% include 'ventas/_filtro.html' with name="sucursal" %}
  <div class="col-sm-6">
    <div class="form-group">
      <label for="periodo" class="col-md-4 control-label">Periodo:</label>

      <div class="col-md-6">
        <div class="input-date" id="periodo"><input type="text" class="form-control" name="year"></div>
      </div>
    </div>
  </div>
  {% include 'ventas/_filtro.html' with name="estado" %}
  {% include 'ventas/_filtro.html' with name="rubro" %}
  {% include 'ventas/_filtro.html' with name="subrubro" %}
  {% include 'ventas/_filtro.html' with name="articulo" %}
  {% include 'ventas/_filtro.html' with name="proveedor" %}

  <div class="col-sm-6">
    <div class="form-group">
      <label for="ventas" class="col-md-4 control-label">Ventas:</label>

      <div class="col-md-6">
        <div id="ventas" class="input-daterange input-group input-date">
          <input type="text" class="input-sm form-control" name="start"/>
          <span class="input-group-addon">hasta</span>
          <input type="text" class="input-sm form-control" name="end"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="compras" class="col-md-4 control-label">Compras:</label>

      <div class="col-md-6">
        <div id="compras" class="input-daterange input-group input-date">
          <input type="text" class="input-sm form-control" name="start"/>
          <span class="input-group-addon">hasta</span>
          <input type="text" class="input-sm form-control" name="end"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="revaluable" class="col-md-4 control-label">Revaluable:</label>

      <div class="col-md-6">
        <input type="checkbox" name="revaluable" id="revaluable" checked/>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="despreciable" class="col-md-4 control-label">Despreciable:</label>

      <div class="col-md-6">
        <input type="checkbox" name="despreciable" id="despreciable" checked/>
      </div>
    </div>
  </div>
{% endblock %}

{% block table %}
  <thead>
  <tr>
    <th class="text-center">Codigo</th>
    <th>Descripcion</th>
    <th>Estado</th>
    <th>Rubro</th>
    <th>Subrubro</th>
    <th class="text-center">Fecha de Compra</th>
    <th class="price-label">Costo (Local)</th>
    <th class="price-label">Costo (Extranjera)</th>
  </tr>
  </thead>
{% endblock %}

{% block extra_foot %}
  <script>
    var query = {};

    var api = u.getApiUrl();
    var $results = $('#results');
    var $preview = $('#preview');
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_sucursal, $select_sucursal;
    var select_rubro, $select_rubro;
    var select_subrubro, $select_subrubro;
    var select_articulo, $select_articulo;
    var select_proveedor, $select_proveedor;
    var select_estado, $select_estado;
    var xhr;

    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      initialize();
      select_empresa = $select_empresa[0].selectize;

      select_sucursal = $select_sucursal[0].selectize;
      select_sucursal.disable();
      select_rubro = $select_rubro[0].selectize;
      select_rubro.disable();
      select_subrubro = $select_subrubro[0].selectize;
      select_subrubro.disable();
      select_articulo = $select_articulo[0].selectize;
      select_articulo.disable();
      select_proveedor = $select_proveedor[0].selectize;
      select_proveedor.disable();
    });

    function init() {
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }}, function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_rubro.disable();
          select_rubro.clearOptions();
          select_articulo.disable();
          select_articulo.clearOptions();
          select_proveedor.disable();
          select_proveedor.clearOptions();
          select_rubro.load(function (callback) {
            xhr && xhr.abort();
            xhr = $.ajax({
              url: api + 'empresas/' + query.empresa + '/rubros',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_rubro.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_articulo.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/articulos',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_articulo.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_proveedor.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/proveedores',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_proveedor.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_sucursal.load(function (callback) {
            $.ajax({
              url: api + 'sucursal/select/' + query.empresa,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_sucursal.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_rubro = $('#select-rubro').selectize({
        valueField: 'codrubro',
        labelField: 'descrip',
        searchField: 'descrip',
        onChange: function (value) {
          query.rubro = value;
          debug();
          if (!value.length) return;
          select_subrubro.disable();
          select_subrubro.clearOptions();
          select_subrubro.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/rubros/' + query.rubro + '/subrubros',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_subrubro.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_subrubro = $('#select-subrubro').selectize({
        valueField: 'codsubrubro',
        labelField: 'descrip',
        searchField: 'descrip'
      });

      $select_articulo = $('#select-articulo').selectize({
        valueField: 'cod_articulo',
        labelField: 'des_art',
        searchField: 'des_art',
        maxItems: null
      });

      $select_proveedor = $('#select-proveedor').selectize({
        valueField: 'CodProv',
        labelField: 'RazonSocial',
        searchField: 'RazonSocial',
        maxItems: null
      });

      $select_sucursal = $('#select-sucursal').selectize({
        valueField: 'Cod_Sucursal',
        labelField: 'Des_Sucursal',
        searchField: 'Des_Sucursal'
      });

      $select_estado = $('#select-estado').selectize({
        allowEmptyOption: true,
        options: [
          {value: 'T', text: 'Todos'},
          {value: 'A', text: 'Activo'},
          {value: 'I', text: 'Inactivo'},
          {value: 'B', text: 'De Baja'}
        ]
      });

      $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
      });

      $('#periodo .form-control').datepicker({
        format: "yyyy",
        startView: 2,
        minViewMode: 2,
        maxViewMode: 2,
        language: "es",
        autoclose: true,
        orientation: "bottom auto"
      });

      $('.input-date .form-control').datepicker().on('changeDate', function (e) {
        query[this.parentElement.id + '_' + this.name] = this.value;
        debug();
      });

      $('.input-date .form-control').datepicker('setDate', today);
      $('.input-date .form-control').datepicker('update');
    }

    function debug() {
      $preview.text(JSON.stringify(query));
      console.log("debug", query);
    }

    function getInforme() {
      $('.collapse').collapse('hide');
      $results.show();

      var revaluable = $("[name=revaluable]")[0].checked;
      var despreciable = $("[name=despreciable]")[0].checked;

      if (!$.fn.DataTable.isDataTable('#results')) {
        $('#results').DataTable({
          language: u.spanish_dt,
          ajax: {
            url: api + 'empresas/' + query.empresa + '/informes/activo',
            data: function () {
              return query;
            }
          },
          deferRender: true,
          scrollY: 400,
          scrollCollapse: true,
          scroller: {
            displayBuffer: 30,
            loadingIndicator: true
          },
          columnDefs: [
            {className: "price-value", targets: "price-label"},
            {render: $.fn.dataTable.render.number('.', ',', 2), targets: "price-label"},
            {className: "text-center", targets: "text-center"},
            {visible: false, targets: "grouping-col"}
          ],
          columns: [
            {data: 'codactivo'},
            {data: 'comentario'},
            {data: 'estado'},
            {data: 'RUBROORIGINAL_DESCRIP'},
            {data: 'SUBRUBROORIGINAL_DESCRIP'},
            {data: 'fechacompra'},
            {data: 'costocompra'},
            {data: 'costocomprame'}
          ],
          searching: false,
          ordering: false,
        });
        $results.show();
      } else {
        var table = $('#results').DataTable();
        var $resultado = $('#resultado');
        table.row(0).scrollTo();
        $resultado.css("position", "absolute").css("left", -9999);
        table.ajax.url(api + 'empresas/' + query.empresa + '/informes/activo').load(function () {
          $resultado.css("position", "relative").css("left", 0);
        });
      }
    }
  </script>
{% endblock %}