<script type="text/javascript">
  var query = {};
  var api = u.getApiUrl();
  var pad = 0;
  var cuenta = 0;
  var today = new Date();

  var select_empresa, $select_empresa;
  var select_cuentad, $select_cuentad;
  var select_cuentah, $select_cuentah;
  var addCommas = u.addCommas;

  var select_cuenta_auxd, $select_cuenta_auxd;
  var select_cuenta_auxh, $select_cuenta_auxh;
  var $moneda, $nivel;
  
  var $messages, $loading, $empty;

  $(document).ready(function () {
    u.hideNav();
    initDate();
    initSelects();
    
    $messages = $("#messages");
    $loading = $messages.find("#loading");
    $empty = $messages.find("#empty");

    $moneda = $("#moneda");
    $nivel = $("#nivel");
  });

  function initDate() {
    u.defaultDatepicker();

    $('#periodo .form-control').datepicker({
      format: "yyyy",
      startView: 2,
      minViewMode: 2,
      maxViewMode: 2,
      autoclose: true
    });

    $('.input-daterange').datepicker({
      todayBtn: "linked",
      startView: 1,
      minViewMode: 1,
      maxViewMode: 1,
      format: "MM"
    });

    $('.input-daterange .form-control').datepicker().on('changeDate', function (e) {
      query[this.name] = e.format('mm');
    });

    $('#periodo .form-control').datepicker().on('changeDate', function (e) {
      query[this.name] = this.value;
      buscarCuenta();
    });

    $('.input-date .form-control').datepicker('setDate', today);
    $('.input-date .form-control').datepicker('update');
  }

  function initSelects() {
    $.extend(true, $.fn.selectize.defaults, {
      onChange: function (value) {
        query[this.$input.attr('name')] = value;
      }
    });

    $select_empresa = $('#select-empresa').selectize({
      valueField: 'Cod_Empresa',
      labelField: 'Des_Empresa',
      searchField: 'Des_Empresa',
      onChange: function (value) {
        query.empresa = value;
        buscarCuenta();
      }
    });
    select_empresa = $select_empresa[0].selectize;
    select_empresa.load(function (callback) {
      u.get_empresas({{ user }}, function (d) {
        callback(d.data);
      });
    });

    $select_cuentad = $('#select-cuentad').selectize({
      valueField: 'CodPlanCta',
      labelField: 'Nombre',
      searchField: 'Nombre',
      onChange: function (value) {
        query.cuentad = value;
        buscarCuentaAuxiliar();
      }
    });
    select_cuentad = $select_cuentad[0].selectize;
    select_cuentad.disable();

    $select_cuentah = $('#select-cuentah').selectize({
      valueField: 'CodPlanCta',
      labelField: 'Nombre',
      searchField: 'Nombre',
      onChange: function (value) {
        query.cuentah = value;
        buscarCuentaAuxiliar();
      }
    });
    select_cuentah = $select_cuentah[0].selectize;
    select_cuentah.disable();

    var selectAux = {
      valueField: 'CodPlanAux',
      searchField: ['Nombre', 'CodPlanAux'],
      render: {
        option: function (item, escape) {
          return '<div>' + escape(item.CodPlanAux) + ' - ' + escape(item.Nombre) + '</div>';
        },
        item: function (item, escape) {
          return '<div>' + escape(item.CodPlanAux) + ' - ' + escape(item.Nombre) + '</div>';
        }
      },
      load: function (q, cb) {
        if (!q.length) return cb();
        $.ajax({
          method: 'GET',
          url: api + 'empresas/' + query.empresa + '/auxiliares',
          data: {filter: q, periodo: query.periodo, cuentad: query.cuentad, cuentah: query.cuentah}
        }).done(function (res) {
          cb(res.data);
        }).fail(function () {
          cb();
        });
      }
    };

    $select_cuenta_auxd = $('#select-cuenta-aux-d').selectize(selectAux);
    $select_cuenta_auxh = $('#select-cuenta-aux-h').selectize(selectAux);

    select_cuenta_auxd = $select_cuenta_auxd[0].selectize;
    select_cuenta_auxd.disable();

    select_cuenta_auxh = $select_cuenta_auxh[0].selectize;
    select_cuenta_auxh.disable();
  }

  function getInforme() {
    $('#table-div').hide()
    var empresa = query.empresa;
    var periodo = query.periodo;
    var cuentad = query.cuentad;
    var cuentah = query.cuentah;
    var cuentaad = query['cuenta-aux-d'];
    var cuentaah = query['cuenta-aux-h'];
    var mesd = query.desde;
    var mesh = query.hasta;
    var moneda = $moneda.prop('checked');
    var nivel = $nivel.val();

    if (nivel == "" || nivel == null || nivel == " " || nivel == '0')
      nivel = 0;

    if (moneda == true) {
      moneda = "ME"
    } else {
      moneda = "LO"
    }

    if (cuentaad == null || cuentaad == "")
      cuentaad = "NINGUNA"

    if (cuentaah == null || cuentaah == "")
      cuentaah = "NINGUNA"

    if (periodo == "" || periodo == null || periodo == " ") {
      alert("No hay datos suficientes para generar el listado")
    } else {
      $('.collapse').collapse('hide')
      $('#table-div').empty()
      $('#table-div').show()
      $loading.show();
      $empty.hide();
      $.get(api + "centrocostos/list/" + empresa + "/" + periodo + "/" + cuentad + "/" + cuentah + "/" + cuentaad + "/" + cuentaah + "/" + mesd + "/" + mesh + "/" + nivel,
              function (data) {
                if (data.data.length > 0) {
                  var cols = ['Cuentas']
                  var accounts = []
                  var rows = []
                  for (var a = 0; a < data.data.length; a++) {
                    if ($.inArray(data.data[a].CodPlanAux + ' - ' + data.data[a].PlanAuxi_Nombre, cols) == -1)
                      cols.push(data.data[a].CodPlanAux + ' - ' + data.data[a].PlanAuxi_Nombre)
                  }
                  cols.push('Total')
                  for (var a = 0; a < data.data.length; a++) {
                    if ($.inArray(data.data[a].CodPlanCta + '-' + data.data[a].Nombre, accounts) == -1) {
                      accounts.push(data.data[a].CodPlanCta + '-' + data.data[a].Nombre)
                    }
                  }
                  accounts.push('Total')
                  //alert(cols)
                  //alert(accounts)
                  var string = '<table id="resultados" class="span4 table table-striped table-hover table-bordered table-filter scroll"><thead><tr>'
                  for (var e = 0; e < cols.length; e++) {
                    string += '<th style="text-align: right;">' + cols[e] + '</th>'
                  }
                  string += '</tr></thead><tbody></tbody></table>'

                  $('#table-div').append(string)

                  var string1 = "";
                  var total_row = cols.length
                  for (var a = 0; a < accounts.length; a++) {
                    if (a == (total_row - 1)) {
                      string1 += '<tr><td><b>' + accounts[a] + '</b></td>'
                    } else {
                      string1 += '<tr><td>' + accounts[a] + '</td>'
                    }
                    var total_row = accounts.length
                    for (var b = 1; b < cols.length; b++) {
                      if (a == (total_row - 1)) {
                        string1 += '<th style="text-align: right;" class="' + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + ' ' + cols[b].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + '" id="' + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + '-' + cols[b].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + '"></th>'
                      } else {
                        string1 += '<td style="text-align: right;" class="' + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + ' ' + cols[b].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + '" id="' + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + '-' + cols[b].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + '"></td>'
                      }
                    }
                    string1 += '</tr>';
                  }
                  $('#resultados tbody').html(string1)
                  for (e = 0; e < data.data.length; e++) {

                    if (moneda == "LO") {
                      if (data.data[e].TipoSaldo == "D") {
                        $("[id='" + data.data[e].CodPlanCta.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].Nombre.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].CodPlanAux.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].PlanAuxi_Nombre.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "']").text(convertir_rever((data.data[e].sum_TotalDb - data.data[e].sum_TotalCr).toString()));
                      } else {
                        $("[id='" + data.data[e].CodPlanCta.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].Nombre.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].CodPlanAux.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].PlanAuxi_Nombre.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "']").text(convertir_rever((data.data[e].sum_TotalCr - data.data[e].sum_TotalDb).toString()));
                      }
                    } else {
                      if (data.data[e].TipoSaldo == "D") {
                        $("[id='" + data.data[e].CodPlanCta.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].Nombre.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].CodPlanAux.toString().split(' ').join('') + "-" + data.data[e].PlanAuxi_Nombre.toString().split(' ').join('') + "']").text(addCommas((Math.round((data.data[e].sum_TotalDbME - data.data[e].sum_TotalCrME) * 100) / 100).toString()));
                      } else {
                        $("[id='" + data.data[e].CodPlanCta.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].Nombre.toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-" + data.data[e].CodPlanAux.toString().split(' ').join('') + "-" + data.data[e].PlanAuxi_Nombre.toString().split(' ').join('') + "']").text(addCommas((Math.round((data.data[e].sum_TotalCrME - data.data[e].sum_TotalDbME) * 100) / 100).toString()));
                      }
                    }
                  }
                  for (var a = 0; a < accounts.length - 1; a++) {
                    var total = 0;
                    $("." + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('')).each(function () {
                      if (moneda == "LO") {
                        if ($(this).text() != null && $(this).text() != "")
                          total += parseInt($(this).text().split('.').join(''));
                      } else {
                        if ($(this).text() != null && $(this).text() != "")
                          total += parseFloat($(this).text().split('.').join('').replace(',', '.'));
                      }
                    });
                    if (moneda == "LO") {
                      $("[id='" + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-Total']").text(convertir_rever(total))
                    } else {
                      $("[id='" + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "-Total']").text(addCommas((Math.round((total) * 100) / 100).toString()))
                    }
                  }
                  for (var a = 1; a < cols.length; a++) {
                    var total = 0
                    $("." + cols[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('')).each(function () {
                      if (moneda == "LO") {
                        if ($(this).text() != null && $(this).text() != "")
                          total += parseInt($(this).text().split('.').join(''));
                      } else {
                        if ($(this).text() != null && $(this).text() != "")
                          total += parseFloat($(this).text().split('.').join('').replace(',', '.'));
                      }
                    });
                    if (moneda == "LO") {
                      $("[id='Total-" + cols[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "']").text(convertir_rever(total))
                    } else {
                      $("[id='Total-" + cols[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + "']").text(addCommas((Math.round((total) * 100) / 100).toString()))
                    }
                  }
                  var total = 0;
                  for (var a = 0; a < accounts.length - 1; a++) {
                    if (moneda == "LO") {
                      total += parseInt($("." + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + ".Total").text().split('.').join(''));
                    } else {
                      total += parseFloat($("." + accounts[a].toString().split(' ').join('').split('.').join('').split('/').join('').split('$').join('').split('`').join('').split('&').join('') + ".Total").text().split('.').join('').replace(',', '.'));
                    }
                  }
                  if (moneda == "LO") {
                    $("[id='Total-Total']").text(convertir_rever(total))
                  } else {
                    $("[id='Total-Total']").text(addCommas((Math.round((total) * 100) / 100).toString()))
                  }
                } else {
                  $('#table-div').empty()
                   $empty.show();
                }
                $loading.hide();
              }
      );
    }
  }

  function buscarCuenta() {
    // resetear selects
    u.resetSelect(select_cuentad);
    u.resetSelect(select_cuentah);
    if (!query.empresa || !query.empresa.length || !query.periodo || !query.periodo.length) return;

    $.ajax({
      url: api + 'cuenta/select/' + query.empresa + '/' + query.periodo,
      method: 'GET'
    }).done(function (d) {
      //cargar resultados y habilitar options
      select_cuentad.load(function (cb) {
        cb(d.data);
        select_cuentad.enable();
      });

      select_cuentah.load(function (cb) {
        cb(d.data);
        select_cuentah.enable();
      });
    }).fail(function () {
      select_cuentad.load(function (cb) {
        cb();
      });
      select_cuentah.load(function (cb) {
        cb();
      });
    });
  }

  function buscarCuentaAuxiliar() {
    u.resetSelect(select_cuenta_auxd);
    u.resetSelect(select_cuenta_auxh);
    if (!query.cuentad || !query.cuentad.length || !query.cuentah || !query.cuentah.length) return;
    select_cuenta_auxd.enable();
    select_cuenta_auxh.enable();
  }
</script>

