<style>

</style>

<script type="text/javascript">

var aux1 = null
var current_asiento = 0
var total_debito = 0
var total_credito = 0 
var total_debito_me = 0 
var total_credito_me = 0  
 
$(document).ready(function() {
	$('#page-wrapper').css('margin-left','0px');
    $('#my-left-menu').toggle(0);
	var url = window.location.href
	
	aux = url.toString().split("http://")
	aux1 = aux[1].toString().split(":8000")
	
    $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "Oops, nothing found!",
        width: "200px",
        allow_single_deselect: true
     	});
});

function renewDatePickers() {
    $('.datepicker').datepicker('destroy');
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
}

$(renewDatePickers);
$.datepicker.regional['es'] = {
	closeText: 'Cerrar',
	prevText: '<Ant',
	nextText: 'Sig>',
	currentText: 'Hoy',
	monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
	dateFormat: 'yy/mm/dd',
	firstDay: 1,
	isRTL: false,
	showMonthAfterYear: false,
	yearSuffix: ''
};
$.datepicker.setDefaults($.datepicker.regional["es"]);

function remover(selectbox){
    var i;
    for(i=selectbox.options.length-1;i>=0;i--)
    {
        selectbox.remove(i);
    }
} 

function SelectElement(value,name){    
    var element = document.getElementsByName(name)[0];
    element.value = value;
}


function buscar(){
	var empresa = $("[name=empresa]").val()
	//var periodo = $("[name=periodo]").val()
	var desde = $("[name=fechad]").val()
	var hasta = $("[name=fechah]").val()
	var tipoasiento = $("[name=tipoasiento]").val()
	var autorizado = $("[name=autorizado]").val()
	var moneda = $("[name=moneda]").val()
	
	//if (periodo == "" || periodo == null || periodo == " "){
	//	alert("No hay datos suficientes para generar el listado")
	//} else {
		$('.collapse').collapse('hide')
		$.get("http://"+aux1[0]+":3000/api/v1/diariocomprobado/list/"+empresa+"/"+tipoasiento+"/"+desde+"/"+hasta+"/"+autorizado,
					    function(data) 	{
					    	if (data != null){
					    		$('#table-div').empty()
					    		console.log(data)
					    		var string = ""
					    		for (var a=0;a < data.data.length;a++){
					    			if (parseInt(data.data[a].nroasiento) != parseInt(current_asiento)){
					    					 if (total_debito > 0 || total_credito > 0 || total_debito_me > 0 || total_credito_me > 0){
						    					 if (moneda == 'AM'){
				    									string+='<tr><td colspan="6" style="text-align: right;"> TOTALES</td>'+
				    											'<td style="text-align: right;">'+convertir_rever(total_debito)+'</td>'+
				    											'<td style="text-align: right;">'+convertir_rever(total_credito)+'</td>'+
				    											'<td style="text-align: right;">'+(total_debito_me)+'</td>'+
				    											'<td style="text-align: right;">'+(total_credito_me)+'</td></tr>'
				    								} else if (moneda == 'LO') {
				    									string+='<tr><td colspan="6" style="text-align: right;"> TOTALES</td>'+
				    											'<td style="text-align: right;">'+convertir_rever(total_debito)+'</td>'+
				    											'<td style="text-align: right;">'+convertir_rever(total_credito)+'</td></tr>'
				    								} else {
				    									string+='<tr><td colspan="6" style="text-align: right;"> TOTALES</td>'+
				    											'<td style="text-align: right;">'+(total_debito_me)+'</td>'+
				    											'<td style="text-align: right;">'+(total_credito_me)+'</td></tr>'
				    								}
				    							}
					    					 string+='</table></div>'
					    					 string+='<div id="asiento-'+data.data[a].nroasiento+'">'+
					    								'<table class="table table-striped table-hover table-bordered table-filter scroll" tyle="width:90%">'+
					    									'<td style="width:8%"><b>Tipo Cbte.:</b></td>'+
					    									'<td>'+data.data[a].TIPOASIENTO+'</td>'+
					    									'<td style="width:10%"><b>Nro. de Cbte.:</b></td>'+
					    									'<td style="width:12%">'+data.data[a].NroCompr+'</td>'+
					    									'<td style="width:12%"><b>Nro. De Transac.:</b></td>'+
					    									'<td style="width:8%">'+data.data[a].NroTransac+'</td>'+
					    									'<td style="width:12%"><b>Fecha De Transac.:</b></td>'+
					    									'<td style="width:8%">'+data.data[a].Fecha+'</td>'+
					    								'</table>'+
					    								'<table style="width:100%" class="table table-striped"><tr>'
					    								if (moneda == 'AM'){
					    									string+='<th>Sec.</th><th>Cuenta</th><th></th><th>Auxiliar</th><th></th><th>Concepto</th><th>Debe M.L.</th><th>Haber M.L.</th><th>Debe M.E.</th><th>Haber M.E.</th></tr>'
					    								} else {
					    									string+='<th>Sec.</th><th>Cuenta</th><th></th><th>Auxiliar</th><th></th><th>Concepto</th><th>Debe</th><th>Haber</th></tr>'
					    								}
					    								
					    					total_debito = 0
											total_credito = 0 
											total_debito_me = 0 
											total_credito_me = 0  
					    			}	
					    					total_debito+= parseInt(data.data[a].DEBITO)
											total_credito+= parseInt(data.data[a].CREDITO) 
											total_debito_me+= parseFloat(data.data[a].DEBITO_ME)
											total_credito_me+= parseFloat(data.data[a].CREDITO_ME)
											
				    						string+='<tr>'+
				    									'<td>'+data.data[a].Linea+'</td>'+
				    									'<td>'+data.data[a].CodPlanCta+'</td>'+
				    									'<td>'+data.data[a].NOMBRECUENTA+'</td>'
				    									if (data.data[a].CodPlanAux != null) {
				    										string+='<td>'+data.data[a].CodPlanAux+'</td>'+
				    												'<td>'+data.data[a].NOMBRECUENTAAUX+'</td>'
				    									} else {
				    										string+='<td>&nbsp;</td>'+
				    												'<td>&nbsp;</td>'
				    									}
				    									string+='<td>'+data.data[a].Concepto+'</td>'
				    									if (moneda == 'AM'){
					    									string+='<th style="text-align: right;">'+convertir_rever(data.data[a].DEBITO)+'</th>'+
					    											'<th style="text-align: right;">'+convertir_rever(data.data[a].CREDITO)+'</th>'+
					    											'<th style="text-align: right;">'+(data.data[a].DEBITO_ME)+'</th>'+
					    											'<th style="text-align: right;">'+(data.data[a].CREDITO_ME)+'</th>'
					    								} else if (moneda == 'LO') {
					    									string+='<th style="text-align: right;">'+convertir_rever(data.data[a].DEBITO)+'</th>'+
					    											'<th style="text-align: right;">'+convertir_rever(data.data[a].CREDITO)+'</th>'
					    								} else {
					    									string+='<th style="text-align: right;">'+(data.data[a].DEBITO_ME)+'</th>'+
					    											'<th style="text-align: right;">'+(data.data[a].CREDITO_ME)+'</th>'
					    								}
			    									'</tr>'
					    			current_asiento = parseInt(data.data[a].nroasiento)
					    			
					    		}
					    		$('#table-div').append(string); 
					    		total_debito = 0
								total_credito = 0 
								total_debito_me = 0 
								total_credito_me = 0  
					    	}
					    }
					);
	//}
}

/*function cambiar_periodo(a){
	var desde = $("[name=fechad]").val()
	var hasta = $("[name=fechah]").val()
	
	var vector_desde = desde.toString().split("-")
	var vector_hasta = hasta.toString().split("-")
	
	$("[name=fechad]").val(a+"-"+vector_desde[1]+"-"+vector_desde[2])
	$("[name=fechah]").val(a+"-"+vector_hasta[1]+"-"+vector_hasta[2])
}*/


window.onload = function() {
	
	 $.get("http://"+aux1[0]+":3000/api/v1/empresa/select",
		    function(data) {
		    	if (data != null){
		    		var select = document.getElementsByName("empresa")[0]
		    		remover(select);
					for (var i=0;i < data.data.length;i++){
						var option = document.createElement("option");
						option.value = data.data[i].Cod_Empresa;
						option.text = data.data[i].Des_Empresa;
						select.add(option);
					}
					SelectElement(data.data[0].Cod_Empresa,'empresa')
									
					$.get("http://"+aux1[0]+":3000/api/v1/tipoasiento/select/",
					    function(data) 	{
					    	if (data != null){
					    		var select = document.getElementsByName("tipoasiento")[0]
					    		remover(select);
					    		var option = document.createElement("option");
								option.text = "NINGUNO";
								select.add(option);
								for (var i=0;i < data.data.length;i++){
									var option = document.createElement("option");
									option.value = data.data[i].TipoAsiento;
									option.text =data.data[i].Descrip;
									select.add(option);
								}
								SelectElement(data.data[0].TipoAsiento,'tipoasiento')
								$('.chosen-select').trigger('chosen:updated');
					    	}
					    }
					);  
					
		    	}
		    }
		); 
  
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	
	if(dd<10) {
	    dd='0'+dd
	} 
	
	if(mm<10) {
	    mm='0'+mm
	} 
	
	today = yyyy+'-'+mm+'-'+dd; 
	
	$('[name=fechad]').val(today)
	$('[name=fechah]').val(today)
	
	///mountperiodo = yyyy
	
	//$('[name=periodo]').val(mountperiodo)
};
</script>