{% extends 'finanzas/base.html' %}

{% block header %}
  Diario:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with name="empresa" %}
  {% include 'ventas/_filtro.html' with name="tipoAsiento" title="Tipo Asiento" placeholder="Tipo" %}
  <div class="col-sm-6">
    <div class="form-group">
      <label for="fecha" class="col-md-4 control-label">Fecha:</label>

      <div class="col-md-6">
        <div id="fecha" class="input-daterange input-group input-date">
          <input type="text" class="form-control" name="fechad"/>
          <span class="input-group-addon">a</span>
          <input type="text" class="form-control" name="fechah"/>
        </div>
      </div>
    </div>
  </div>
  {% include 'ventas/_filtro.html' with name="autorizado" title="Asientos Autorizados" placeholder="Asientos" %}
  {% include 'ventas/_filtro.html' with name="moneda" %}
{% endblock %}

{% block inner_content %}
  <style>
    #table-div table.diario-table-compact thead th {
      font-size: 11px;
      padding: 5px 6px;
      white-space: nowrap;
    }
    #table-div table.diario-table-compact tbody td,
    #table-div table.diario-table-compact tbody th,
    #table-div table.diario-table-compact tfoot td {
      font-size: 11px;
      padding: 4px 6px;
      white-space: nowrap;
    }
  </style>
  <div class="text-center" id="messages">
    <h3 id="loading" style="display: none;">Cargando...</h3>

    <h3 id="empty" style="display: none;">No hay datos disponibles</h3>
  </div>
  
  <div id="table-div">
      
  </div>
  {% include 'finanzas/diario_comprobado_metodos.html' %}
{% endblock %}
