{% extends 'finanzas/base.html' %}

{% block header %}
  Diario:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with name="empresa" %}
  {% include 'ventas/_filtro.html' with name="tipoAsiento" title="Tipo Asiento" placeholder="Tipo" %}
  <div class="col-sm-6">
    <div class="form-group">
      <label for="fecha" class="col-md-4 control-label">Fecha:</label>

      <div class="col-md-6">
        <div id="fecha" class="input-daterange input-group input-date">
          <input type="text" class="form-control" name="fechad"/>
          <span class="input-group-addon">a</span>
          <input type="text" class="form-control" name="fechah"/>
        </div>
      </div>
    </div>
  </div>
  {% include 'ventas/_filtro.html' with name="autorizado" title="Asientos Autorizados" placeholder="Asientos" %}
  {% include 'ventas/_filtro.html' with name="moneda" %}
{% endblock %}

{% block inner_content %}
  <div id="table-div"></div>
  <br>
  {% include 'finanzas/diario_comprobado_metodos.html' %}
{% endblock %}
