{% extends 'admin/base_site.html'%}

{% block extrahead %}
	<link rel="stylesheet" href="/static/css/jquery-ui.css"> 
    <link rel="stylesheet" href="/static/chosen_v1.4.2/chosen.css">
    <link rel="stylesheet" href="/static/chosen_v1.4.2/docsupport/prism.css">
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/puntos-decimales.js"></script>
    <script src="/static/js/jquery.maskedinput.min.js"></script>
    <script src="/static/chosen_v1.4.2/chosen.jquery.js"></script>
	<script src="/static/chosen_v1.4.2/docsupport/prism.js"></script> 
	{% include 'finanzas/diario_comprobado_metodos.html' %}
{% endblock %}

{% block header %}
	Diario de Comprobaci&#243;n: 
{% endblock %}

{% block content %}
	<div class="panel-group" id="accordion" >
	    <div class="panel panel-default">
	        <div class="panel-heading"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	            <h4 class="panel-title">
	               Filtros
	            </h4>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse">
	            <div class="panel-body">
					<div class="panel-group" id="archivo_accordion" style="margin-bottom: 0px;">
						<div class="row show-grid">
						   <div style="text-align:center;" class="col-md-4 col-sm-4">
						  		<th style="vertical-align: middle;">
									<b>
										Empresa:
									</b>
								</th>
								<td>
									<select name="empresa" data-placeholder="Empresa..." onchange="buscar_comprobante();buscar_sucursal();" class="chosen-select" tabindex="2">
						          	</select>
								</td>
							</div>
							<div style="text-align:center;" class="col-md-4 col-sm-4">
					   			<th style="vertical-align: middle;">
									<b>
										Per&#237;odo:
									</b>
								</th>
								<td>
									<input style="width:50px" type="text" name="periodo" >
								</td>
							</div>
							<div style="text-align:center;" class="col-md-4 col-sm-4">
						  		<th style="vertical-align: middle;">
									<b>
										Tipo Asiento:
									</b>
								</th>
								<td>
									<select name="tipoasiento" data-placeholder="Tipo..." class="chosen-select" tabindex="2">
						          	</select>
								</td>
							</div>
						</div>
						<div class="row show-grid">
						   <div style="text-align:center;" class="col-md-6 col-sm-6">
						   		<th style="vertical-align: middle;">
									<b>
										Desde:
									</b>
								</th>
								<td>
									<input type="text" class="datepicker" name="fechad" >
								</td>
						   </div>
						    <div style="text-align:center;" class="col-md-6 col-sm-6">
						   		<th style="vertical-align: middle;">
									<b>
										Hasta:
									</b>
								</th>
								<td>
									<input type="text" class="datepicker" name="fechah" >
								</td>
						   </div>
						</div>
						<div class="row show-grid">
						   <div style="text-align:center;" class="col-md-6 col-sm-6">
						   		<th style="vertical-align: middle;">
							   		<b>
										Moneda:
									</b>
								</th>
								<td>
									<select name="moneda" data-placeholder="Tipo..." class="chosen-select" tabindex="2">
							   			<option selected value="LO">LOCAL</option>
							   			<option value="EX">EXTRANJERA</option>
							   			<option value="AM">AMBAS</option>}
						          	</select>
								</td>
						   </div>
						    <div style="text-align:center;" class="col-md-6 col-sm-6">
						   		<th style="vertical-align: middle;">
									<b>
										Asiento Autorizados:
									</b>
								</th>
								<td>
									<select name="autorizado" data-placeholder="Tipo..." class="chosen-select" tabindex="2">
							   			<option selected value="TO">TODOS</option>
							   			<option value="SI">SI</option>
							   			<option value="NO">NO</option>}
						          	</select>
								</td>
						   </div>
					</div>
				</div>
				</div>
	        </div>
	        <div class="modal-footer">
		        <a type="button" class="btn btn-primary" onclick="buscar()">Filtrar <i class="fa fa-search"></i></a>
	        </div>
	    </div>
	</div> 
	
	<div id="table-div">
    	
    </div>
    <br>
	</br>
{% endblock %}
