{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" href={% static 'css/jquery-ui.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/chosen.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/docsupport/prism.css' %}>
  <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src={% static 'js/jquery-ui.js' %}></script>
  <script src={% static 'js/puntos-decimales.js' %}></script>
  <script src={% static 'js/jquery.maskedinput.min.js' %}></script>
  <script src="{% static 'select2/js/select2.full.min.js' %}"></script>
  <script src={% static 'chosen_v1.4.2/chosen.jquery.js' %}></script>
  <script src={% static 'chosen_v1.4.2/docsupport/prism.js' %}></script>
  <script src={% static 'dajaxice/dajaxice.core.js' %}></script>
  <script src="{% static 'js/utils.js' %}"></script>
{% endblock %}

{% block header %}
  Extracto de Cuentas:
{% endblock %}


{% block content %}
  <br>
  Query
  <pre id="preview"><p></p></pre><br>

  <div class="panel panel-default">
    <div class="panel-header">
      <h4 class="panel-heading">Filtros</h4>
    </div>
    <div class="panel-body">
      <label>Empresa:</label>
      <select name="empresa" data-placeholder="Empresa..." class="chosen-select"
              tabindex="2"></select>

      <label>Sucursal:</label>
      <select name="sucursal" data-placeholder="Sucursal..." class="chosen-select"></select>
      <br>

      <label>Banco:</label>
      <select name="banco" data-placeholder="Banco..." class="chosen-select"></select>

      <br>
      <label>Cuenta:</label>
      <select name="cuenta" data-placeholder="Cuenta..." class="chosen-select"></select>

      <div class="row show-grid">
        <div class="col-sm-6">
          <th><b>Desde:</b></th>
          <td><input id="fechad" type="text" class="datepicker" name="fechad"/></td>
        </div>
        <div class="col-sm-6">
          <th><b>Hasta:</b></th>
          <td><input id="fechah" type="text" class="datepicker" name="fechah"/></td>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_foot %}
  <script>
    var query = {};

    var api = u.getApiUrl();
    var $preview = $('#preview');

    var $results = $('.results');
    var $emptyTable = $('.result-group').clone();

    $(document).ready(function () {
      u.hideNav();
      $results.hide();

      var today = new Date();
      var $datepicker = $('.datepicker');

      $datepicker.datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
          query[inst.id] = dateText;
          $preview.text(JSON.stringify(query));
        }
      });

      u.translate();
      $datepicker.datepicker("setDate", today);
      query.fechad = query.fechah = $.datepicker.formatDate("yy-mm-dd", today);

      $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "No hay resultados disponibles.",
        width: "200px",
        allow_single_deselect: true
      });

      // On select, set query
      $('.chosen-select').on('change', function (evt, params) {
        var select = $(this);
        var select_name = select.attr('name');
        query[select_name] = select.val();
        $preview.text(JSON.stringify(query));
      });

      // On select empresa, get bancos, sucursales
      $('[name=empresa]').on('change', function (ev, params) {
        $.get(api + 'empresas/' + query.empresa + '/bancos').done(function (d) {
          u.createSelect('banco', d, 'codbanco', 'descrip', false);
          $('.chosen-select').trigger('chosen:updated');
        });
        $.get(api + '/sucursal/select/' + query.empresa).done(function (d) {
          u.createSelect('sucursal', d, 'Cod_Sucursal', 'Des_Sucursal');
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      // On select banco, get cuentas
      $('[name=banco]').on('change', function (ev, params) {
        $.get(api + 'empresas/' + query.empresa + '/cuentas/' + query.banco).done(function (d) {
          u.createSelect('cuenta', d, 'cuentabanco', 'nombre', false);
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      u.get_empresas({{ user }}, function (d) {
        u.createSelect('empresa', d, 'Cod_Empresa', 'Des_Empresa');
        $('.chosen-select').trigger('chosen:updated');
      });

    });
  </script>
{% endblock %}