{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" href={% static 'css/jquery-ui.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/chosen.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/docsupport/prism.css' %}>
  <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src={% static 'js/jquery-ui.js' %}></script>
  <script src={% static 'js/puntos-decimales.js' %}></script>
  <script src={% static 'js/jquery.maskedinput.min.js' %}></script>
  <script src="{% static 'select2/js/select2.full.min.js' %}"></script>
  <script src={% static 'chosen_v1.4.2/chosen.jquery.js' %}></script>
  <script src={% static 'chosen_v1.4.2/docsupport/prism.js' %}></script>
  <script src={% static 'dajaxice/dajaxice.core.js' %}></script>
  <script src="{% static 'js/utils.js' %}"></script>
{% endblock %}

{% block header %}
  Extracto de Cuentas:
{% endblock %}


{% block content %}
  <br>
  Query
  <pre id="preview"><p></p></pre><br>

  <div class="panel panel-default">
    <div class="panel-header">
      <h4 class="panel-heading">Filtros</h4>
    </div>
    <div class="panel-body">
      <label>Empresa:</label>
      <select name="empresa" data-placeholder="Empresa..." class="chosen-select"
              tabindex="2"></select>

      <label>Sucursal:</label>
      <select name="sucursal" data-placeholder="Sucursal..." class="chosen-select"></select>
      <br>

      <label>Banco:</label>
      <select name="banco" data-placeholder="Banco..." class="chosen-select"></select>

      <br>
      <label>Cuenta:</label>
      <select name="cuenta" data-placeholder="Cuenta..." class="chosen-select"></select>

      <div class="row show-grid">
        <div class="col-sm-6">
          <th><b>Desde:</b></th>
          <td><input id="fechad" type="text" class="datepicker" name="fechad"/></td>
        </div>
        <div class="col-sm-6">
          <th><b>Hasta:</b></th>
          <td><input id="fechah" type="text" class="datepicker" name="fechah"/></td>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a type="button" class="btn btn-primary" onclick="getInforme()">Filtrar <i class="fa fa-search"></i></a>
    </div>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active" id="deposito"><a href="#">Deposito</a></li>
    <li role="presentation" id="extraccion"><a href="#">Extraccion</a></li>
    <li role="presentation" id="extracto"><a href="#">Extracto</a></li>
  </ul>

  <div class="results">
    <div class="result-group">
      <div class="result-header"></div>
      <table class="table table-striped table-hover table-bordered table-filter scroll">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_foot %}
  <script>
    var query = {
      tab: 'deposito'
    };

    var api = u.getApiUrl();
    var $preview = $('#preview');

    var $results = $('.results');
    var $emptyTable = $('.result-group');

    $(document).ready(function () {
      u.hideNav();
      $results.hide();

      var today = new Date();
      var $datepicker = $('.datepicker');

      $datepicker.datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
          query[inst.id] = dateText;
          $preview.text(JSON.stringify(query));
        }
      });

      $(".nav.nav-pills li").on("click", function (e) {
        $(".nav.nav-pills li.active").removeClass("active");
        $(this).addClass('active');
        query.tab = this.id;
        $preview.text(JSON.stringify(query));
        getInforme();
      });

      u.translate();
      $datepicker.datepicker("setDate", today);
      query.fechad = query.fechah = $.datepicker.formatDate("yy-mm-dd", today);

      $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "No hay resultados disponibles.",
        width: "200px",
        allow_single_deselect: true
      });

      // On select, set query
      $('.chosen-select').on('change', function (evt, params) {
        var select = $(this);
        var select_name = select.attr('name');
        query[select_name] = select.val();
        $preview.text(JSON.stringify(query));
      });

      // On select empresa, get bancos, sucursales
      $('[name=empresa]').on('change', function (ev, params) {
        $.get(api + 'empresas/' + query.empresa + '/bancos').done(function (d) {
          u.createSelect('banco', d, 'codbanco', 'descrip', false);
          $('.chosen-select').trigger('chosen:updated');
        });
        $.get(api + '/sucursal/select/' + query.empresa).done(function (d) {
          u.createSelect('sucursal', d, 'Cod_Sucursal', 'Des_Sucursal');
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      // On select banco, get cuentas
      $('[name=banco]').on('change', function (ev, params) {
        $.get(api + 'empresas/' + query.empresa + '/cuentas/' + query.banco).done(function (d) {
          u.createSelect('cuenta', d, 'cuentabanco', 'nombre', false);
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      u.get_empresas({{ user }}, function (d) {
        u.createSelect('empresa', d, 'Cod_Empresa', 'Des_Empresa');
        $('.chosen-select').trigger('chosen:updated');
      });
    });

    var getInforme = function () {
      var row, i = null;
      var rows = [];
      var floats = ['tot_efectivo'];
      $results.hide();
      $results.empty();
      $.get(api + 'empresas/' + query.empresa + '/informes/extracto', query).done(function (d) {
        if (d.data.length > 0) {
          var tot_debito = 0.0;
          var tot_credito = 0.0;
          if (query.tab == "extracto") {
            for (i = 0; i < d.data.length; i++) {
              row = d.data[i];
              rows.push("<tr>" +
                      "<td>" + row.fechaacreditacion.split(' ')[0] + "</td>" +
                      "<td>" + row.observ + "</td>" +
                      "<td>" + row.nrodeposito + "</td>" +
                      "<td>" + (row.nrocheque ? row.nrocheque : "-") + "</td>" +
                      "<td>" + (row.nroplanilla ? row.nroplanilla : "-") + "</td>" +
                      "<td class='price-value'>" + u.addCommas(row.tot_credito) + "</td>" +
                      "<td class='price-value'>" + (row.tot_debito > 0 ? "-" : "") + u.addCommas(row.tot_debito) + "</td>" +
                      "</tr>");
              tot_credito += parseFloat(row.tot_credito);
              tot_debito += parseFloat(row.tot_debito);
            }

            var cols = [
              {title: 'Fecha'},
              {title: 'Observacion'},
              {title: 'Deposito'},
              {title: 'Cheque'},
              {title: 'Planilla'},
              {title: 'Credito', classname: 'price-label'},
              {title: 'Debito', classname: 'price-label'}
            ];
            createTable(rows, query.tab, [tot_credito, tot_debito], cols);
            $results.show();
          } else if (query.tab == 'deposito') {
            for (i = 0; i < d.data.length; i++) {
              row = d.data[i];
              if (parseFloat(row.tot_credito) > 0) {
                rows.push("<tr>" +
                        "<td>" + row.fechaacreditacion.split(' ')[0] + "</td>" +
                        "<td>" + row.observ + "</td>" +
                        "<td>" + row.nrodeposito + "</td>" +
                        "<td class='price-value'>" + u.addCommas(row.tot_credito) + "</td>" +
                        "</tr>");
                tot_credito += parseFloat(row.tot_credito);
              }
            }

            var cols = [
              {title: 'Fecha'},
              {title: 'Observacion'},
              {title: 'Deposito'},
              {title: 'Total', classname: 'price-label'},
            ];
            createTable(rows, query.tab, [tot_credito], cols);
            $results.show();
          } else if (query.tab == 'extraccion') {
            console.log('extraccion');
            for (i = 0; i < d.data.length; i++) {
              row = d.data[i];
              if (parseFloat(row.tot_debito) > 0) {
                rows.push("<tr>" +
                        "<td>" + row.fechaacreditacion.split(' ')[0] + "</td>" +
                        "<td>" + row.nrodeposito + "</td>" +
                        "<td>" + (row.Beneficiario ? row.Beneficiario : "") + "</td>" +
                        "<td>" + row.observ + "</td>" +
                        "<td class='price-value'>" + u.addCommas(row.tot_debito) + "</td>" +
                        "</tr>");
                tot_debito += parseFloat(row.tot_debito);
              }
            }

            var cols = [
              {title: 'Fecha'},
              {title: '# Extraccion'},
              {title: 'Beneficiario'},
              {title: 'Observacion'},
              {title: 'Total', classname: 'price-label'},
            ];
            createTable(rows, query.tab, [tot_debito], cols);
            $results.show();
          }
        }
      });
    };

    function createTable(rows, group, total_global, cols) {
      var $newTable = $emptyTable;
      var $header = $newTable.find('.result-header');
      var $tbody = $newTable.find('tbody');
      var $thead = $newTable.find('thead tr');
      var col = null;
      var columns = [];

      for (var i = 0; i < cols.length; i++) {
        col = cols[i];
        if (col.classname) {
          columns.push("<th class='" + col.classname + "'>" + col.title + "</th>");
        } else {
          columns.push("<th>" + col.title + "</th>");
        }
      }

      var summary_row = "";
      for (var i = 0; i < total_global.length; i++) {
        summary_row += "<td class='price-value'><b>" + u.addCommas(total_global[i]) + "</b></td>";
      }

      $header.html('<h3 class="text-capitalize">' + group + '</h3>');
      $thead.html(columns.join(''));
      $tbody.html(rows.join(''));
      $tbody.append("" +
              "<tr>" +
              "<td colspan='" + (cols.length - total_global.length) + "'><b>Total</b></td>" +
              summary_row +
              "</tr>" +
              "");
      $results.append($newTable);
    }

  </script>
{% endblock %}