<script type="text/javascript">

  var numFormat = $.fn.dataTable.render.number('.', ',', 0).display;
  var aux1 = null;
  var mes_corte = null;

  $(document).ready(function () {
    $('#page-wrapper').css('margin-left', '0px');
    $('#my-left-menu').toggle(0);
    var url = window.location.href;

    aux = url.toString().split("http://");
    aux1 = aux[1].toString().split(":8000");

    $('.mes').datepicker({
      autoclose: true,
      todayBtn: "linked",
      language: "es",
      format: "MM",
      startView: 1,
      minViewMode: 1,
      maxViewMode: 1,
    });

    $('.mes').datepicker().on('changeDate', function (c) {
      mes_corte = c.format('mm');
    });

    $(".chosen-select").chosen({
      disable_search_threshold: 0,
      no_results_text: "Oops, nothing found!",
      width: "200px",
      allow_single_deselect: true
    });

    $.extend(true, $.fn.dataTable.defaults, {
      searching: false,
      ordering: false,
      language: u.spanish_dt,
      deferRender: true,
      scrollY: 200,
      scrollCollapse: true,
      scroller: {
        displayBuffer: 30,
        loadingIndicator: true
      },
      columnDefs: [
        {className: "price-value", targets: "price-label"},
        {render: $.fn.dataTable.render.number('.', ',', 0), targets: "price-label"},
        {className: "text-center", targets: "text-center"},
        {visible: false, targets: "grouping-col"}
      ],
      footerCallback: function (row, data, start, end, display) {
        var api = this.api(), data;
        // Total over all pages
        var total = api.column(-1).data().reduce(function (a, b) {
          return u.parseVal(a) + u.parseVal(b);
        }, 0);

        // Update footer
        $(api.column(-1).footer()).html(numFormat(total));
      }
    });

    $('#egresos').DataTable({
      columns: [{data: 'CodPlanCta'}, {data: 'Nombre'}, {data: 'Total'}]
    });

    $('#ingresos').DataTable({
      columns: [{data: 'CodPlanCta'}, {data: 'Nombre'}, {data: 'Total'}]
    });
    
    $('#descuentos').DataTable({
      columns: [{data: 'CodPlanCta'}, {data: 'Nombre'}, {data: 'Saldo'}]
    });
    
    $('#saldos').DataTable({
      columns: [{data: 'Saldo'}, {data: 'Monto'}]
    });
    
    $('#bancos').DataTable({
      columns: [{data: 'Saldo'}, {data: 'Monto'}]
    });
    
//     $('#resultados').DataTable( {
//         deferRender: true,
//         scrollY: 150,
//         scrollCollapse: true,
//         scroller: {
//             displayBuffer: 10,
//             loadingIndicator: true
//         },
//         searching: false,
//         ordering: false,
//         paging: false,
//         language: u.spanish_dt,
//         //info: false, //muestra la cantidad cargada, aun no hice funcionar
//     });

  });

  function remover(selectbox) {
    var i;
    for (i = selectbox.options.length - 1; i >= 0; i--) {
      selectbox.remove(i);
    }
  }


  window.onload = function () {
    $('#resultado').hide();
    Dajaxice.custom_permissions.get_permisos_empresa(permisos_empresas, {'usuario': '{{user}}'});

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
      dd = '0' + dd
    }

    if (mm < 10) {
      mm = '0' + mm
    }

    today = yyyy

    $('[name=periodo]').val(today)
  };

  function permisos_empresas(data) {
    if (data.length > 0) {
      console.log('Hay datos');
      var vector = []
      for (var a = 0; a < data.length; a++) {
        vector.push("'" + data[a].empresa + "'")
      }
      var str = JSON.stringify({empresas: vector});
      $.ajax("http://" + aux1[0] + ":3000/api/v1/empresa/inin/select", {
        method: 'POST',
        contentType: 'application/json',
        data: str
      }).done(
              function (data) {
                if (data != null) {
                  var select = document.getElementsByName("empresa")[0]
                  remover(select);
                  for (var i = 0; i < data.data.length; i++) {
                    var option = document.createElement("option");
                    option.value = data.data[i].Cod_Empresa;
                    option.text = data.data[i].Des_Empresa;
                    select.add(option);
                  }
                  $('.chosen-select').trigger('chosen:updated');
                }
              }
      );
    }
  }

  function buscar() {

    var empresa = $("[name=empresa]").val()
    var periodo = $("[name=periodo]").val()
    var anterior = $("[name=anterior]").val().split('.').join('')
    var actual = $("[name=actual]").val().split('.').join('')

    if (periodo == "" || periodo == null || periodo == " " || mes_corte == null || anterior == "" || anterior == null || anterior == " " || actual == "" || actual == null || actual == " ") {
      alert("No hay datos suficientes para generar el listado")
    } else {
      $('.collapse').collapse('hide');
      $('#resultado').hide();
      $('#mensaje').empty();
      $('#mensaje').append("<b>Recuperando datos.</b>");
      $.get("http://" + aux1[0] + ":3000/api/v1/flowcash/" + periodo + "/" + empresa + "/" + mes_corte,
              function (data) {
                console.log(data)
                if (data.data[0].saldos.length > 0 || data.data[1].movimientos.length > 0 || data.data[2].descuentos.length > 0 || data.data[3].bancos.length > 0) {
                    $('#resultado').show();
                    $('#mensaje').empty();
                    if (data.data[0].saldos.length > 0) {
                        var saldos = []
                        for (var a = 0; a < data.data[0].saldos.length; a++) {
                            var object_s = {}
                            if (data.data[0].saldos[a].codmoneda == "GS"){
                                object_s.Saldo = "Saldos de Bancos Moneda Local" 
                                object_s.Monto = data.data[0].saldos[a].Saldo
                            } else {
                                object_s.Saldo = "Saldos de Bancos Moneda Extranjera &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+convertir_rever(data.data[0].saldos[a].SaldoME) +"*"+ convertir_rever(anterior)
                                object_s.Monto = data.data[0].saldos[a].SaldoME*anterior
                            }
                            saldos.push(object_s);
                        }
                    }
                    var tsaldos = $('#saldos').DataTable();
                    tsaldos.row(0).scrollTo();
                    tsaldos.clear();
                    tsaldos.rows.add(saldos).draw();
                    if (data.data[1].movimientos.length > 0) {
                      var egresos = [];
                      var ingresos = [];
                      for (var a = 0; a < data.data[1].movimientos.length; a++) {
                        if (data.data[1].movimientos[a].Tipo == 'E') {
                          var object_e = data.data[1].movimientos[a];
                          egresos.push(object_e);
                        } else {
                          var object_i = data.data[1].movimientos[a];
                          ingresos.push(object_i);
                        }
                      }
                    }
                    var tegresos = $('#egresos').DataTable();
                    tegresos.row(0).scrollTo();
                    tegresos.clear();
                    tegresos.rows.add(egresos).draw();
                    var tingresos = $('#ingresos').DataTable();
                    tingresos.row(0).scrollTo();
                    tingresos.clear();
                    tingresos.rows.add(ingresos).draw();
                    if (data.data[2].descuentos.length > 0) {
                        var descuentos = [];
                        for (var a = 0; a < data.data[2].descuentos.length; a++) {
                            var object_d = data.data[2].descuentos[a];
                            descuentos.push(object_d);
                        }
                    }
                    var tdescuentos = $('#descuentos').DataTable();
                    tdescuentos.row(0).scrollTo();
                    tdescuentos.clear();
                    tdescuentos.rows.add(descuentos).draw();
                    var tsaldo = parseInt($('#tsaldo').text().toString().split('.').join(''));
                    var tegreso = parseInt($('#tegreso').text().toString().split('.').join(''));
                    var tingreso = parseInt($('#tingreso').text().toString().split('.').join(''));
                    var parcial = tsaldo+(tingreso-tegreso)
                    var string_parcial = '<tr>'+
                                            '<th style="width:75%;">TOTAL SALDO: SA + (INGRESO - EGRESO)= &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+convertir_rever(tsaldo)+ ' + (' +convertir_rever(tingreso-tegreso)+') = </th>'+
                                            '<th style="width:25%;text-align: right;">'+convertir_rever(parcial)+'</th>'+
                                         '</tr>';
                    $('#parcial tbody').html(string_parcial);
                    var tdescuento = parseInt($('#tdescuento').text().toString().split('.').join(''));
                    var string_parcial_descuento = '<tr>'+
                                                        '<th style="width:75%;">SALDO FINAL DE LA PLANILLA</th>'+
                                                        '<th style="width:25%;text-align: right;">'+convertir_rever(parcial-tdescuento)+'</th>'+
                                                    '</tr>';
                    $('#parcial_descuentos tbody').html(string_parcial_descuento);
                    if (data.data[3].bancos.length > 0) {
                        var bancos = []
                        for (var a = 0; a < data.data[3].bancos.length; a++) {
                            var object_b = {}
                            if (data.data[3].bancos[a].codmoneda == "GS"){
                                object_b.Saldo = "Saldos de Bancos Moneda Local" 
                                object_b.Monto = data.data[3].bancos[a].Saldo
                            } else {
                                object_b.Saldo = "Saldos de Bancos Moneda Extranjera &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+convertir_rever(data.data[3].bancos[a].SaldoME) +"*"+ convertir_rever(actual)
                                object_b.Monto = data.data[3].bancos[a].SaldoME*actual
                            }
                            bancos.push(object_b);
                        }
                    }
                    var tbancos = $('#bancos').DataTable();
                    tbancos.row(0).scrollTo();
                    tbancos.clear();
                    tbancos.rows.add(bancos).draw();
                    var tbanco = parseInt($('#tbanco').text().toString().split('.').join(''));
                    var string_resultados = '<tr>'+
                                                '<tr>'+
                                                    '<th style="width:75%;">SALDO DE BANCOS</th>'+
                                                    '<th style="width:25%;text-align: right;">'+convertir_rever(tbanco)+'</th>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th style="width:75%;">SALDO DE PLANILLA</th>'+
                                                    '<th style="width:25%;text-align: right;">'+convertir_rever(parcial-tdescuento)+'</th>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th style="width:75%;">Diferencia de Saldo de Bancos - Planilla de Ingresos/Egresos</th>'+
                                                    '<th style="width:25%;text-align: right;">'+convertir_rever(tbanco-(parcial-tdescuento))+'</th>'+
                                                '</tr>'+
                                            '</tr>';
                    $('#resultados tbody').html(string_resultados);
                } else {
                    $('#resultado').hide();
                    $('#mensaje').empty();
                    $('#mensaje').append("<b>No se han encontrado datos.</b>");
                }
              });
              
    }
  }

</script>