<script type="text/javascript">

  var numFormat = u.numFormat; // Formato de numeros, 1.500,03
  var aux1 = null;
  var mes_corte = null;

  $(document).ready(function () {
    $('#page-wrapper').css('margin-left', '0px');
    $('#my-left-menu').toggle(0);
    var url = window.location.href;

    aux = url.toString().split("http://");
    aux1 = aux[1].toString().split(":8000");

    $('.mes').datepicker({
      autoclose: true,
      todayBtn: "linked",
      language: "es",
      format: "MM",
      startView: 1,
      minViewMode: 1,
      maxViewMode: 1,
    });

    $('.mes').datepicker().on('changeDate', function (c) {
      mes_corte = c.format('mm');
    });

    $(".chosen-select").chosen({
      disable_search_threshold: 0,
      no_results_text: "Oops, nothing found!",
      width: "200px",
      allow_single_deselect: true
    });

    $.extend(true, $.fn.dataTable.defaults, {
      searching: false,
      ordering: false,
      language: u.spanish_dt,
      deferRender: true,
      scrollY: 200,
      scrollCollapse: true,
      scroller: {
        displayBuffer: 30,
        loadingIndicator: true
      },
      columnDefs: [
        {className: "price-value", targets: "price-label"},
        {render: $.fn.dataTable.render.number('.', ',', 2), targets: "price-label"},
        {className: "text-center", targets: "text-center"},
        {visible: false, targets: "grouping-col"}
      ],
      footerCallback: function (row, data, start, end, display) {
        var api = this.api(), data;
        // Total over all pages
        var total = api.column(-1).data().reduce(function (a, b) {
          return u.parseVal(a) + u.parseVal(b);
        }, 0);

        // Update footer
        $(api.column(-1).footer()).html(u.numFormat(total));
      }
    });

    $('#egresos').DataTable({
      columns: [{data: 'CodPlanCta'}, {data: 'Nombre'}, {data: 'Total'}]
    });

    $('#ingresos').DataTable({
      columns: [{data: 'CodPlanCta'}, {data: 'Nombre'}, {data: 'Total'}]
    });

  });

  function remover(selectbox) {
    var i;
    for (i = selectbox.options.length - 1; i >= 0; i--) {
      selectbox.remove(i);
    }
  }


  window.onload = function () {
    Dajaxice.custom_permissions.get_permisos_empresa(permisos_empresas, {'usuario': '{{user}}'});

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
      dd = '0' + dd
    }

    if (mm < 10) {
      mm = '0' + mm
    }

    today = yyyy

    $('[name=periodo]').val(today)
  };

  function permisos_empresas(data) {
    if (data.length > 0) {
      console.log('Hay datos');
      var vector = []
      for (var a = 0; a < data.length; a++) {
        vector.push("'" + data[a].empresa + "'")
      }
      var str = JSON.stringify({empresas: vector});
      $.ajax("http://" + aux1[0] + ":3000/api/v1/empresa/inin/select", {
        method: 'POST',
        contentType: 'application/json',
        data: str
      }).done(
              function (data) {
                if (data != null) {
                  var select = document.getElementsByName("empresa")[0]
                  remover(select);
                  for (var i = 0; i < data.data.length; i++) {
                    var option = document.createElement("option");
                    option.value = data.data[i].Cod_Empresa;
                    option.text = data.data[i].Des_Empresa;
                    select.add(option);
                  }
                  $('.chosen-select').trigger('chosen:updated');
                }
              }
      );
    }
  }

  function buscar() {

    var empresa = $("[name=empresa]").val()
    var periodo = $("[name=periodo]").val()
    var anterior = $("[name=anterior]").val().split('.').join('')
    var actual = $("[name=actual]").val().split('.').join('')

    if (periodo == "" || periodo == null || periodo == " " || mes_corte == null || anterior == "" || anterior == null || anterior == " " || actual == "" || actual == null || actual == " ") {
      alert("No hay datos suficientes para generar el listado")
    } else {
      $('.collapse').collapse('hide');
      $.get("http://" + aux1[0] + ":3000/api/v1/flowcash/" + periodo + "/" + empresa + "/" + mes_corte,
              function (data) {
                if (data.data[1].movimientos.length > 0) {
                  var egresos = [];
                  var ingresos = [];
                  for (var a = 0; a < data.data[1].movimientos.length; a++) {
                    if (data.data[1].movimientos[a].Tipo == 'E') {
                      var object_e = data.data[1].movimientos[a];
                      egresos.push(object_e);
                    } else {
                      var object_i = data.data[1].movimientos[a];
                      ingresos.push(object_i);
                    }
                  }
                }
                var tegresos = $('#egresos').DataTable();
                tegresos.row(0).scrollTo();
                tegresos.clear();
                tegresos.rows.add(egresos).draw();
                var tingresos = $('#ingresos').DataTable();
                tingresos.row(0).scrollTo();
                tingresos.clear();
                tingresos.rows.add(ingresos).draw();
              });
    }
  }

</script>