{% extends 'finanzas/base.html' %}

{% block header %}
  Activo Fijo:
{% endblock %}

{% block filters %}
  <tr>
    {% include 'ventas/_filtro.html' with name='empresa' %}
    {% include 'ventas/_filtro.html' with name='articulo' %}
  </tr>
  <tr>
    {% include 'ventas/_filtro.html' with name='proveedor' %}
    {% include 'ventas/_filtro.html' with name='estado' %}
  </tr>
  <tr>
    <th>Compras:</th>
    <td>
      <div id="compras" class="input-daterange input-group">
        <input type="text" class="input-sm form-control" name="start"/>
        <span class="input-group-addon">hasta</span>
        <input type="text" class="input-sm form-control" name="end"/>
      </div>
    </td>
    <th>Altas:</th>
    <td>
      <div id="ventas" class="input-daterange input-group">
        <input type="text" class="input-sm form-control" name="start"/>
        <span class="input-group-addon">hasta</span>
        <input type="text" class="input-sm form-control" name="end"/>
      </div>
    </td>
  </tr>
  <tr>
    <th>Revaluable</th>
    <td><input type="checkbox" name="revaluable"/></td>
    <th>Despreciable</th>
    <td><input type="checkbox" name="despreciable"/></td>
  </tr>
{% endblock %}

{% block extra_foot %}
  <script>
    var query = {};

    var api = u.getApiUrl();
    var $results = $('#results');
    var $preview = $('#preview');
    var today = new Date();

    $(document).ready(function () {
      u.hideNav();
      $results.hide();

      $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
        {#        startView: "decade"#}
      });

      $('.input-daterange .form-control').datepicker().on('changeDate', function (e) {
        query[this.parentElement.id + '_' + this.name] = this.value;
        debug();
      });

      $('.input-daterange .form-control').datepicker('setDate', today);
      $('.input-daterange .form-control').datepicker('update');

      $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "No hay resultados disponibles.",
        width: "200px",
        allow_single_deselect: true
      });

      $('.chosen-select').on('change', function (evt, params) {
        var select = $(this);
        var select_name = select.attr('name');
        query[select_name] = select.val();
        debug();
      });

      u.get_empresas({{ user }}, function (d) {
        u.createSelect('empresa', d, 'Cod_Empresa', 'Des_Empresa');
        $('.chosen-select').trigger('chosen:updated');
      });

    });

    function debug() {
      $preview.text(JSON.stringify(query));
      console.log("debug", query);
    }
  </script>
{% endblock %}