<script type="text/javascript">

  var aux1 = null;
  var pad = 0;
  var cuenta = 0;

  var addCommas = u.addCommas;

  var api = u.getApiUrl();
  var query = {};
  var today = new Date();

  var $select_empresa, select_empresa;
  var $select_cuentad, select_cuentad;
  var $select_cuentah, select_cuentah;
  var $select_tipo_asiento, select_tipo_asiento;

  $(document).ready(function () {
    u.hideNav();
    initDates();
    initSelects();
  });

  function initDates() {
    u.defaultDatepicker();

    $('#periodo .form-control').datepicker({
      format: "yyyy",
      startView: 2,
      minViewMode: 2,
      maxViewMode: 2,
      autoclose: true,
      todayBtn: "linked"
    });

    $('.input-daterange').datepicker({
      todayBtn: "linked",
      language: "es",
      format: "yyyy-mm-dd",
      orientation: "bottom auto",
      autoclose: true
    });

    $(".input-daterange .form-control").datepicker().on('changeDate', function (e) {
      query[this.name] = this.value;
      console.log(query);
    });

    $("#periodo .form-control").datepicker().on('changeDate', function (e) {
      query.periodo = this.value;
      buscar_cuenta();
    });

    $('.input-date .form-control').datepicker('setDate', today);
    $('.input-date .form-control').datepicker('update');
  }

  function initSelects() {
    $.extend(true, $.fn.selectize.defaults, {
      onChange: function (value) {
        query[this.$input.attr('name')] = value;
        console.log(query);
      }
    });

    $select_empresa = $('#select-empresa').selectize({
      valueField: 'Cod_Empresa',
      labelField: 'Des_Empresa',
      searchField: 'Des_Empresa',
      onChange: function (value) {
        query.empresa = value;
        buscar_cuenta();
      }
    });
    select_empresa = $select_empresa[0].selectize;
    select_empresa.load(function (callback) {
      u.get_empresas({{ user }}, function (d) {
        callback(d.data);
      });
    });

    $select_cuentad = $('#select-cuentad').selectize({
      valueField: 'CodPlanCta',
      labelField: 'Nombre',
      searchField: 'Nombre'
    });
    select_cuentad = $select_cuentad[0].selectize;
    select_cuentad.disable();

    $select_cuentah = $('#select-cuentah').selectize({
      valueField: 'CodPlanCta',
      labelField: 'Nombre',
      searchField: 'Nombre'
    });
    select_cuentah = $select_cuentah[0].selectize;
    select_cuentah.disable();

    $select_tipo_asiento = $('#select-tipoAsiento').selectize({
      valueField: 'TipoAsiento',
      labelField: 'Descrip',
      searchField: 'Descrip'
    });
    select_tipo_asiento = $select_tipo_asiento[0].selectize;
    select_tipo_asiento.load(function (cb) {
      $.ajax({
        url: api + 'tipoasiento/select',
        method: 'GET'
      }).done(function (res) {
        cb(res.data);
      });
    });

    $('#select-moneda').selectize({
      options: [
        {value: 'LO', text: 'Local'},
        {value: 'EX', text: 'Extranjera'},
        {value: 'AM', text: 'Ambas'}
      ]
    });
  }

  function checkTime(i) {
    return (i < 10) ? "0" + i : i;
  }

  function cargar_detalle(cuenta, empresa, periodo, fechad, fechah, moneda, tipoasiento, nombre) {
    $.ajax(api + "mayorcuenta/det/" + empresa + "/" + periodo + "/" + fechad + "/" + fechah + "/" + tipoasiento + "/" + cuenta, {
      method: 'GET',
      contentType: 'application/json',
      async: false,
    }).done(
            function (datos) {
              if (datos != null) {
                var string2 = ""
                var string3 = ""
                var string4 = ""
                var total_debito = 0
                var total_credito = 0
                var total_debitoME = 0
                var total_creditoME = 0
                console.log(datos)
                if (datos[1].dato2.length > 0 && datos[0].dato1.length > 0) {
                  if (moneda == 'AM') {
                    string2 = '<tr><th style="text-align: center;" colspan="8">Saldo Anterior</th>' +
                            '<th style="text-align: right;">' + convertir_rever(datos[1].dato2[0].Debito) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(datos[1].dato2[0].Credito) + '</th>'
                    if (datos[1].dato2[0].TipoSaldo == "D") {
                      string2 += '<th style="text-align: right;">' + convertir_rever(parseInt(datos[1].dato2[0].Debito) - parseInt(datos[1].dato2[0].Credito)) + '</th>'
                    } else {
                      string2 += '<th style="text-align: right;">' + convertir_rever(parseInt(datos[1].dato2[0].Credito) - parseInt(datos[1].dato2[0].Debito)) + '</th>'
                    }
                    string2 += '<th style="text-align: right;">' + addCommas((Math.round(datos[1].dato2[0].DebitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(datos[1].dato2[0].CreditoME * 100) / 100).toString()) + '</th>'
                    if (datos[1].dato2[0].TipoSaldo == "D") {
                      string2 += '<th style="text-align: right;">' + addCommas((Math.round((parseFloat(datos[1].dato2[0].DebitoME) - parseFloat(datos[1].dato2[0].CreditoME)) * 100) / 100).toString()) + '</th></tr>'
                    } else {
                      string2 += '<th style="text-align: right;">' + addCommas((Math.round((parseFloat(datos[1].dato2[0].CreditoME) - parseFloat(datos[1].dato2[0].DebitoME)) * 100) / 100).toString()) + '</th></tr>'
                    }

                    total_debito = parseInt(datos[1].dato2[0].Debito)
                    total_credito = parseInt(datos[1].dato2[0].Credito)
                    total_debitoME = parseFloat(datos[1].dato2[0].DebitoME)
                    total_creditoME = parseFloat(datos[1].dato2[0].CreditoME)

                  } else if (moneda == 'LO') {
                    string2 = '<tr><th style="text-align: center;" colspan="8">Saldo Anterior</th>' +
                            '<th style="text-align: right;">' + convertir_rever(datos[1].dato2[0].Debito) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(datos[1].dato2[0].Credito) + '</th>'
                    if (datos[1].dato2[0].TipoSaldo == "D") {
                      string2 += '<th style="text-align: right;">' + convertir_rever(parseInt(datos[1].dato2[0].Debito) - parseInt(datos[1].dato2[0].Credito)) + '</th></tr>'
                    } else {
                      string2 += '<th style="text-align: right;">' + convertir_rever(parseInt(datos[1].dato2[0].Credito) - parseInt(datos[1].dato2[0].Debito)) + '</th></tr>'
                    }

                    total_debito = parseInt(datos[1].dato2[0].Debito)
                    total_credito = parseInt(datos[1].dato2[0].Credito)
                    total_debitoME = parseFloat(datos[1].dato2[0].DebitoME)
                    total_creditoME = parseFloat(datos[1].dato2[0].CreditoME)

                  } else {
                    string2 = '<tr><th style="text-align: center;" colspan="8">Saldo Anterior</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(datos[1].dato2[0].DebitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(datos[1].dato2[0].CreditoME * 100) / 100).toString()) + '</th>'
                    if (datos[1].dato2[0].TipoSaldo == "D") {
                      string2 += '<th style="text-align: right;">' + addCommas((Math.round((parseFloat(datos[1].dato2[0].DebitoME) - parseFloat(datos[1].dato2[0].CreditoME)) * 100) / 100).toString()) + '</th></tr>'
                    } else {
                      string2 += '<th style="text-align: right;">' + addCommas((Math.round((parseFloat(datos[1].dato2[0].CreditoME) - parseFloat(datos[1].dato2[0].DebitoME)) * 100) / 100).toString()) + '</th></tr>'
                    }

                    total_debito = parseInt(datos[1].dato2[0].Debito)
                    total_credito = parseInt(datos[1].dato2[0].Credito)
                    total_debitoME = parseFloat(datos[1].dato2[0].DebitoME)
                    total_creditoME = parseFloat(datos[1].dato2[0].CreditoME)
                  }
                } else {
                  if (moneda == 'AM') {
                    string2 = '<tr><th style="text-align: center;" colspan="8">Saldo Anterior</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th></tr>'
                  } else if (moneda == 'LO') {
                    string2 = '<tr><th style="text-align: center;" colspan="8">Saldo Anterior</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th></tr>'
                  } else {
                    string2 = '<tr><th style="text-align: center;" colspan="8">Saldo Anterior</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th><th style="text-align: right;">0</th></tr>'
                  }
                }

                var total_debito_periodo = 0
                var total_credito_periodo = 0
                var total_debitoME_periodo = 0
                var total_creditoME_periodo = 0

                for (var a = 0; a < datos[0].dato1.length; a++) {
                  total_debito += parseInt(datos[0].dato1[a].Debito)
                  total_credito += parseInt(datos[0].dato1[a].Credito)
                  total_debitoME += parseFloat(datos[0].dato1[a].DebitoME)
                  total_creditoME += parseFloat(datos[0].dato1[a].CreditoME)

                  total_debito_periodo += parseInt(datos[0].dato1[a].Debito)
                  total_credito_periodo += parseInt(datos[0].dato1[a].Credito)
                  total_debitoME_periodo += parseFloat(datos[0].dato1[a].DebitoME)
                  total_creditoME_periodo += parseFloat(datos[0].dato1[a].CreditoME)

                  string3 += '<tr>' +
                          '<td>' + datos[0].dato1[a].Fecha + '</td>' +
                          '<td>' + datos[0].dato1[a].Abreviatura + '</td>'
                  if (datos[0].dato1[a].Nrocompr == null) {
                    string3 += '<td>&nbsp;</td>'
                  } else {
                    string3 += '<td>' + datos[0].dato1[a].Nrocompr + '</td>'
                  }
                  if (datos[0].dato1[a].Autorizado == 'S') {
                    string3 += '<td>Si</td>'
                  } else {
                    string3 += '<td>No</td>'
                  }
                  string3 += '<td>' + datos[0].dato1[a].Nrotransac + '</td>' +
                          '<td>' + datos[0].dato1[a].Linea + '</td>'
                  if (datos[0].dato1[a].CodPlanAux == null) {
                    string3 += '<td>&nbsp;</td>'
                  } else {
                    string3 += '<td>' + datos[0].dato1[a].CodPlanAux + '</td>'
                  }
                  string3 += '<td>' + datos[0].dato1[a].Concepto + '</td>'
                  if (moneda == 'AM') {
                    string3 += '<th style="text-align: right;">' + convertir_rever(datos[0].dato1[a].Debito) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(datos[0].dato1[a].Credito) + '</th>'
                    if (datos[0].dato1[a].tiposaldo == "D") {
                      string3 += '<th style="text-align: right;">' + convertir_rever(total_debito - total_credito) + '</th>'
                    } else {
                      string3 += '<th style="text-align: right;">' + convertir_rever(total_credito - total_debito) + '</th>'
                    }

                    string3 += '<th style="text-align: right;">' + addCommas((Math.round(datos[0].dato1[a].DebitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(datos[0].dato1[a].CreditoME * 100) / 100).toString()) + '</th>'
                    if (datos[0].dato1[a].tiposaldo == "D") {
                      string3 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME - total_creditoME) * 100) / 100).toString()) + '</th>'
                    } else {
                      string3 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME - total_debitoME) * 100) / 100).toString()) + '</th>'
                    }
                  } else if (moneda == 'LO') {
                    string3 += '<th style="text-align: right;">' + convertir_rever(datos[0].dato1[a].Debito) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(datos[0].dato1[a].Credito) + '</th>'
                    if (datos[0].dato1[a].tiposaldo == "D") {
                      string3 += '<th style="text-align: right;">' + convertir_rever(total_debito - total_credito) + '</th>'
                    } else {
                      string3 += '<th style="text-align: right;">' + convertir_rever(total_credito - total_debito) + '</th>'
                    }
                  } else {
                    string3 += '<th style="text-align: right;">' + addCommas((Math.round(datos[0].dato1[a].DebitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(datos[0].dato1[a].CreditoME * 100) / 100).toString()) + '</th>'
                    if (datos[0].dato1[a].tiposaldo == "D") {
                      string3 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME - total_creditoME) * 100) / 100).toString()) + '</th>'
                    } else {
                      string3 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME - total_debitoME) * 100) / 100).toString()) + '</th>'
                    }
                  }
                  string3 += '</tr>'
                }

                if (datos[0].dato1.length > 0) {
                  string4 += '<tr>'
                  if (moneda == 'AM') {
                    string4 += '<th colspan="8" style="text-align: right;">Total del periodo de la Cuenta ' + datos[0].dato1[0].NOMBREPLANCTA + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito_periodo) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito_periodo) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_debito_periodo - total_credito_periodo) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_credito_periodo - total_debito_periodo) + '</th>'
                    }
                    string4 += '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME_periodo * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME_periodo * 100) / 100).toString()) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME_periodo - total_creditoME_periodo) * 100) / 100).toString()) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME_periodo - total_debitoME_periodo) * 100) / 100).toString()) + '</th>'
                    }
                  } else if (moneda == 'LO') {
                    string4 += '<th colspan="8" style="text-align: right;">Total del periodo de la Cuenta ' + datos[0].dato1[0].NOMBREPLANCTA + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito_periodo) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito_periodo) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_debito_periodo - total_credito_periodo) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_credito_periodo - total_debito_periodo) + '</th>'
                    }
                  } else {
                    string4 += '<th colspan="8" style="text-align: right;">Total del periodo de la Cuenta ' + datos[0].dato1[0].NOMBREPLANCTA + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME_periodo * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME_periodo * 100) / 100).toString()) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME_periodo - total_creditoME_periodo) * 100) / 100).toString()) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME_periodo - total_debitoME_periodo) * 100) / 100).toString()) + '</th>'
                    }
                  }
                  string4 += '</tr>'
                  string4 += '<tr>'
                  if (moneda == 'AM') {
                    string4 += '<th colspan="8" style="text-align: right;">Total de la Cuenta ' + datos[0].dato1[0].NOMBREPLANCTA + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito_periodo) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_debito - total_credito) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_credito - total_debito) + '</th>'
                    }
                    string4 += '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME * 100) / 100).toString()) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME - total_creditoME) * 100) / 100).toString()) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME - total_debitoME) * 100) / 100).toString()) + '</th>'
                    }
                  } else if (moneda == 'LO') {
                    string4 += '<th colspan="8" style="text-align: right;">Total de la Cuenta ' + datos[0].dato1[0].NOMBREPLANCTA + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_debito - total_credito) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_credito - total_debito) + '</th>'
                    }
                  } else {
                    string4 += '<th colspan="8" style="text-align: right;">Total de la Cuenta ' + datos[0].dato1[0].NOMBREPLANCTA + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME * 100) / 100).toString()) + '</th>'
                    if (datos[0].dato1[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME - total_creditoME) * 100) / 100).toString()) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME - total_debitoME) * 100) / 100).toString()) + '</th>'
                    }
                  }
                  string4 += '</tr>'
                } else {
                  string4 += '<tr>'
                  if (moneda == 'AM') {
                    string4 += '<th colspan="8" style="text-align: right;">Total del periodo de la Cuenta ' + nombre + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito_periodo) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito_periodo) + '</th>'
                    if (datos[1].dato2[0] == null) {
                      string4 += '<th style="text-align: right;">0</th>'
                    } else {
                      if (datos[1].dato2[0].tiposaldo == "D") {
                        string4 += '<th style="text-align: right;">' + convertir_rever(total_debito_periodo - total_credito_periodo) + '</th>'
                      } else {
                        string4 += '<th style="text-align: right;">' + convertir_rever(total_credito_periodo - total_debito_periodo) + '</th>'
                      }
                    }
                    string4 += '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME_periodo * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME_periodo * 100) / 100).toString()) + '</th>'

                    if (datos[1].dato2[0] == null) {
                      string4 += '<th style="text-align: right;">0</th>'
                    } else {
                      if (datos[1].dato2[0].tiposaldo == "D") {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME_periodo - total_creditoME_periodo) * 100) / 100).toString()) + '</th>'
                      } else {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME_periodo - total_debitoME_periodo) * 100) / 100).toString()) + '</th>'
                      }
                    }
                  } else if (moneda == 'LO') {
                    string4 += '<th colspan="8" style="text-align: right;">Total del periodo de la Cuenta ' + nombre + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito_periodo) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito_periodo) + '</th>'
                    if (datos[1].dato2[0] == null) {
                      string4 += '<th style="text-align: right;">0</th>'
                    } else {
                      if (datos[1].dato2[0].tiposaldo == "D") {
                        string4 += '<th style="text-align: right;">' + convertir_rever(total_debito_periodo - total_credito_periodo) + '</th>'
                      } else {
                        string4 += '<th style="text-align: right;">' + convertir_rever(total_credito_periodo - total_debito_periodo) + '</th>'
                      }
                    }
                  } else {
                    string4 += '<th colspan="8" style="text-align: right;">Total del periodo de la Cuenta ' + nombre + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME_periodo * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME_periodo * 100) / 100).toString()) + '</th>'
                    if (datos[1].dato2[0] == null) {
                      string4 += '<th style="text-align: right;">0</th>'
                    } else {
                      if (datos[1].dato2[0].tiposaldo == "D") {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME_periodo - total_creditoME_periodo) * 100) / 100).toString()) + '</th>'
                      } else {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME_periodo - total_debitoME_periodo) * 100) / 100).toString()) + '</th>'
                      }
                    }
                  }
                  string4 += '</tr>'
                  string4 += '<tr>'
                  if (moneda == 'AM') {
                    string4 += '<th colspan="8" style="text-align: right;">Total de la Cuenta ' + nombre + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito_periodo) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito) + '</th>'
                    if (datos[1].dato2[0].tiposaldo == "D") {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_debito - total_credito) + '</th>'
                    } else {
                      string4 += '<th style="text-align: right;">' + convertir_rever(total_credito - total_debito) + '</th>'
                    }
                    string4 += '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME * 100) / 100).toString()) + '</th>'
                    if (datos[1].dato2[0] == null) {
                      string4 += '<th style="text-align: right;">0</th>'
                    } else {
                      if (datos[1].dato2[0].tiposaldo == "D") {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME - total_creditoME) * 100) / 100).toString()) + '</th>'
                      } else {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME - total_debitoME) * 100) / 100).toString()) + '</th>'
                      }
                    }
                  } else if (moneda == 'LO') {
                    string4 += '<th colspan="8" style="text-align: right;">Total de la Cuenta ' + nombre + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_debito) + '</th>' +
                            '<th style="text-align: right;">' + convertir_rever(total_credito) + '</th>'
                    if (datos[1].dato2[0] == null) {
                      string4 += '<th style="text-align: right;">0</th>'
                    } else {
                      if (datos[1].dato2[0].tiposaldo == "D") {
                        string4 += '<th style="text-align: right;">' + convertir_rever(total_debito - total_credito) + '</th>'
                      } else {
                        string4 += '<th style="text-align: right;">' + convertir_rever(total_credito - total_debito) + '</th>'
                      }
                    }
                  } else {
                    string4 += '<th colspan="8" style="text-align: right;">Total de la Cuenta ' + nombre + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_debitoME * 100) / 100).toString()) + '</th>' +
                            '<th style="text-align: right;">' + addCommas((Math.round(total_creditoME * 100) / 100).toString()) + '</th>'
                    if (datos[1].dato2[0] == null) {
                      string4 += '<th style="text-align: right;">0</th>'
                    } else {
                      if (datos[1].dato2[0].tiposaldo == "D") {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_debitoME - total_creditoME) * 100) / 100).toString()) + '</th>'
                      } else {
                        string4 += '<th style="text-align: right;">' + addCommas((Math.round((total_creditoME - total_debitoME) * 100) / 100).toString()) + '</th>'
                      }
                    }
                  }
                  string4 += '</tr>'
                }
                console.log(string2)
                $('#tabla-' + cuenta + ' thead').append(string2)
                $('#tabla-' + cuenta + ' tbody').append(string3)
                $('#tabla-' + cuenta + ' tfoot').append(string4)
               $('#tabla-' + cuenta).DataTable({
                        searching: false,
                        language: u.spanish_dt,
                        paging: false,
                        ordering: false,
                        info: false,
                        scrollCollapse: true,
                        scrollY: 300,
                        scrollX: '100%',
//                             columns: [ 
//                                   { width: "10%" }, 
//                                   { width: "8%" },
//                                   { width: "8%" }, 
//                                   { width: "8%" }, 
//                                   { width: "8%" }, 
//                                   { width: "8%" },  
//                                   { width: "7%" },
//                                   { width: "8%" }, 
//                                   { width: "10%" }, 
//                                   { width: "10%" }, 
//                                   { width: "10%" }, 
//                             ],
                      });
              }
            }
    );

  }

  function getInforme() {
    var empresa = query.empresa;
    var periodo = query.periodo;
    var cuentad = query.cuentad;
    var cuentah = query.cuentah;
    var fechad = query.desde;
    var fechah = query.hasta;
    var moneda = query.moneda;
    var incluir = $("#incluir").prop('checked');
    var tipoasiento = query.tipoAsiento;

    if (incluir) {
      incluir = "SI"
    } else {
      incluir = "NO"
    }

    h = checkTime(today.getHours())
    m = checkTime(today.getMinutes())
    s = checkTime(today.getSeconds())

    if (periodo == "" || periodo == null || periodo == " ") {
      alert("No hay datos suficientes para generar el listado")
    } else {
      $('.collapse').collapse('hide')
      $('#table-div').empty()
      $('#table-div').append("<b>Recuperando datos.</b>")
      $.get(api + "mayorcuenta/cab/" + empresa + "/" + periodo + "/" + fechad + "/" + fechah + "/" + tipoasiento + "/" + cuentad + "/" + cuentah + "/" + incluir,
              function (data) {
                console.log(data)
                if (data[1].data2.length > 0) {
                  console.log(data)
                  $('#table-div').empty()
                  for (var e = 0; e < data[1].data2.length; e++) {
                    var string = '<div id="pad-' + data[1].data2[e].Codplanctapad + '"><hr size="50" style="height: 0px;margin-top: 0px;margin-bottom: 0px;border-top-width: 5px;padding-bottom: 5px;">' +
                            '<b>' + data[1].data2[e].Codplanctapad + '&nbsp;&nbsp;&nbsp;&nbsp;' + data[1].data2[e].NOMBREPLANCTAPAD + "</b>" +
                            '</div>'
                    for (var x = 0; x < data[0].data1.length; x++) {
                      if (data[0].data1[x].Codplanctapad == data[1].data2[e].Codplanctapad) {
                        string += '<div id="cuenta-' + data[0].data1[x].Codplancta + '" style="padding-top: 5px;">' +
                                '&nbsp;&nbsp;&nbsp;&nbsp;<b>' + data[0].data1[x].Codplancta + '&nbsp;&nbsp;&nbsp;&nbsp;' + data[0].data1[x].NOMBREPLANCTA + '</b>' +
                                '<table id="tabla-' + data[0].data1[x].Codplancta + '" class="table table-striped table-bordered nowrap puta" cellspacing="0" width="100%">' + 
                                //style="width:90%" style="padding-top: 0px;margin-top: 5px;">' +
                                '<thead>' +
                                '<tr>' +
                                '<th>Fecha</th>' +
                                '<th>Tipo</th>' +
                                '<th>N&#176; Comp.</th>' +
                                '<th>Aut.</th>' +
                                '<th>N&#176;</th>' +
                                '<th>L&#237;nea</th>' +
                                '<th>C&#243;d. Auxiliar</th>' +
                                '<th>Concepto</th>'
                        if (moneda == 'AM') {
                          string += '<th>Debe M.L.</th>' +
                                  '<th>Haber M.L.</th>' +
                                  '<th>Saldo M.L.</th>' +
                                  '<th>Debe M.E.</th>' +
                                  '<th>Haber M.E.</th>' +
                                  '<th>Saldo M.E.</th>'
                        } else {
                          string += '<th>Debe</th>' +
                                  '<th>Haber</th>' +
                                  '<th>Saldo</th>'
                        }
                        string += '</tr>' +
                                '</thead>' +
                                '<tbody>' +
                                '</tbody>' +
                                '<tfoot>' +
                                '</tfoot>' +
                                '</table>'
                        '</div>'
                      }
                      setTimeout('cargar_detalle(' + data[0].data1[x].Codplancta + ',"' + empresa + '",' + periodo + ',"' + fechad + '","' + fechah + '","' + moneda + '","' + tipoasiento + '","' + data[0].data1[x].NOMBREPLANCTA + '")', 1000 * (x + 1));
                      //cargar_detalle('+data[0].data1[x].Codplancta+',"'+empresa+'",'+periodo+',"'+fechad+'","'+fechah+'","'+moneda+'","'+tipoasiento+'","'+ data[0].data1[x].NOMBREPLANCTA +'")

                    }
                    $('#table-div').append(string);
                    console.log(string)
                  }

                } else {
                  $('#table-div').empty()
                  $('#table-div').append("<b>No se han encontrado datos.</b>")
                }
              }
      );
    }
  }

  function buscar_cuenta() {
    if (!query.empresa || !query.empresa.length) return;
    if (!query.periodo || !query.periodo.length) return;
    // resetear selects
    u.resetSelect(select_cuentad);
    u.resetSelect(select_cuentah);

    $.ajax({
      url: api + 'cuenta/select/' + query.empresa + '/' + query.periodo,
      method: 'GET'
    }).done(function (d) {
      //cargar resultados y habilitar options
      select_cuentad.load(function (cb) {
        cb(d.data);
        select_cuentad.enable();
      });

      select_cuentah.load(function (cb) {
        cb(d.data);
        select_cuentah.enable();
      });
    }).fail(function () {
      select_cuentad.load(function (cb) {
        cb();
      });
      select_cuentah.load(function (cb) {
        cb();
      });
    });
  }

  function cambiar_anho(a) {
    var vector_desde = $('[name=fechad]').val().split('-')
    var vector_hasta = $('[name=fechah]').val().split('-')

    $('[name=fechad]').val(a + '-' + vector_desde[1] + '-' + vector_desde[2])
    $('[name=fechah]').val(a + '-' + vector_hasta[1] + '-' + vector_hasta[2])
  }
  
  function buscarCuenta() {
    if (!query.empresa || !query.empresa.length) return;
    if (!query.periodo || !query.periodo.length) return;

    // resetear selects
    select_cuentad.disable();
    select_cuentad.clearOptions();
    select_cuentah.disable();
    select_cuentah.clearOptions();

    //consultar api
    $.get(api + 'cuenta/select/' + query.empresa + '/' + query.periodo).done(function (d) {
      //cargar resultados y habilitar options
      select_cuentad.load(function (cb) {
        cb(d.data);
        select_cuentad.enable();
      });

      select_cuentah.load(function (cb) {
        cb(d.data);
        select_cuentah.enable();
      });
    }).fail(function () {
      select_cuentad.load(function (cb) {
        cb();
      });
      select_cuentah.load(function (cb) {
        cb();
      });
    });
  }


  {#  function permisos_empresas(data) {#}
  {#    if (data.length > 0) {#}
  {#      console.log('Hay datos');#}
  {#      var vector = []#}
  {#      for (var a = 0; a < data.length; a++) {#}
  {#        vector.push("'" + data[a].empresa + "'")#}
  {#      }#}
  {#      var str = JSON.stringify({empresas: vector});#}
  {#      $.ajax("http://" + aux1[0] + ":3000/api/v1/empresa/inin/select", {#}
  {#        method: 'POST',#}
  {#        contentType: 'application/json',#}
  {#        data: str#}
  {#      }).done(#}
  {#              function (data) {#}
  {#                if (data != null) {#}
  {#                  var select = document.getElementsByName("empresa")[0]#}
  {#                  remover(select);#}
  {#                  for (var i = 0; i < data.data.length; i++) {#}
  {#                    var option = document.createElement("option");#}
  {#                    option.value = data.data[i].Cod_Empresa;#}
  {#                    option.text = data.data[i].Des_Empresa;#}
  {#                    select.add(option);#}
  {#                  }#}
  {#                  SelectElement(data.data[0].Cod_Empresa, 'empresa')#}
  {##}
  {#                  $.get("http://" + aux1[0] + ":3000/api/v1/cuenta/select/" + document.getElementsByName('empresa')[0].value + "/" + document.getElementsByName('periodo')[0].value,#}
  {#                          function (data) {#}
  {#                            if (data != null) {#}
  {#                              var select = document.getElementsByName("cuentad")[0]#}
  {#                              var select1 = document.getElementsByName("cuentah")[0]#}
  {#                              remover(select);#}
  {#                              remover(select1);#}
  {#                              for (var i = 0; i < data.data.length; i++) {#}
  {#                                var option = document.createElement("option");#}
  {#                                var option1 = document.createElement("option");#}
  {#                                option.value = data.data[i].CodPlanCta;#}
  {#                                option.text = data.data[i].Nombre;#}
  {#                                option1.value = data.data[i].CodPlanCta;#}
  {#                                option1.text = data.data[i].Nombre;#}
  {#                                select.add(option);#}
  {#                                select1.add(option1);#}
  {#                              }#}
  {#                              SelectElement(data.data[0].CodPlanCta, 'cuentad')#}
  {#                              SelectElement(data.data[0].CodPlanCta, 'cuentah')#}
  {#                            }#}
  {#                          }#}
  {#                  );#}
  {##}
  {#                  $.get("http://" + aux1[0] + ":3000/api/v1/tipoasiento/select/",#}
  {#                          function (data) {#}
  {#                            if (data != null) {#}
  {#                              var select = document.getElementsByName("tipoasiento")[0]#}
  {#                              remover(select);#}
  {#                              var option = document.createElement("option");#}
  {#                              option.text = "NINGUNO";#}
  {#                              select.add(option);#}
  {#                              for (var i = 0; i < data.data.length; i++) {#}
  {#                                var option = document.createElement("option");#}
  {#                                option.value = data.data[i].TipoAsiento;#}
  {#                                option.text = data.data[i].Descrip;#}
  {#                                select.add(option);#}
  {#                              }#}
  {#                              SelectElement(data.data[0].TipoAsiento, 'tipoasiento')#}
  {#                              $('.chosen-select').trigger('chosen:updated');#}
  {#                            }#}
  {#                          }#}
  {#                  );#}
  {#                }#}
  {#              }#}
  {#      );#}
  {#    }#}
  {#  }#}
</script>

