{% extends 'finanzas/base.html' %}

{% block header %}
  Mayor de Cuentas Auxiliares:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    <div class="col-sm-6">
      <div class="form-group">
        <label for="periodo" class="col-md-4 control-label">Periodo:</label>

        <div class="col-md-6">
          <div id="periodo" class="input-date"><input type="text" class="form-control" name="periodo"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% include 'ventas/_filtro.html' with name="cuentad" placeholder="Cuenta" title="Cta. desde" %}
    {% include 'ventas/_filtro.html' with name="cuentah" placeholder="Cuenta" title="Cta. hasta" %}
  </div>

  <div class="row">
    {% include 'ventas/_filtro.html' with name="cuenta-aux-d" placeholder="Cuenta" title="Cta. Aux. desde" %}
    {% include 'ventas/_filtro.html' with name="cuenta-aux-h" placeholder="Cuenta" title="Cta. Aux. hasta" %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="fechad" class="col-md-4 control-label">Fecha:</label>

        <div class="col-md-6">
          <div id="fecha" class="input-daterange input-group input-date">
            <input type="text" class="input-sm form-control desde" name="desde"/>
            <span class="input-group-addon">a</span>
            <input type="text" class="input-sm form-control hasta" name="hasta"/>
          </div>
        </div>
      </div>
    </div>
    {% include 'ventas/_filtro.html' with name="tipoAsiento" placeholder="Tipo" title="Tipo Asiento" %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="incluir" class="col-md-4 control-label">Cuentas sin movimiento:</label>

        <div class="col-md-6">
          <input type="checkbox" name="incluir" id="incluir"/>
        </div>
      </div>
    </div>
    {% include 'ventas/_filtro.html' with name="moneda" %}
  </div>
{% endblock %}


{% block inner_content %}
  <div id="table-div">
  </div>
  <br>
  <input type="hidden" id="string_table">
  <input type="hidden" id="total_debe">
  <input type="hidden" id="total_haber">
  <input type="hidden" id="total_debeME">
  <input type="hidden" id="total_haberME">
  <input type="hidden" id="fromcall">
  {% include 'finanzas/mayor_cuentas_auxiliares_metodos.html' %}
{% endblock %}
