{% extends 'finanzas/base.html' %}

{% block header %}
  &Oacute;rdenes de Pago:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with name="empresa" %}
  {% include 'ventas/_filtro.html' with name="sucursal" %}
  {% include 'ventas/_filtro.html' with name="tipoop" placeholder="Tipo" title="Tipo OP" %}
  <!-- {% include 'ventas/_filtro.html' with name="comprobante" %} -->
  {% include 'ventas/_filtro.html' with name="tipoproveedor" placeholder="Tipo" title="T. Proveedor" %}
  {% include 'ventas/_filtro.html' with name="proveedor" %}
  <div class="col-sm-6">
    <div class="form-group">
      <label for="fecha" class="col-md-4 control-label">Fecha:</label>

      <div class="col-md-6">
        <div id="fecha" class="input-daterange input-group input-date">
          <input type="text" class="input-sm form-control" name="desde"/>
          <span class="input-group-addon">a</span>
          <input type="text" class="input-sm form-control" name="hasta"/>
        </div>
      </div>
    </div>
  </div>


  {#                  <select name="empresa" data-placeholder="Empresa..."#}
  {#                          onchange="buscar_comprobante();buscar_sucursal();" class="chosen-select" tabindex="2">#}
  {#                  </select>#}
  {#                  <select name="sucursal" data-placeholder="Surcusal..." class="chosen-select" tabindex="2">#}
  {#                  </select>#}
  {#                <td>#}
  {#                  <select name="tipoop" data-placeholder="Tipo..." class="chosen-select" tabindex="2">#}
  {#                    <option value="">NINGUNO</option>#}
  {#                    <option selected value="A">A</option>#}
  {#                    <option value="B">B</option>#}
  {#                    <option value="C">C</option>#}
  {#                  </select>#}
  {#                  <select name="comprobante" data-placeholder="Comprobante..." class="chosen-select" tabindex="2">#}
  {#                  </select>#}
  {#                  <select name="tipoproveedor" data-placeholder="Tipo..." onchange="buscar_proveedor()"#}
  {#                          class="chosen-select" tabindex="2">#}
  {#                    <option value="">NINGUNO</option>#}
  {#                    <option selected value="PR">PROVEEDOR LOCAL</option>#}
  {#                    <option value="PE">PROVEEDOR EXTERIOR</option>#}
  {#                    <option value="PC">PROVEEDOR DE CAJA CHICA</option>#}
  {#                    }#}
  {#                    <option value="PS">PROVEEDOR DE SERVICIO</option>#}
  {#                    <option value="OP">OTRO PROVEEDOR</option>#}
  {#                    <option value="DE">DESPACHANTE</option>#}
  {#                    <option value="EM">EMPLEADO</option>#}
  {#                  </select>#}
  {#                  <select name="proveedor" data-placeholder="Proveedor..." class="chosen-select" tabindex="2">#}
  {#            <div class="row show-grid">#}
  {#              <div style="text-align:center;" class="col-md-6 col-sm-6">#}
  {#                <th style="vertical-align: middle;">#}
  {#                  <b>#}
  {#                    Desde:#}
  {#                  </b>#}
  {#                </th>#}
  {#                <td>#}
  {#                  <input type="text" class="datepicker" name="fechad">#}
  {#                </td>#}
  {#              </div>#}
  {#              <div style="text-align:center;" class="col-md-6 col-sm-6">#}
  {#                <th style="vertical-align: middle;">#}
  {#                  <b>#}
  {#                    Hasta:#}
  {#                  </b>#}
  {#                </th>#}
  {#                <td>#}
  {#                  <input type="text" class="datepicker" name="fechah">#}
  {#                </td>#}
  {#              </div>#}
  {#            </div>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#      <div class="modal-footer">#}
  {#        <a type="button" class="btn btn-primary" onclick="buscar()">Filtrar <i class="fa fa-search"></i></a>#}
  {#      </div>#}
  {#    </div>#}
  {#  </div>#}
{% endblock %}


{% block inner_content %}
  <div id="table-div">

  </div>
  {% include 'finanzas/ordenpago_metodos.html' %}
{% endblock %}
