{% extends 'finanzas/base.html' %}

{% block header %}
  &Oacute;rdenes de Pago:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with name="empresa" %}
  {% include 'ventas/_filtro.html' with name="sucursal" %}
  {% include 'ventas/_filtro.html' with name="tipoop" placeholder="Tipo" title="Tipo OP" %}
  <div class="col-sm-6">
    <div class="form-group">
      <label for="solo-anticipo" class="col-md-4 control-label">Solo Anticipo:</label>
      <div class="col-md-6">
        <input type="checkbox" id="solo-anticipo" />
      </div>
    </div>
  </div>
  <!-- {% include 'ventas/_filtro.html' with name="comprobante" %} -->
  <!-- {% include 'ventas/_filtro.html' with name="tipoproveedor" placeholder="Tipo" title="T. Proveedor" %}
  {% include 'ventas/_filtro.html' with name="proveedor" %} -->
  <div class="col-sm-6">
    <div class="form-group">
      <label for="fecha" class="col-md-4 control-label">Fecha:</label>

      <div class="col-md-6">
        <div id="fecha" class="input-daterange input-group input-date">
          <input type="text" class="input-sm form-control" name="desde"/>
          <span class="input-group-addon">a</span>
          <input type="text" class="input-sm form-control" name="hasta"/>
        </div>
      </div>
    </div>
  </div>
  {% include 'ventas/_filtro.html' with name="moneda" %}
{% endblock %}


{% block inner_content %}
  <div class="text-center" id="messages">
    <h3 id="loading" style="display: none;">Cargando...</h3>

    <h3 id="empty" style="display: none;">No hay datos disponibles</h3>
  </div>
  
  <div id="table-div">
    
    </div>
  <div id="totals" style="display:none; margin-top: 6px;"></div>

  
  {% include 'finanzas/ordenpago_metodos.html' %}
{% endblock %}
