{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" href={% static 'css/jquery-ui.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/chosen.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/docsupport/prism.css' %}>
  <script src={% static 'js/jquery-ui.js' %}></script>
  <script src={% static 'js/puntos-decimales.js' %}></script>
  <script src={% static 'js/jquery.maskedinput.min.js' %}></script>
  <script src={% static 'chosen_v1.4.2/chosen.jquery.js' %}></script>
  <script src={% static 'chosen_v1.4.2/docsupport/prism.js' %}></script>
  <script src="{% static 'js/utils.js' %}"></script>
  {#  {% include 'finanzas/balancegeneral_metodos.html' %}#}
{% endblock %}

{% block header %}
  Balance General:
{% endblock %}

{% block content %}
  <h1>HolaMundo</h1>
  <label>Empresa:</label>
  <select name="empresa" data-placeholder="Empresa..." onchange="" class="chosen-select" tabindex="2"></select><br>
  <label>Tipo Cliente:</label>
  <select name="tipo_cliente" data-placeholder="Tipo..." onchange="" class="chosen-select" tabindex="2"></select><br>
  <label>Cliente:</label>
  <select name="cliente" data-placeholder="Cliente..." onchange="" class="chosen-select" tabindex="2"></select><br>
  <label>Grupo:</label>
  <select name="grupo" data-placeholder="Grupo..." onchange="" class="chosen-select" tabindex="2"></select><br>
  <label>Vendedor:</label>
  <select name="vendedor" data-placeholder="Vendedor..." onchange="" class="chosen-select" tabindex="2"></select><br>
  <label>Moneda:</label>
  <select name="moneda" data-placeholder="Moneda..." onchange="" class="chosen-select" tabindex="2">
    <option value="01">Local</option>
    <option value="02">Extranjera</option>
  </select><br>

  <label>Desde:</label>
  <input id="fechad" type="text" class="datepicker" name="fechad"/>

  <label>Hasta:</label>
  <input id="fechah" type="text" class="datepicker" name="fechah"/>


  <label>Tipo de Comprobante:</label>
  <select name="tipo_comprobante" data-placeholder="Tipo..." onchange="" class="chosen-select" tabindex="2"></select>
  <br>
  <br>
  Query
  <pre id="preview">
    <p>Empresa: </p>
  </pre>
  <br>

  <button class="btn btn-info" onclick="getInforme()">Filtrar</button>

  <div id="cabecera">
  </div>
  <div id="resultados">
    <table class="table">
      <thead>
      <tr>
        <th>Nro</th>
        <th>Cliente</th>
        <th>RUC</th>
        <th>Fecha</th>
        <th>Factor Cambio</th>
        <th>IVA</th>
        <th>Gravado</th>
        <th>Exento</th>
        <th>Total Descuentos</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot id="pie">
      </tfoot>
    </table>
  </div>

{% endblock %}

{% block extra_foot %}
  <script>
    var query = {};
    var api = u.getApiUrl();
    var $resultados = $('#resultados');
    var $tbody = $resultados.find("tbody");
    var $preview = $('#preview');
    var $header = $('#cabecera');
    var $footer = $('#pie');

    $(document).ready(function () {
      $resultados.hide();


      var today = new Date();
      var $datepicker = $('.datepicker');

      $datepicker.datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
          query[inst.id] = dateText;
          $preview.text(JSON.stringify(query));
        }
      });

      u.translate();
      $datepicker.datepicker("setDate", today);

      $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "No hay resultados disponibles.",
        width: "200px",
        allow_single_deselect: true
      });

      $('.chosen-select').on('change chosen:updated', function (evt, params) {
        var select = $(this);
        var select_name = select.attr('name');
        query[select_name] = select.val();
        $preview.text(JSON.stringify(query));
      });

      $('[name=empresa]').on('change', function (ev, params) {
        console.log('select empresa');
        $.get(api + 'empresas/' + query.empresa + '/clientes', {tipo: ''}).done(function (d) {
          u.createSelect('cliente', d, 'Cod_Cliente', 'Razon_Social', true);
          $('.chosen-select').trigger('chosen:updated');
        });
        $.get(api + 'empresas/' + query.empresa + '/comprobantes/tipos').done(function (d) {
          u.createSelect('tipo_comprobante', d, 'Cod_Tp_Comp', 'des_tp_comp', true);
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      $('[name=tipo_cliente]').on('change', function (ev, params) {
        console.log('select tipo');
        console.log(query);
        $.get(api + 'empresas/' + query.empresa + '/clientes', {tipo: query.tipo_cliente}).done(function (d) {
          u.createSelect('cliente', d, 'Cod_Cliente', 'Razon_Social', true);
          $('.chosen-select').trigger('chosen:updated');
        });
      });


      $.get(api + 'empresa/select/').done(function (d) {
        u.createSelect('empresa', d, 'Cod_Empresa', 'Des_Empresa');
        $('.chosen-select').trigger('chosen:updated');
      });

      $.get(api + 'clientes/tipos/').done(function (d) {
        u.createSelect('tipo_cliente', d, 'Cod_Tp_Cliente', 'Des_Tp_Cliente', true);
        $('.chosen-select').trigger('chosen:updated');
      });
    });

    function getInforme() {
      var row, i = null;
      var rows = [];
      var floats = ['total_iva', 'to_gravado', 'to_exento', 'totaldescuento'];
      var grav, total_global, total = 0;

      console.log("informe", query);
      $header.html("<h3>Desde " + query.fechad + " hasta " + query.fechah + "</h3>");

      $.get(api + 'empresas/' + query.empresa + '/informes/ventas_resumido', query).done(function (d) {
        console.log(d);
        total_global = 0.0;
        for (i = 0; i < d.data.length; i++) {
          row = d.data[i];
          for (var j = 0; j < floats.length; j++) {
            {#            console.log(floats[j]);#}
            row[floats[j]] = parseFloat(row[floats[j]]);
          }

          grav = row.to_gravado - row.total_iva;
          rows[i] = "<tr>" +
                  "<td>" + row.comp_numero + "</td>" +
                  "<td>" + row.cod_cliente + " " + row.razon_social + "</td>" +
                  "<td>" + row.ruc + "</td>" +
                  "<td>" + row.fecha + "</td>" +
                  "<td>" + u.addCommas(row.fact_cambio) + "</td>" +
                  "<td>" + u.addCommas(row.total_iva) + "</td>" +
                  "<td>" + u.addCommas(grav) + "</td>" +
                  "<td>" + u.addCommas(row.to_exento) + "</td>" +
                  "<td>" + u.addCommas(row.totaldescuento) + "</td>" +
                  "<td>" + u.addCommas(row.to_gravado) + "</td>" +
                  "</tr>";
          total_global += parseFloat(row.to_gravado);
          console.log(total_global);
        }
        $tbody.empty();
        $tbody.html(rows.join(''));
        $footer.html("<tfoot>" +
                "<tr>" +
                "<td>Total</td>" +
                "<td>" + u.addCommas(total_global) + "</td>" +
                "</tr>" +
                "</tfoot>");
        $resultados.show();
      });
    }
  </script>
{% endblock %}