{% extends 'finanzas/base.html' %}
{% load staticfiles %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'Chart.js/Chart.min.js' %}"></script>
{% endblock %}

{% block header %}
  Estadísticas de Ventas:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    {% include 'ventas/_filtro.html' with name="sucursal" %}
  </div>

  <div class="row">
    {% include 'ventas/_filtro.html' with name="tipoCliente" title="Tipo de Cliente" placeholder="Tipo" %}
    {% include 'ventas/_filtro.html' with name="cliente" %}
  </div>

  <div class="row">
    {% include 'ventas/_filtro.html' with name="zona" title="Zona de Venta" placeholder="Zona" %}
    {% include 'ventas/_filtro.html' with name="localidad" %}
  </div>

  <div class="row">
    {% include 'ventas/_filtro.html' with name="vendedor" %}
    {% include 'ventas/_filtro.html' with name="tipoComprobante" title="Tipo de Comprobante" placeholder="Tipo" %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="fecha" class="col-md-4 control-label">Fecha:</label>

        <div class="col-md-6">
          <div id="fecha" class="input-daterange input-group input-date">
            <input type="text" class="input-sm form-control" name="start"/>
            <span class="input-group-addon">hasta</span>
            <input type="text" class="input-sm form-control" name="end"/>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{#{% block table %}#}
{#  <thead>#}
{#  <tr>#}
{#    <th class="grouping-col">Tipo</th>#}
{#    <th>Numero</th>#}
{#    <th class="text-center">Fecha</th>#}
{#    <th>Cliente</th>#}
{#    <th class="price-label">Importe</th>#}
{#  </tr>#}
{#  </thead>#}
{#  <tfoot>#}
{#  <tr>#}
{#    <th colspan="4" style="text-align:right">Total:</th>#}
{#    <th></th>#}
{#  </tr>#}
{#  </tfoot>#}
{#{% endblock %}#}

{% block inner_content %}
  <canvas id="chart" width="400" height="400"></canvas>
{% endblock %}

{% block extra_foot %}
  <script>
    var query = {empresa: ''};
    var $results, $resultado;

    var $selectEmpresa, selectEmpresa;
    var $selectSucursal, selectSucursal;
    var $selectTipoCliente, selectTipoCliente;
    var $selectCliente, selectCliente;
    var $selectVendedor, selectVendedor;
    var $selectZona, selectZona;
    var $selectLocalidad, selectLocalidad;
    var $selectTipoComprobante, selectTipoComprobante;
    var dataTable;

    var numFormat = u.numFormatter;

    $(document).ready(function () {
      u.hideNav();
      initDates();
      initSelects();
      initChart();
      $results = $('#results');
      $resultado = $('#resultado');
      $resultado.hide();
    });

    function initDates() {
      var $inputDate = $(".input-date .form-control");
      u.defaultDatepicker();

      u.defaultDatepicker();
      $(".input-daterange").datepicker({
        todayBtn: "linked",
        format: "yyyy-mm-dd",
        autoclose: true
      });

      $inputDate.datepicker().on('changeDate', function (e) {
        var key = this.name;
        query[key] = this.value;
      });

      $inputDate.datepicker('setDate', new Date());
      $inputDate.datepicker('update');
    }

    function initSelects() {
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
        }
      });

      $selectEmpresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        onChange: function (value) {
          query.empresa = value;
          u.resetSelect(selectSucursal);
          u.softResetSelect(selectZona);
          u.softResetSelect(selectLocalidad);
          u.resetSelect(selectTipoComprobante);

          if (!value.length) return;

          selectZona.enable();
          selectLocalidad.enable();
          selectSucursal.load(function (callback) {
            $.get(api + '/sucursal/select/' + query.empresa).done(function (res) {
              selectSucursal.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          selectTipoComprobante.load(function (callback) {
            $.get(api + 'empresas/' + query.empresa + '/comprobantes/cobrar').done(function (res) {
              selectTipoComprobante.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      selectEmpresa = $selectEmpresa[0].selectize;
      selectEmpresa.load(function (cb) {
        u.get_empresas({{ user }}, function (res) {
          cb(res.data);
        });
      });

      $selectSucursal = $('#select-sucursal').selectize({
        valueField: 'Cod_Sucursal',
        labelField: 'Des_Sucursal',
        searchField: 'Des_Sucursal',
        onChange: function (value) {
          query.sucursal = value;
          u.resetSelect(selectTipoCliente);
          u.resetSelect(selectVendedor);
          if (!value.length) return;
          selectTipoCliente.load(function (callback) {
            $.get(api + 'clientes/tipos/').done(function (res) {
              selectTipoCliente.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          selectVendedor.load(function (cb) {
            $.get(api + 'empresas/' + query.empresa + '/vendedores', {sucursal: query.sucursal}).done(function (res) {
              selectVendedor.enable();
              cb(res.data);
            }).fail(function () {
              cb();
            });
          });
        }
      });
      selectSucursal = $selectSucursal[0].selectize;
      selectSucursal.disable();

      $selectTipoCliente = $('#select-tipoCliente').selectize({
        valueField: 'Cod_Tp_Cliente',
        labelField: 'Des_Tp_Cliente',
        searchField: 'Des_Tp_Cliente',
        onChange: function (value) {
          query.tipoCliente = value;
          u.resetSelect(selectCliente);
          if (!value.length) return;
          selectCliente.enable();
        }
      });
      selectTipoCliente = $selectTipoCliente[0].selectize;
      selectTipoCliente.disable();

      $selectCliente = $('#select-cliente').selectize({
        valueField: 'Cod_Cliente',
        labelField: 'Razon_Social',
        searchField: 'Razon_Social',
        load: function (q, cb) {
          if (!q.length) return cb();
          $.get(api + 'empresas/' + query.empresa + '/clientes', {
            tipo: query.tipoCliente,
            cliente: q,
            sucursal: query.sucursal
          }).done(function (res) {
            cb(res.data);
          }).fail(function () {
            cb();
          });
        }
      });
      selectCliente = $selectCliente[0].selectize;
      selectCliente.disable();

      $selectVendedor = $('#select-vendedor').selectize({
        valueField: 'cod_vendedor',
        labelField: 'des_vendedor',
        searchField: 'des_vendedor'
      });
      selectVendedor = $selectVendedor[0].selectize;
      selectVendedor.disable();

      $selectZona = $('#select-zona').selectize({
        valueField: 'cod_zona',
        labelField: 'des_zona',
        searchField: 'des_cobrador'
      });
      selectZona = $selectZona[0].selectize;
      selectZona.disable();
      selectZona.load(function (cb) {
        $.get(api + 'ventas/zonas').done(function (res) {
          cb(res.data);
        }).fail(function () {
          cb();
        });
      });

      $selectLocalidad = $('#select-localidad').selectize({
        valueField: 'cod_localidad',
        labelField: 'des_localidad',
        searchField: 'des_localidad'
      });
      selectLocalidad = $selectLocalidad[0].selectize;
      selectLocalidad.disable();
      selectLocalidad.load(function (cb) {
        $.get(api + 'localidades').done(function (res) {
          cb(res.data);
        }).fail(function () {
          cb();
        });
      });

      $selectTipoComprobante = $('#select-tipoComprobante').selectize({
        valueField: 'cod_tp_comp',
        labelField: 'des_tp_comp',
        searchField: 'des_tp_comp',
        render: {
          option: function (item, escape) {
            return '<div>' + escape(item.cod_tp_comp) + ' - ' + escape(item.des_tp_comp) + '</div>';
          },
          item: function (item, escape) {
            return '<div>' + escape(item.cod_tp_comp) + ' - ' + escape(item.des_tp_comp) + '</div>';
          }
        }
      });
      selectTipoComprobante = $selectTipoComprobante[0].selectize;
      selectTipoComprobante.disable();

    }

    function getInforme() {
      $('.collapse').collapse('hide');

      if (!dataTable) {
        $resultado.show();
        u.defaultDT();
        dataTable = $results.DataTable({
          ajax: function (d, cb, s) {
            $.ajax({
              method: 'GET',
              url: api + 'recaudaciones/' + query.empresa + '/consolidada',
              data: query
            }).done(function (res) {
              cb(res);
            }).fail(function (err) {
              console.log(err);
              dataTable.clear().draw();
              dataTable.processing(false);
            });
          },
          columns: [
            {data: 'cod_tp_comp', name: 'tipo'},
            {data: 'pago_numero'},
            {data: 'fecha', render: u.dateFormat},
            {
              data: 'razon_social', render: function (d, t, r, m) {
              return r['cod_cliente'] + ' - ' + d;
            }
            },
            {data: 'importe'}
          ],
          footerCallback: footerSum,
          drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;
            var colCount = api.columns().header().length;

            api.column('tipo:name', {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group text-center"><td colspan="' + colCount + '"><h4>' + group + '</h4></td></tr>'
                );
                last = group;
              }
            });
          },
          processing: true
        });
      } else {
        dataTable.clear().draw();
        dataTable.processing(true);
        dataTable.ajax.reload(function () {
          dataTable.processing(false);
        }, true);
      }
    }
    function footerSum(row, data, start, end, display) {
      var api = this.api(), data;

      // Total over all pages
      var totalImporte = api.column(-1).data().sum();

      // Update footer
      $(api.column(-1).footer()).html(
              numFormat.display(totalImporte)
      );
    }

    function initChart() {
      // Get context with jQuery - using jQuery's .get() method.
      var ctx = $("#chart").get(0).getContext("2d");

      var data = {
        labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"],
        datasets: [
          {
            label: "Uno",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
          },
          {
            label: "Dos",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
          }
        ]
      };

      {% verbatim options%}
        var options = {
          barShowStroke: false,
          multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
        };
      {% endverbatim options %}

      var myBarChart = new Chart(ctx).Bar(data, options);
    }
  </script>
{% endblock %}