{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" href={% static 'css/jquery-ui.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/chosen.css' %}>
  <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'datatables/media/css/dataTables.bootstrap.min.css' %}">
  <script src={% static 'js/jquery-ui.js' %}></script>
  <script src={% static 'js/puntos-decimales.js' %}></script>
  <script src={% static 'js/jquery.maskedinput.min.js' %}></script>
  <script src="{% static 'select2/js/select2.full.min.js' %}"></script>
  <script src={% static 'chosen_v1.4.2/chosen.jquery.js' %}></script>
  <script src={% static 'dajaxice/dajaxice.core.js' %}></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'datatables/media/js/dataTables.bootstrap.js' %}"></script>
{% endblock %}

{% block header %}
  Ventas:
{% endblock %}


{% block content %}
  <!-- <br>
  Query
  <pre id="preview"><p></p></pre><br> -->

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h4 class="panel-title">Filtros</h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-group text-center" id="archivo_accordion" style="margin-bottom: 0px;">

            <center>
              <table style="width: auto;" class="table table-striped table-hover table-bordered table-filter scroll">
                <tr>
                  <th> Empresa:</th>
                  <td><select name="empresa" data-placeholder="Empresa..." onchange="" class="chosen-select"
                              tabindex="2"></select></td>
                  <th> Sucursal:</th>
                  <td><select name="sucursal" data-placeholder="Sucursal..." onchange="" class="chosen-select"
                              tabindex="2"></select></td>
                </tr>
                <tr>
                  <th> Tipo Cliente:</th>
                  <td><select name="tipo_cliente" data-placeholder="Tipo..." onchange="" class="chosen-select"
                              tabindex="2"></select></td>
                  <th> Cliente:</th>
                  <td><select name="cliente" data-placeholder="Cliente..." onchange="" class="chosen-select"
                              tabindex="2"></select></td>
                </tr>
                <tr>
                  <th> Desde:</th>
                  <td><input id="fechad" type="text" class="datepicker" name="fechad"/></td>
                  <th> Hasta:</th>
                  <td><input id="fechah" type="text" class="datepicker" name="fechah"/></td>
                </tr>
                <tr>
                  <th> Grupo:</th>
                  <td><select name="grupo" data-placeholder="Grupo..." onchange="" class="chosen-select"
                              tabindex="2"></select></td>
                  <th> Comprobante:</th>
                  <td><select name="tipo_comprobante" data-placeholder="Tipo..." onchange="" class="chosen-select"
                              tabindex="2"></select></td>
                </tr>
                <tr>
                  <th> Agrupar por:</th>
                  <td><select name="order" data-placeholder="Agrupar..." onchange="" class="chosen-select" tabindex="2">
                    <option value="cod_tp_comp">Comprobante</option>
                    <option value="cod_cliente">Cliente</option>
                    <option value="cod_vendedor">Vendedor</option>
                  </select></td>
                  <th> Moneda:</th>
                  <td><select name="moneda" data-placeholder="Moneda..." onchange="" class="chosen-select" tabindex="2">
                    <option value="01">Local</option>
                    <option value="02">Extranjera</option>
                  </select></td>
                </tr>
              </table>
            </center>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" onclick="getInforme()">Filtrar <i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>

  <div class="results">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th class="text-center">Detalle</th>
        <th># Compr.</th>
        <th>Cliente</th>
        <th>RUC</th>
        <th class="text-center">Fecha</th>
        <th class="price-label">IVA</th>
        <th class="price-label">Gravado</th>
        <th class="price-label">Descuento</th>
        <th class="price-label">Total</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th colspan="8" style="text-align:right">Total:</th>
        <th></th>
      </tr>
      </tfoot>
    </table>
  </div>

  <div class="modal fade" id="ventaModal" tabindex="-1" role="dialog" aria-labelledby="ventaModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ventaModalLabel">Detalle de Venta</h4>
        </div>
        <div class="modal-body">
          <div class="well well-sm">
            <dl class="dl-horizontal">
              <div class="row">
                <div class="col-md-6">
                  <dt>Comprobante</dt>
                  <dd id="comprobanteModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Tipo</dt>
                  <dd id="tipoModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Cliente</dt>
                  <dd id="clienteModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Fecha</dt>
                  <dd id="fechaModal"></dd>
                </div>
              </div>
            </dl>
          </div>
          <table id="detailTableModal" class="table">
            <thead>
            <tr>
              <th>Dep.</th>
              <th>Art.</th>
              <th>Descripcion</th>
              <th>Lista</th>
              <th class="text-center">Cant.</th>
              <th class="price-label">Pr. Unit.</th>
              <th class="price-label">% Dcto.</th>
              <th class="price-label">Total</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="well well-sm text-center">
          <div class="row">
            <div class="col-sm-3">
              <dt>Bruto</dt>
              <dd id="brutoModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>IVA</dt>
              <dd id="ivaModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>Dcto.</dt>
              <dd id="descuentoModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>Neto</dt>
              <dd id="netoModal"></dd>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_foot %}
  <script>
    var query = {
      order: 'cod_tp_comp'
    };

    var api = u.getApiUrl();
    var $preview = $('#preview');
    var $results = $('.results');
    var numFormat = $.fn.dataTable.render.number('.', ',', 2).display;

    $(document).ready(function () {
      $('#ventaModal').on('show.bs.modal', showModal);

      u.hideNav();
      $results.hide();

      var today = new Date();
      var $datepicker = $('.datepicker');

      $datepicker.datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
          query[inst.id] = dateText;
          $preview.text(JSON.stringify(query));
        }
      });

      u.translate();
      $datepicker.datepicker("setDate", today);
      query.fechad = query.fechah = $.datepicker.formatDate("yy-mm-dd", today);

      $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "No hay resultados disponibles.",
        width: "200px",
        allow_single_deselect: true
      });

      $('.chosen-select').on('change', function (evt, params) {
        var select = $(this);
        var select_name = select.attr('name');
        query[select_name] = select.val();
        $preview.text(JSON.stringify(query));
      });

      $('[name=empresa]').on('change', function (ev, params) {
        $.get(api + 'clientes/tipos/').done(function (d) {
          u.createSelect('tipo_cliente', d, 'Cod_Tp_Cliente', 'Des_Tp_Cliente', false);
          $('.chosen-select').trigger('chosen:updated');
        });

        $.get(api + '/sucursal/select/' + query.empresa).done(function (d) {
          u.createSelect('sucursal', d, 'Cod_Sucursal', 'Des_Sucursal');
          $('.chosen-select').trigger('chosen:updated');
        });

        $.get(api + 'empresas/' + query.empresa + '/comprobantes/tipos').done(function (d) {
          u.createSelect('tipo_comprobante', d, 'Cod_Tp_Comp', 'des_tp_comp', true);
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      $('[name=tipo_cliente]').on('change', function (ev, params) {
        console.log('select tipo', query.tipo_cliente);
        console.log(query);
        $.get(api + 'empresas/' + query.empresa + '/clientes', {tipo: query.tipo_cliente}).done(function (d) {
          u.createSelect('cliente', d, 'Cod_Cliente', 'Razon_Social', true);
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      u.get_empresas({{ user.id }}, function (d) {
        u.createSelect('empresa', d, 'Cod_Empresa', 'Des_Empresa');
        $('.chosen-select').trigger('chosen:updated');
      });

      $.get(api + 'grupos/').done(function (d) {
        u.createSelect('grupo', d, 'cod_grupo', 'des_grupo', true);
        $('.chosen-select').trigger('chosen:updated');
      });
    });

    function getInforme() {
      $('.collapse').collapse('hide');
      var mappings = {'cod_cliente': 'razon_social', 'cod_tp_comp': 'des_tp_comp', 'cod_vendedor': 'des_vendedor'};
      var group_field = mappings[query.order];

      var calcGravado = function (data, type, row) {
        var gravado = parseFloat(row.to_gravado) - parseFloat(row.total_iva);
        return numFormat(gravado);
      };

      if (!$.fn.DataTable.isDataTable('#example')) {
        $('#example').DataTable({
          language: u.spanish_dt,
          ajax: {
            url: api + 'empresas/' + query.empresa + '/informes/ventas_resumido',
            data: query
          },
          columnDefs: [
            {className: "price-value", targets: "price-label"},
            {render: $.fn.dataTable.render.number('.', ',', 2), targets: "price-label"},
            {className: "text-center", targets: "text-center"}
          ],
          columns: [
            {
              data: null,
              render: function (d, t, r) {
                return "<a class='btn btn-primary' data-toggle='modal' data-target='#ventaModal' " +
                        "data-cabecera='" + JSON.stringify(r) + "'>" +
                        "<i class='fa fa-search-plus'></i></a>";
              }
            },
            {data: 'comp_numero'},
            {data: 'razon_social'},
            {data: 'ruc'},
            {data: 'fecha'},
            {data: 'total_iva'},
            {data: null, render: calcGravado},
            {data: 'totaldescuento'},
            {data: 'to_gravado'},
          ],
          searching: false,
          ordering: false,
          footerCallback: footerSum,
          drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;
            var colCount = api.columns().header().length;

            api.column(2, {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group"><td colspan="' + colCount + '">' + group + '</td></tr>'
                );
                last = group;
              }
            });
          },
        });
        $results.show();
      } else {
        $results.hide();
        $('#example').DataTable().ajax.url(api + 'empresas/' + query.empresa + '/informes/ventas_resumido')
                .load(function () {
                  $results.show();
                });
      }
    }

    function showModal(event) {
      var button = $(event.relatedTarget);
      var cabecera = button.data('cabecera');
      var item = null;
      var items = [];
      var modal = $(this);
      var table = modal.find('tbody');
      table.empty();

      modal.find('#comprobanteModal').text(cabecera.comp_numero);
      modal.find('#tipoModal').text(cabecera.cod_tp_comp);
      modal.find('#clienteModal').text(cabecera.cod_cliente + " " + cabecera.razon_social);
      modal.find('#fechaModal').text(cabecera.fecha);

      modal.find('#brutoModal').text(u.addCommas(cabecera.to_gravado));
      modal.find('#ivaModal').text(u.addCommas(cabecera.total_iva));
      modal.find('#descuentoModal').text(u.addCommas(cabecera.totaldescuento));
      modal.find('#netoModal').text(u.addCommas(cabecera.to_gravado));

      $.get(api + 'empresas/' + cabecera.cod_empresa + '/ventas/' + cabecera.comp_numero).done(function (d) {
        //modal.find('.modal-title').text('Comprobante ' + cabecera.comp_numero);
        var totCant = 0.0;
        for (var i = 0; i < d.data.length; i++) {
          item = d.data[i];
          items.push("<tr>" +
                  "<td>" + item.cod_deposito + "</td>" +
                  "<td>" + item.cod_articulo + "</td>" +
                  "<td>" + item.descrip + "</td>" +
                  "<td>" + item.lista_prec + "</td>" +
                  "<td class='text-center'>" + u.addCommas(item.cantidad) + "</td>" +
                  "<td class='price-value'>" + u.addCommas(item.pr_unit) + "</td>" +
                  "<td class='price-value'>" + u.addCommas(item.descuento) + "</td>" +
                  "<td class='price-value'>" + u.addCommas(item.total_neto) + "</td>" +
                  "</tr>");
          totCant += parseFloat(item.cantidad);
        }
        var summary =
                "<tr>" +
                "<td colspan='4'></td>" +
                "<td class='text-center'><strong>" + u.addCommas(totCant) + "</strong></td>" +
                "<td colspan='2'></td>" +
                "<td class='price-value'><strong>" + u.addCommas(cabecera.to_gravado) + "</strong></td>" +
                "</tr>";
        items.push(summary);
        table.html(items.join(''));
      });
    }

    function footerSum(row, data, start, end, display) {
      var api = this.api(), data;

      // Remove the formatting to get integer data for summation
      var parseVal = function (i) {
        var n = typeof i === 'string' ?
                parseFloat(i.replace(/[\$]/g, '')) :
                typeof i === 'number' ?
                        i : 0;
        console.log(i, n);
        return n;
      };

      // Total over all pages
      total = api
              .column(8)
              .data()
              .reduce(function (a, b) {
                return parseVal(a) + parseVal(b);
              }, 0);

      // Total over this page
      pageTotal = api
              .column(8, {page: 'current'})
              .data()
              .reduce(function (a, b) {
                return parseVal(a) + parseVal(b);
              }, 0);

      // Update footer
      $(api.column(8).footer()).html(
              numFormat(pageTotal) + ' (' + numFormat(total) + ' total)'
      );
    }
  </script>
{% endblock %}