{% extends 'finanzas/base.html' %}

{% block header %}
  Ventas:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with title="Empresa" name="empresa" %}
  {% include 'ventas/_filtro.html' with title="Sucursal" name="sucursal" %}
  {% include 'ventas/_filtro.html' with title="Tipo Cliente" name="tipo_cliente" %}
  {% include 'ventas/_filtro.html' with title="Cliente" name="cliente" %}
  <div class="col-sm-6">
    <div class="form-group">
      <label for="fecha" class="col-md-4 control-label">Fecha:</label>

      <div class="col-md-6">
        <div id="fecha" class="input-daterange input-group input-date">
          <input type="text" class="input-sm form-control" name="desde"/>
          <span class="input-group-addon">a</span>
          <input type="text" class="input-sm form-control" name="hasta"/>
        </div>
      </div>
    </div>
  </div>
  {% include 'ventas/_filtro.html' with title="Grupo" name="grupo" %}
  {% include 'ventas/_filtro.html' with title="Comprobante" name="tipo_comprobante" %}
  {% include 'ventas/_filtro.html' with title="Agrupar por" name="order" %}
{% endblock filters %}


{% block table %}
  <thead>
  <tr>
    <th class="text-center">Detalle</th>
    <th># Compr.</th>
    <th>Cliente</th>
    <th>RUC</th>
    <th class="text-center">Fecha</th>
    <th class="price-label">IVA</th>
    <th class="price-label">Gravado</th>
    <th class="price-label">Descuento</th>
    <th class="price-label">Total</th>
    <th class="grouping-col">Comprobante</th>
    <th class="grouping-col">Cliente</th>
    <th class="grouping-col">Vendedor</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th colspan="8" style="text-align:right">Total:</th>
    <th></th>
  </tr>
  </tfoot>
{% endblock %}

{% block inner_content %}
  <div class="modal fade" id="ventaModal" tabindex="-1" role="dialog" aria-labelledby="ventaModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ventaModalLabel">Detalle de Venta</h4>
        </div>
        <div class="modal-body">
          <div class="well well-sm">
            <dl class="dl-horizontal">
              <div class="row">
                <div class="col-md-6">
                  <dt>Comprobante</dt>
                  <dd id="comprobanteModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Tipo</dt>
                  <dd id="tipoModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Cliente</dt>
                  <dd id="clienteModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Fecha</dt>
                  <dd id="fechaModal"></dd>
                </div>
              </div>
            </dl>
          </div>
          <table id="detailTableModal" class="table">
            <thead>
            <tr>
              <th>Dep.</th>
              <th>Art.</th>
              <th>Descripcion</th>
              <th>Lista</th>
              <th class="text-center">Cant.</th>
              <th class="price-label">Pr. Unit.</th>
              <th class="price-label">% Dcto.</th>
              <th class="price-label">Total</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="well well-sm text-center">
          <div class="row">
            <div class="col-sm-3">
              <dt>Bruto</dt>
              <dd id="brutoModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>IVA</dt>
              <dd id="ivaModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>Dcto.</dt>
              <dd id="descuentoModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>Neto</dt>
              <dd id="netoModal"></dd>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_foot %}
  <script>
    var query = {
      order: 'cod_tp_comp'
    };

    var api = u.getApiUrl();
    var $preview = $('#preview');
    var $results = $('#results');
    var numFormat = $.fn.dataTable.render.number('.', ',', 2).display;
    var init = initialize;
    var today = new Date();

    var select_empresa, $select_empresa;
    var select_sucursal, $select_sucursal;
    var select_tipo_cliente, $select_tipo_cliente;
    var select_cliente, $select_cliente;
    var select_grupo, $select_grupo;
    var select_tipo_comprobante, $select_tipo_comprobante;
    var $select_order;

    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      init();

      select_empresa = $select_empresa[0].selectize;

      select_tipo_cliente = $select_tipo_cliente[0].selectize;
      select_tipo_cliente.disable();
      select_sucursal = $select_sucursal[0].selectize;
      select_sucursal.disable();
      select_cliente = $select_cliente[0].selectize;
      select_cliente.disable();
      select_tipo_comprobante = $select_tipo_comprobante[0].selectize;
      select_tipo_comprobante.disable();
      select_grupo = $select_grupo[0].selectize;
      select_grupo.disable();

    });

    function initialize() {
      $('#ventaModal').on('show.bs.modal', showModal);

      $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
        orientation: "bottom auto"
      });

      $('.input-date .form-control').datepicker().on('changeDate', function (e) {
        query[this.name] = this.value;
        u.debug($preview, query);
      });

      $('.input-date .form-control').datepicker('setDate', today);
      $('.input-date .form-control').datepicker('update');

      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          u.debug($preview, query);
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }}, function (d) {
            callback(d.data);
          });
        }, onChange: function (value) {
          query.empresa = value;
          if (!value.length) return;
          select_tipo_cliente.disable();
          select_tipo_cliente.clearOptions();
          select_tipo_cliente.load(function (callback) {
            $.get(api + 'clientes/tipos/').done(function (res) {
              select_tipo_cliente.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });

          select_tipo_comprobante.disable();
          select_tipo_comprobante.clearOptions();
          select_tipo_comprobante.load(function (callback) {
            $.get(api + 'empresas/' + query.empresa + '/comprobantes/tipos').done(function (res) {
              select_tipo_comprobante.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_grupo.disable();
          select_grupo.clearOptions();
          select_grupo.load(function (callback) {
            $.get(api + 'grupos/').done(function (res) {
              select_grupo.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_sucursal.disable();
          select_sucursal.clearOptions();
          select_sucursal.load(function (callback) {
            $.get(api + '/sucursal/select/' + query.empresa).done(function (res) {
              select_sucursal.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_tipo_cliente = $('#select-tipo_cliente').selectize({
        valueField: 'Cod_Tp_Cliente',
        labelField: 'Des_Tp_Cliente',
        searchField: 'Des_Tp_Cliente',
        onChange: function (value) {
          query.tipo_cliente = value;
          if (!value.length) return;
          select_cliente.disable();
          select_cliente.clearOptions();
          select_cliente.load(function (cb) {
            $.get(api + 'empresas/' + query.empresa + '/clientes', {tipo: query.tipo_cliente}).done(function (res) {
              select_cliente.enable();
              cb(res.data);
            }).fail(function () {
              cb();
            });
          });
        }
      });

      $select_cliente = $('#select-cliente').selectize({
        valueField: 'Cod_Cliente',
        labelField: 'Razon_Social',
        searchField: 'Razon_Social'
      });

      $select_tipo_comprobante = $('#select-tipo_comprobante').selectize({
        valueField: 'Cod_Tp_Comp',
        labelField: 'des_tp_comp',
        searchField: 'des_tp_comp'
      });

      $select_grupo = $('#select-grupo').selectize({
        valueField: 'cod_grupo',
        labelField: 'des_grupo',
        searchField: 'des_grupo'
      });

      $select_sucursal = $('#select-sucursal').selectize({
        valueField: 'Cod_Sucursal',
        labelField: 'Des_Sucursal',
        searchField: 'Des_Sucursal'
      });

      $select_order = $('#select-order').selectize({
        options: [
          {value: 'cod_tp_comp', text: 'Comprobante'},
          {value: 'cod_cliente', text: 'Cliente'},
          {value: 'cod_vendedor', text: 'Vendedor'},
        ]
      });
    }

    function getInforme() {
      $('.collapse').collapse('hide');
      $results.show();

      var calcGravado = function (data, type, row) {
        var gravado = parseFloat(row.to_gravado) - parseFloat(row.total_iva);
        return numFormat(gravado);
      };

      if (!$.fn.DataTable.isDataTable('#results')) {
        $('#results').DataTable({
          language: u.spanish_dt,
          ajax: function (d, cb, s) {
            $.ajax({
              method: 'GET',
              url: api + 'empresas/' + query.empresa + '/informes/ventas_resumido',
              data: query
            }).done(function (res) {
              cb(res);
            }).fail(function () {
              cb();
            });
          },
          deferRender: true,
          scrollY: 400,
          scrollCollapse: true,
          scroller: {
            displayBuffer: 30,
            loadingIndicator: true
          },
          columnDefs: [
            {className: "price-value", targets: "price-label"},
            {render: $.fn.dataTable.render.number('.', ',', 2), targets: "price-label"},
            {className: "text-center", targets: "text-center"},
            {visible: false, targets: "grouping-col"}
          ],
          columns: [
            {
              data: null,
              render: function (d, t, r) {
                return "<a class='btn btn-primary' data-toggle='modal' data-target='#ventaModal' " +
                        "data-cabecera='" + JSON.stringify(r) + "'>" +
                        "<i class='fa fa-search-plus'></i></a>";
              }
            },
            {data: 'comp_numero'},
            {data: 'razon_social'},
            {data: 'ruc'},
            {data: 'fecha'},
            {data: 'total_iva'},
            {data: null, render: calcGravado},
            {data: 'totaldescuento'},
            {data: 'to_gravado'},
            {data: 'des_tp_comp', name: 'cod_tp_comp'},
            {data: 'razon_social', name: 'cod_cliente'},
            {data: 'des_vendedor', name: 'cod_vendedor'}
          ],
          searching: false,
          ordering: false,
          footerCallback: footerSum,
          drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;
            var colCount = api.columns().header().length;

            console.log(colCount);
            api.column(query.order + ':name', {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group text-center"><td colspan="' + colCount + '"><h4>' + group + '</h4></td></tr>'
                );
                last = group;
              }
            });
          },
        });
        $results.show();
      } else {
        var table = $('#results').DataTable();
        var $resultado = $('#resultado');
        $resultado.css("position", "absolute").css("left", -9999);
        table.row(0).scrollTo();
        table.ajax.reload(function () {
          $resultado.css("position", "relative").css("left", 0);
        }, true);
      }
    }

    function showModal(event) {
      var button = $(event.relatedTarget);
      var cabecera = button.data('cabecera');
      var item = null;
      var items = [];
      var modal = $(this);
      var table = modal.find('tbody');
      table.empty();

      modal.find('#comprobanteModal').text(cabecera.comp_numero);
      modal.find('#tipoModal').text(cabecera.cod_tp_comp);
      modal.find('#clienteModal').text(cabecera.cod_cliente + " " + cabecera.razon_social);
      modal.find('#fechaModal').text(cabecera.fecha);

      modal.find('#brutoModal').text(u.addCommas(cabecera.to_gravado));
      modal.find('#ivaModal').text(u.addCommas(cabecera.total_iva));
      modal.find('#descuentoModal').text(u.addCommas(cabecera.totaldescuento));
      modal.find('#netoModal').text(u.addCommas(cabecera.to_gravado));

      $.get(api + 'empresas/' + cabecera.cod_empresa + '/ventas/' + cabecera.comp_numero).done(function (d) {
        //modal.find('.modal-title').text('Comprobante ' + cabecera.comp_numero);
        var totCant = 0.0;
        for (var i = 0; i < d.data.length; i++) {
          item = d.data[i];
          items.push("<tr>" +
                  "<td>" + item.cod_deposito + "</td>" +
                  "<td>" + item.cod_articulo + "</td>" +
                  "<td>" + item.descrip + "</td>" +
                  "<td>" + item.lista_prec + "</td>" +
                  "<td class='text-center'>" + u.addCommas(item.cantidad) + "</td>" +
                  "<td class='price-value'>" + u.addCommas(item.pr_unit) + "</td>" +
                  "<td class='price-value'>" + u.addCommas(item.descuento) + "</td>" +
                  "<td class='price-value'>" + u.addCommas(item.total_neto) + "</td>" +
                  "</tr>");
          totCant += parseFloat(item.cantidad);
        }
        var summary =
                "<tr>" +
                "<td colspan='4'></td>" +
                "<td class='text-center'><strong>" + u.addCommas(totCant) + "</strong></td>" +
                "<td colspan='2'></td>" +
                "<td class='price-value'><strong>" + u.addCommas(cabecera.to_gravado) + "</strong></td>" +
                "</tr>";
        items.push(summary);
        table.html(items.join(''));
      });
    }

    function footerSum(row, data, start, end, display) {
      var api = this.api(), data;

      // Remove the formatting to get integer data for summation
      var parseVal = function (i) {
        var n = typeof i === 'string' ?
                parseFloat(i.replace(/[\$]/g, '')) :
                typeof i === 'number' ?
                        i : 0;
        //console.log(i, n);
        return n;
      };

      // Total over all pages
      var total = api
              .column(8)
              .data()
              .reduce(function (a, b) {
                return parseVal(a) + parseVal(b);
              }, 0);


      // Update footer
      $(api.column(8).footer()).html(
              numFormat(total)
      );
    }
  </script>
{% endblock %}