{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% block extrahead %}
  <link rel="stylesheet" href={% static 'css/jquery-ui.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/chosen.css' %}>
  <link rel="stylesheet" href={% static 'chosen_v1.4.2/docsupport/prism.css' %}>
  <link rel="stylesheet" href="{% static 'select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src={% static 'js/jquery-ui.js' %}></script>
  <script src={% static 'js/puntos-decimales.js' %}></script>
  <script src={% static 'js/jquery.maskedinput.min.js' %}></script>
  <script src="{% static 'select2/js/select2.full.min.js' %}"></script>
  <script src={% static 'chosen_v1.4.2/chosen.jquery.js' %}></script>
  <script src={% static 'chosen_v1.4.2/docsupport/prism.js' %}></script>
  <script src={% static 'dajaxice/dajaxice.core.js' %}></script>
  <script src="{% static 'js/utils.js' %}"></script>
  {#  {% include 'finanzas/balancegeneral_metodos.html' %}#}
{% endblock %}

{% block header %}
  Venta por Comprobante:
{% endblock %}


{% block content %}
  {#  <select class="js-data-example-ajax" style="width: 50%;"></select>#}

  <br>
  Query
  <pre id="preview"><p></p></pre><br>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h4 class="panel-title">Filtros</h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-group text-center" id="archivo_accordion" style="margin-bottom: 0px;">

            <div class="row show-grid">
              <div class="col-sm-12">
                <th><b>Empresa:</b></th>
                <td><select name="empresa" data-placeholder="Empresa..." onchange="" class="chosen-select"
                            tabindex="2"></select></td>
              </div>
            </div>
            <div class="row show-grid">
              <div class="col-sm-6">
                <th><b>Sucursal:</b></th>
                <td>
                  <select name="sucursal" data-placeholder="Sucursal..." onchange="" class="chosen-select"
                          tabindex="2"></select>
                </td>
              </div>
              <div class="col-sm-6">
                <th><b>Moneda:</b></th>
                <td>
                  <select name="moneda" data-placeholder="Moneda..." onchange="" class="chosen-select" tabindex="2">
                    <option value="01">Local</option>
                    <option value="02">Extranjera</option>
                  </select>
                </td>
              </div>
            </div>

            <div class="row show-grid">
              <div class="col-sm-6">
                <th><b>Tipo Cliente:</b></th>
                <td><select name="tipo_cliente" data-placeholder="Tipo..." onchange="" class="chosen-select"
                            tabindex="2"></select></td>
              </div>
              <div class="col-sm-6">
                <th><b>Cliente:</b></th>
                <td><select name="cliente" data-placeholder="Cliente..." onchange="" class="chosen-select"
                            tabindex="2"></select></td>
              </div>
            </div>

            <div class="row show-grid">
              <div class="col-sm-6">
                <th><b>Grupo:</b></th>
                <td><select name="grupo" data-placeholder="Grupo..." onchange="" class="chosen-select"
                            tabindex="2"></select></td>
              </div>
              <div class="col-sm-6">
                <th><b>Comprobante:</b></th>
                <td><select name="tipo_comprobante" data-placeholder="Tipo..." onchange="" class="chosen-select"
                            tabindex="2"></select></td>
              </div>
            </div>

            <div class="row show-grid">
              <div class="col-sm-6">
                <th><b>Desde:</b></th>
                <td><input id="fechad" type="text" class="datepicker" name="fechad"/></td>
              </div>
              <div class="col-sm-6">
                <th><b>Hasta:</b></th>
                <td><input id="fechah" type="text" class="datepicker" name="fechah"/></td>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" onclick="getInforme()">Filtrar <i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="results">
    <div class="result-group">
      <div class="result-header"></div>
      <table class="table table-striped table-hover table-bordered table-filter scroll">
        <thead>
        <tr>
          <th>Nro</th>
          <th>Cliente</th>
          <th>RUC</th>
          <th>Fecha</th>
          <th class="price-label">Factor Cambio</th>
          <th class="price-label">IVA</th>
          <th class="price-label">Gravado</th>
          <th class="price-label">Exento</th>
          <th class="price-label">Total Descuentos</th>
          <th class="price-label">Total</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block extra_foot %}
  <script>
    var query = {
      order: 'comprobante'
    };
    var api = u.getApiUrl();
    var $preview = $('#preview');

    var $results = $('.results');
    var $emptyTable = $('.result-group').clone();

    $(document).ready(function () {

      u.hideNav();
      $results.hide();

      var today = new Date();
      var $datepicker = $('.datepicker');

      $datepicker.datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
          query[inst.id] = dateText;
          $preview.text(JSON.stringify(query));
        }
      });

      u.translate();
      $datepicker.datepicker("setDate", today);
      query.fechad = query.fechah = $.datepicker.formatDate("yy-mm-dd", today);

      $(".chosen-select").chosen({
        disable_search_threshold: 0,
        no_results_text: "No hay resultados disponibles.",
        width: "200px",
        allow_single_deselect: true
      });

      $('.chosen-select').on('change chosen:updated', function (evt, params) {
        var select = $(this);
        var select_name = select.attr('name');
        query[select_name] = select.val();
        $preview.text(JSON.stringify(query));
      });

      $('[name=empresa]').on('change', function (ev, params) {
        console.log('select empresa');
        $.get(api + 'empresas/' + query.empresa + '/clientes', {tipo: ''}).done(function (d) {
          u.createSelect('cliente', d, 'Cod_Cliente', 'Razon_Social', true);
          $('.chosen-select').trigger('chosen:updated');
        });

        $.get(api + '/sucursal/select/' + query.empresa).done(function (d) {
          u.createSelect('sucursal', d, 'Cod_Sucursal', 'Des_Sucursal');
          $('.chosen-select').trigger('chosen:updated');
        });

        $.get(api + 'empresas/' + query.empresa + '/comprobantes/tipos').done(function (d) {
          u.createSelect('tipo_comprobante', d, 'Cod_Tp_Comp', 'des_tp_comp', true);
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      $('[name=tipo_cliente]').on('change', function (ev, params) {
        console.log('select tipo');
        console.log(query);
        $.get(api + 'empresas/' + query.empresa + '/clientes', {tipo: query.tipo_cliente}).done(function (d) {
          u.createSelect('cliente', d, 'Cod_Cliente', 'Razon_Social', true);
          $('.chosen-select').trigger('chosen:updated');
        });
      });

      u.get_empresas({{ user.id }}, function (d) {
        u.createSelect('empresa', d, 'Cod_Empresa', 'Des_Empresa');
        $('.chosen-select').trigger('chosen:updated');
        $('[name=empresa]').trigger('change');
      });


      $.get(api + 'clientes/tipos/').done(function (d) {
        u.createSelect('tipo_cliente', d, 'Cod_Tp_Cliente', 'Des_Tp_Cliente', true);
        $('.chosen-select').trigger('chosen:updated');
      });

      $.get(api + 'grupos/').done(function (d) {
        u.createSelect('grupo', d, 'cod_grupo', 'des_grupo', true);
        $('.chosen-select').trigger('chosen:updated');
      });
    });

    function getInforme() {
      var group_field = 'des_tp_comp';
      var row, i = null;
      var rows = [];
      var floats = ['total_iva', 'to_gravado', 'to_exento', 'totaldescuento'];
      var grav, total_global, total = 0;
      var group = null;
      $results.hide();
      $results.empty();

      $.get(api + 'empresas/' + query.empresa + '/informes/ventas_resumido', query).done(function (d) {
        if (d.data.length > 0) {
          total_global = 0.0;
          group = d.data[0][group_field];
          for (i = 0; i < d.data.length; i++) {
            row = d.data[i];
            if (row[group_field] != group) {
              createTable(rows, group, total_global);
              rows = [];
              group = row[group_field];
              total_global = 0.0;
            }

            for (var j = 0; j < floats.length; j++) {
              row[floats[j]] = parseFloat(row[floats[j]]);
            }

            grav = row.to_gravado - row.total_iva;
            rows.push("<tr>" +
                    "<td>" + row.comp_numero + "</td>" +
                    "<td>" + row.cod_cliente + " " + row.razon_social + "</td>" +
                    "<td>" + row.cod_tp_comp + "</td>" +
                    "<td>" + row.fecha + "</td>" +
                    "<td class='price-value'>" + u.addCommas(row.fact_cambio) + "</td>" +
                    "<td class='price-value'>" + u.addCommas(row.total_iva) + "</td>" +
                    "<td class='price-value'>" + u.addCommas(grav) + "</td>" +
                    "<td class='price-value'>" + u.addCommas(row.to_exento) + "</td>" +
                    "<td class='price-value'>" + u.addCommas(row.totaldescuento) + "</td>" +
                    "<td class='price-value'>" + u.addCommas(row.to_gravado) + "</td>" +
                    "</tr>");
            total_global += parseFloat(row.to_gravado);
          }
        } else {
          console.log("no hay resultados");
          {#          $tbody.html("<tr><td colspan='10'>No hay resultados</td></tr>");#}
        }
        createTable(rows, group, total_global);
        $results.show();
      });
    }

    function createTable(rows, group, total_global) {
      console.log("creartabla", group);
      var $newTable = $emptyTable.clone();
      var $header = $newTable.find('.result-header');
      var $tbody = $newTable.find('tbody');

      $header.html('<h3>' + group + '</h3>');
      $tbody.html(rows.join(''));
      $tbody.append("" +
              "<tr>" +
              "<td colspan='9'><b>Total</b></td>" +
              "<td class='price-value'><b>" + u.addCommas(total_global) + "</b></td>" +
              "</tr>" +
              "");
      $results.append($newTable);
    }
  </script>
{% endblock %}