NEXT_PUBLIC_NODE_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_APP_NAME=Multisoft Informes

AUTH_DB_HOST=localhost
AUTH_DB_PORT=5432
AUTH_DB_NAME=multisoft_informes
AUTH_DB_USER=multisoft_user
AUTH_DB_PASSWORD=change-me

DEMO_LOGIN_USER=admin
DEMO_LOGIN_PASSWORD=admin123
