{% extends 'finanzas/base.html' %}

{% block header %}
  Compras por Artículo:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    {% include 'ventas/_filtro.html' with name="sucursal" %}
  </div>
  <div class="row">
    {% include 'ventas/_filtro.html' with name="departamento" %}
    {% include 'ventas/_filtro.html' with name="tipoco" title="Tipo Comprobante" %}
  </div>
  <div class="row">
    {% include 'ventas/_filtro.html' with name="proveedor" %}
    <div class="col-sm-6">
      <div class="form-group">
        <label for="compras" class="col-md-4 control-label">Fecha:</label>

        <div class="col-md-6">
          <div id="compras" class="input-daterange input-group input-date">
            <input type="text" class="input-sm form-control" name="start"/>
            <span class="input-group-addon">hasta</span>
            <input type="text" class="input-sm form-control" name="end"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% include 'ventas/_filtro.html' with name="articulo" title="Artículos" %}
    {% include 'ventas/_filtro.html' with name="moneda" %}
  </div>
{% endblock %}

{% block table %}
  <thead>
  <tr>
    <th>Fecha Emisión</th>
    <th class="text-center">T. Cbte.</th>
    <th class="text-center">N° Cbte.</th>
    <th class="text-center">Moneda</th>
    <th>Cod. Prov.</th>
    <th>Razón Social</th>
    <th>Cod. Art.</th>
    <th>Artículo</th>
    <th>Cantidad</th>
    <th>P. Uni.</th>
    <th>P. Neto</th>
    <th>T. IVA</th>
    <th>T. Item c/IVA</th>
    <th>T. Item s/IVA</th>
  </tr>
  </thead>
  <!-- <tfoot>
  <tr>
    <th colspan="9" style="text-align:right">Total:</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </tfoot> -->
{% endblock %}

{% block extra_foot %}
  <style>
    .aling_right {
      text-align: right;
    }
  </style>
  <script>
    var query = {
      agrupar: 'Des_Art'
    };
    //var numFormat = $.fn.dataTable.render.number('.', ',', 2).display;

    var api = u.getApiUrl();
    var $results = $('#resultado');
    var dataTable;
    var $preview = $('#preview');
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_sucursal, $select_sucursal;
    var select_departamento, $select_departamento;
    var select_tipoco, $select_tipoco;
    var select_proveedor, $select_proveedor;
    var select_articulo, $select_articulo;
    var select_moneda, $select_moneda;
    var xhr;

    function addCommas(nStr) {
      nStr += '';
      x = nStr.split('.');
      x1 = x[0];
      x2 = x.length > 1 ? ',' + x[1] : '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + '.' + '$2');
      }
      return x1 + x2;
    }


    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      initialize();
      select_empresa = $select_empresa[0].selectize;

      select_sucursal = $select_sucursal[0].selectize;
      select_sucursal.disable();
      select_departamento = $select_departamento[0].selectize;
      select_departamento.disable();
      select_tipoco = $select_tipoco[0].selectize;
      select_tipoco.disable();
      select_proveedor = $select_proveedor[0].selectize;
      select_proveedor.disable();
      select_articulo = $select_articulo[0].selectize;
      select_articulo.disable();
      select_moneda = $select_moneda[0].selectize;
    });

    function init() {
      //$('#compraModal').on('show.bs.modal', showModal);
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });

      $select_moneda = $('#select-moneda').selectize({
        allowEmptyOption: true,
        options: [
          {value: 'GS', text: 'Local'},
          {value: 'US', text: 'Extranjera'},
        ],
        onChange: function (value) {
          query.estado = value;
          debug();
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }}, function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_sucursal.disable();
          select_sucursal.clearOptions();
          select_sucursal.load(function (callback) {
            $.ajax({
              url: api + 'sucursal/select/' + query.empresa,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_sucursal.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_tipoco.disable();
          select_tipoco.clearOptions();
          select_tipoco.load(function (callback) {
            $.ajax({
              url: api + 'compras/' + query.empresa + '/comprobantes/tipos',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_tipoco.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_proveedor.disable();
          select_proveedor.clearOptions();
          select_proveedor.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/proveedores',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_proveedor.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_articulo.disable();
          select_articulo.clearOptions();
          select_articulo.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/articulos',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_articulo.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_articulo = $('#select-articulo').selectize({
        valueField: 'cod_articulo',
        labelField: 'des_art',
        searchField: 'des_art',
        maxItems: null,
        onChange: function (value) {
          query.articulo = value;
          debug();
        }
      });

      $select_proveedor = $('#select-proveedor').selectize({
        valueField: 'CodProv',
        labelField: 'RazonSocial',
        searchField: 'RazonSocial',
        maxItems: null,
        onChange: function (value) {
          query.proveedor = value;
          debug();
        }
      });

      $select_sucursal = $('#select-sucursal').selectize({
        valueField: 'Cod_Sucursal',
        labelField: 'Des_Sucursal',
        searchField: 'Des_Sucursal',
        preload: true,
        onChange: function (value) {
          query.sucursal = value;
          debug();
          if (!value.length) return;
          select_departamento.disable();
          select_departamento.clearOptions();
          select_departamento.load(function (callback) {
            $.ajax({
              url: api + 'departamento/select/' + query.empresa + '/' + query.sucursal,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_departamento.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_departamento = $('#select-departamento').selectize({
        valueField: 'CodDpto',
        labelField: 'Descrip',
        searchField: 'Descrip',
        onChange: function (value) {
          query.departamento = value;
          debug();
        }
      });

      $select_articulo = $('#select-articulo').selectize({
        valueField: 'cod_articulo',
        labelField: 'des_art',
        searchField: 'des_art',
        optgroupField: 'cod_familia',
        optgroupLabelField: 'des_familia',
        optgroupValueField: 'cod_articulo',
        plugins: ['optgroup_columns'],
        onChange: function (value) {
          query.articulo = value;
          debug();
        }
      });

      $select_tipoco = $('#select-tipoco').selectize({
        valueField: 'cod_tp_comp',
        labelField: 'des_tp_comp',
        searchField: 'des_tp_comp',
        maxItems: null,
        onChange: function (value) {
          query.tipooc = value;
          debug();
        }
      });

      $select_generado = $('#select-generado').selectize({
        valueField: 'cod_usuario',
        labelField: 'cod_usuario',
        searchField: 'cod_usuario',
        onChange: function (value) {
          query.generado = value;
          debug();
        }
      });

      $select_cargado = $('#select-cargado').selectize({
        valueField: 'cod_usuario',
        labelField: 'cod_usuario',
        searchField: 'cod_usuario',
        onChange: function (value) {
          query.cargado = value;
          debug();
        }
      });

      var selectize1 = $select_moneda[0].selectize;
      selectize1.setValue('GS');

      $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
        autoclose: true,
        orientation: "bottom auto"
      });

      $('.input-date .form-control').datepicker().on('changeDate', function (e) {
        query[this.parentElement.id + '_' + this.name] = this.value;
        debug();
      });

      $('.input-date .form-control').datepicker('setDate', today);
      $('.input-date .form-control').datepicker('update');
    }

    function debug() {
      $preview.text(JSON.stringify(query));
    }

    function getInforme() {
      $('.collapse').collapse('hide');

      var numero_comprobante = $("[name=comprobante]").val();

      query.numero_comprobante = numero_comprobante;
      query.moneda = $('#select-moneda').val();

      if (!dataTable) {
        dataTable = $results.find('table').DataTable({
          language: u.spanish_dt,
          ajax: function (d, cb, s) {
            $.ajax({
              method: 'GET',
              url: api + 'compras/articulo/list',
              data: query
            }).done(function (res) {
              cb(res);
            }).fail(function () {
              dataTable.clear().draw();
              dataTable.processing(false);
              u.serverDown(e);
            });
          },
          deferRender: true,
          scrollY: 350,
          scrollX: '100%',
          scrollCollapse: true,
          scroller: {
            displayBuffer: 30,
            loadingIndicator: true
          },
          columnDefs: [
            {className: "price-value", targets: "price-label"},
            {render: $.fn.dataTable.render.number('.', ',', 2), targets: "price-label"},
            {className: "text-center", targets: "text-center"},
            {visible: false, targets: "grouping-col"}
          ],
          columns: [
            {data: 'f_emision'},
            {data: 'Cod_Tp_Comp'},
            {data: 'NroFact'},
            {data: 'CodMoneda'},
            {data: 'CodProv'},
            {data: 'RazonSocial'},
            {data: 'Cod_Articulo'},
            {data: 'Des_Art', name: 'Des_Art'},
            {data: 'Cantidad'},
            {
              data: 'Pr_Unit',
              render: function (data) {
                if (query.moneda == 'GS') {
                  return convertir_rever(data);
                } else {
                  return addCommas(data);
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'Costo_Neto',
              render: function (data) {
                if (query.moneda == 'GS') {
                  return convertir_rever(data);
                } else {
                  return addCommas(data);
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'IVA',
              render: function (data) {
                if (query.moneda == 'GS') {
                  return convertir_rever(data);
                } else {
                  return addCommas(data);
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'total_sin_iva',
              render: function (data) {
                if (query.moneda == 'GS') {
                  return convertir_rever(data);
                } else {
                  return addCommas(data);
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'total_con_iva',
              render: function (data) {
                if (query.moneda == 'GS') {
                  return convertir_rever(data);
                } else {
                  return addCommas(data);
                }
              },
              "sClass": "aling_right",
            }
          ],
          searching: false,
          ordering: false,
          processing: true,
          footerCallback: footerSum,
          drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;
            var colCount = api.columns().header().length;

            console.log(colCount);
            api.column(query.agrupar + ':name', {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group text-center"><td colspan="' + colCount + '"><h4>' + group + '</h4></td></tr>'
                );
                last = group;
              }
            });
          }
        });
        $results.show();
      } else {
        dataTable.clear().draw();
        dataTable.processing(true);
        dataTable.ajax.reload(function () {
          dataTable.processing(false);
        }, true);
      }
    }

    function footerSum(row, data, start, end, display) {
      var api = this.api(), data;

      // Remove the formatting to get integer data for summation
      var parseVal = function (i) {
        var n = typeof i === 'string' ?
                parseFloat(i.replace(/[\$]/g, '')) :
                typeof i === 'number' ?
                        i : 0;
        //console.log(i, n);
        return n;
      };

      // Total over all pages
      var total = api
              .column(9)
              .data()
              .reduce(function (a, b) {
                return parseVal(a) + parseVal(b);
              }, 0);


      // Update footer
      if ($('#select-moneda').val() == 'GS') {
        $(api.column(9).footer()).html(
                convertir_rever(total)
        );
      } else {
        $(api.column(9).footer()).html(
                addCommas(total)
        );
      }
    }
  </script>
{% endblock %}