{% extends 'finanzas/base.html' %}

{% block header %}
  Compras:
{% endblock %}

{% block filters %}
    <div class="row">
      {% include 'ventas/_filtro.html' with name="empresa" %}
      {% include 'ventas/_filtro.html' with name="sucursal" %}
    </div>
    <div class="row">
      {% include 'ventas/_filtro.html' with name="departamento" %}
      {% include 'ventas/_filtro.html' with name="tipoco" title="Tipo Comprobante" %}
    </div>
    <div class="row">
      {% include 'ventas/_filtro.html' with name="proveedor" %}
      <div class="col-sm-6">
        <div class="form-group">
          <label for="compras" class="col-md-4 control-label">Fecha:</label>
          <div class="col-md-6">
            <div id="compras" class="input-daterange input-group input-date">
              <input type="text" class="input-sm form-control" name="start"/>
              <span class="input-group-addon">hasta</span>
              <input type="text" class="input-sm form-control" name="end"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% include 'ventas/_filtro.html' with name="agrupar" title="Agrupar por" %}
      {% include 'ventas/_filtro.html' with name="moneda" %}
    </div>
{% endblock %}

{% block table %}
  <thead>
  <tr>
    <th class="text-center">Detalle</th>
    <th class="text-center">Tipo de Comprobante</th>
    <th class="text-center">N° de Comprobante</th>
    <th>Fecha Emisión</th>
    <th>Proveedor</th>
    <th>Ruc</th>
    <th>Timbrado</th>
    <th>Gravada</th>
    <th>IVA</th>
    <th>Excenta</th>
    <th>Total</th>
    <th>Estado</th>
    <th>Tipo IVA</th>
    <th>Retención Renta</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th colspan="9" style="text-align:right">Total:</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </tfoot>
{% endblock %}

{% block inner_content %}
  <div class="modal fade" id="compraModal" tabindex="-1" role="dialog" aria-labelledby="compraModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="compraModalLabel">Detalle de Compra</h4>
        </div>
        <div class="modal-body">
          <div class="well well-sm">
            <dl class="dl-horizontal">
              <div class="row">
                <div class="col-md-6">
                  <dt>Comprobante</dt>
                  <dd id="comprobanteModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Tipo</dt>
                  <dd id="tipoModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Proveedor</dt>
                  <dd id="proveedorModal"></dd>
                </div>
                <div class="col-md-6">
                  <dt>Fecha</dt>
                  <dd id="fechaModal"></dd>
                </div>
              </div>
            </dl>
          </div>
          <table id="detailTableModal" class="table">
            <thead>
            <tr>
              <th>Art.</th>
              <th>Descripcion</th>
              <th>G/E</th>
              <th class="text-center">Cant.</th>
              <th class="price-label">Pr. Unit.</th>
              <th class="price-label">IVA</th>
              <th class="price-label">Total</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <!-- <div class="well well-sm text-center">
          <div class="row">
            <div class="col-sm-3">
              <dt>Bruto</dt>
              <dd id="brutoModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>IVA</dt>
              <dd id="ivaModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>Dcto.</dt>
              <dd id="descuentoModal"></dd>
            </div>
            <div class="col-sm-3">
              <dt>Neto</dt>
              <dd id="netoModal"></dd>
            </div>
          </div>
        </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_foot %}
  <style>
    .aling_right{text-align: right;}
  </style>
  <script>
    var query = {
        agrupar: 'Cod_Tp_Comp'
    };
    //var numFormat = $.fn.dataTable.render.number('.', ',', 2).display;

    var api = u.getApiUrl();
    var $results = $('#results');
    var $preview = $('#preview');
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_sucursal, $select_sucursal;
    var select_departamento, $select_departamento;
    var select_tipoco, $select_tipoco;
    var select_proveedor, $select_proveedor;
    var select_agrupar, $select_agrupar;
    var select_moneda, $select_moneda;
    var xhr;
    
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
      }


    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      initialize();
      select_empresa = $select_empresa[0].selectize;

      select_sucursal = $select_sucursal[0].selectize;
      select_sucursal.disable();
      select_departamento = $select_departamento[0].selectize;
      select_departamento.disable();
      select_tipoco = $select_tipoco[0].selectize;
      select_tipoco.disable();
      select_proveedor = $select_proveedor[0].selectize;
      select_proveedor.disable();
      select_agrupar = $select_agrupar[0].selectize;
      select_moneda = $select_moneda[0].selectize;
    });

    function init() {
      $('#compraModal').on('show.bs.modal', showModal);
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });
      
      $select_agrupar = $('#select-agrupar').selectize({
        allowEmptyOption: true,
        options: [
          {value: 'Cod_Tp_Comp', text: 'Comprobante'},
          {value: 'RazonSocial', text: 'Proveedor'},
          //{value: 'AR', text: 'Articulo'},
        ],
        onChange: function (value) {
          query.agrupar = value;
          debug();
        }
      });
      
      $select_moneda = $('#select-moneda').selectize({
        allowEmptyOption: true,
        options: [
          {value: 'GS', text: 'Local'},
          {value: 'US', text: 'Extranjera'},
        ],
        onChange: function (value) {
          query.estado = value;
          debug();
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }}, function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_sucursal.disable();
          select_sucursal.clearOptions();
          select_sucursal.load(function (callback) {
            $.ajax({
              url: api + 'sucursal/select/' + query.empresa,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_sucursal.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_tipoco.disable();
          select_tipoco.clearOptions();
          select_tipoco.load(function (callback) {
            $.ajax({
              url: api + 'compras/' + query.empresa + '/comprobantes/tipos',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_tipoco.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_proveedor.disable();
          select_proveedor.clearOptions();
          select_proveedor.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/proveedores',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_proveedor.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });
      
      $select_proveedor = $('#select-proveedor').selectize({
        valueField: 'CodProv',
        labelField: 'RazonSocial',
        searchField: 'RazonSocial',
        maxItems: null,
        onChange: function (value) {
          query.proveedor = value;
          debug();
        }
      });
      
      $select_sucursal = $('#select-sucursal').selectize({
        valueField: 'Cod_Sucursal',
        labelField: 'Des_Sucursal',
        searchField: 'Des_Sucursal',
        preload: true,
        onChange: function (value) {
          query.sucursal = value;
          debug();
          if (!value.length) return;
          select_departamento.disable();
          select_departamento.clearOptions();
          select_departamento.load(function (callback) {
            $.ajax({
              url: api + 'departamento/select/' + query.empresa + '/' + query.sucursal,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_departamento.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });
            
      $select_departamento = $('#select-departamento').selectize({
        valueField: 'CodDpto',
        labelField: 'Descrip',
        searchField: 'Descrip',
        onChange: function (value) {
          query.departamento = value;
          debug();
        }
      });
      
      $select_tipoco = $('#select-tipoco').selectize({
        valueField: 'cod_tp_comp',
        labelField: 'des_tp_comp',
        searchField: 'des_tp_comp',
        maxItems: null,
        onChange: function (value) {
          query.tipooc = value;
          debug();
        }
      });
      
      $select_generado = $('#select-generado').selectize({
        valueField: 'cod_usuario',
        labelField: 'cod_usuario',
        searchField: 'cod_usuario',
        onChange: function (value) {
          query.generado = value;
          debug();
        }
      });
      
      $select_cargado = $('#select-cargado').selectize({
        valueField: 'cod_usuario',
        labelField: 'cod_usuario',
        searchField: 'cod_usuario',
        onChange: function (value) {
          query.cargado = value;
          debug();
        }
      });

      var selectize = $select_agrupar[0].selectize;
      selectize.setValue('Cod_Tp_Comp');
      
      var selectize1 = $select_moneda[0].selectize;
      selectize1.setValue('GS');

      $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
        autoclose: true,
        orientation: "bottom auto"
      });

      $('.input-date .form-control').datepicker().on('changeDate', function (e) {
        query[this.parentElement.id + '_' + this.name] = this.value;
        debug();
      });

      $('.input-date .form-control').datepicker('setDate', today);
      $('.input-date .form-control').datepicker('update');
    }

    function debug() {
      $preview.text(JSON.stringify(query));
    }

    function getInforme() {
      $('.collapse').collapse('hide');
      $results.show();
      
      var numero_comprobante = $("[name=comprobante]").val();

      query.numero_comprobante = numero_comprobante;
      query.moneda = $('#select-moneda').val();
        
      if (!$.fn.DataTable.isDataTable('#results')) {
        $('#results').DataTable({
          language: u.spanish_dt,
          ajax: function (d, cb, s) {
            $.ajax({
              method: 'GET',
              url: api + 'compras/list',
              data: query
            }).done(function (res) {
              cb(res);
            }).fail(function () {
              cb();
            });
          },
          deferRender: true,
          scrollY: 350,
          scrollX: '100%',
          scrollCollapse: true,
          scroller: {
            displayBuffer: 30,
            loadingIndicator: true
          },
          columnDefs: [
            {className: "price-value", targets: "price-label"},
            {render: $.fn.dataTable.render.number('.', ',', 2), targets: "price-label"},
            {className: "text-center", targets: "text-center"},
            {visible: false, targets: "grouping-col"}
          ], 
          columns: [
            {
              data: null,
              render: function (d, t, r) {
                return "<a class='btn btn-primary' data-toggle='modal' data-target='#compraModal' " +
                        "data-cabecera='" + JSON.stringify(r) + "'>" +
                        "<i class='fa fa-search-plus'></i></a>";
              }
            },
            {data: 'Des_Tp_Comp', name: 'Cod_Tp_Comp'},
            {data: 'NroFact'},
            {data: 'FechaFact'},
            {data: 'RazonSocial', name: 'RazonSocial'},
            {data: 'ruc'},
            {data: 'Timbrado'},
            {
                data: 'gravada',
                render: function (data) {
                            if (query.moneda == 'GS'){
                                return convertir_rever(data);
                            } else {
                                return addCommas(data);
                            }
                        },
                "sClass": "aling_right",
            },
            {
                data: 'IVA',
                render: function (data) {
                            if (query.moneda == 'GS'){
                                return convertir_rever(data);
                            } else {
                                return addCommas(data);
                            }
                        },
                "sClass": "aling_right",
            },
            {
                data: 'TotalExen',
                render: function (data) {
                            if (query.moneda == 'GS'){
                                return convertir_rever(data);
                            } else {
                                return addCommas(data);
                            }
                        },
                "sClass": "aling_right",
            },
            {
                data: 'total',
                render: function (data) {
                            if (query.moneda == 'GS'){
                                return convertir_rever(data);
                            } else {
                                return addCommas(data);
                            }
                        },
                "sClass": "aling_right",
            },
            {data: 'estado'},
            {data: 'TipoIva'},
            {data: 'retenible_renta'},
          ],
          searching: false,
          ordering: false,
          footerCallback: footerSum,
          drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;
            var colCount = api.columns().header().length;

            console.log(colCount);
            api.column(query.agrupar + ':name', {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group text-center"><td colspan="' + colCount + '"><h4>' + group + '</h4></td></tr>'
                );
                last = group;
              }
            });
          },
        });
        $results.show();
      } else {
        var table = $('#results').DataTable();
        var $resultado = $('#resultado');
        $resultado.css("position", "absolute").css("left", -9999);
        table.row(0).scrollTo();
        table.ajax.reload(function () {
          $resultado.css("position", "relative").css("left", 0);
        }, true);
      }
    }
    
    function showModal(event) {
      var button = $(event.relatedTarget);
      var cabecera = button.data('cabecera');
      var item = null;
      var items = [];
      var modal = $(this);
      var table = modal.find('tbody');
      table.empty();
      
      modal.find('#comprobanteModal').text(cabecera.NroFact);
      modal.find('#tipoModal').text(cabecera.Des_Tp_Comp);
      modal.find('#proveedorModal').text(cabecera.RazonSocial);
      modal.find('#fechaModal').text(cabecera.FechaFact);

      //modal.find('#brutoModal').text(u.addCommas(cabecera.to_gravado));
      //modal.find('#ivaModal').text(u.addCommas(cabecera.total_iva));
      //modal.find('#descuentoModal').text(u.addCommas(cabecera.totaldescuento));
      //modal.find('#netoModal').text(u.addCommas(cabecera.to_gravado));

      $.get(api + 'compras/det/' + cabecera.Cod_Empresa + '/' + cabecera.NroFact + '/' + cabecera.Cod_Tp_Comp + '/' + cabecera.CodMoneda + '/' + cabecera.CodProv ).done(function (d) {
        //modal.find('.modal-title').text('Comprobante ' + cabecera.comp_numero);
        var totCant = 0.0;
        for (var i = 0; i < d.data.length; i++) {
          item = d.data[i];
          if ($('#select-moneda').val() == 'GS'){
              items.push("<tr>" +
                      "<td>" + item.Cod_Articulo + "</td>" +
                      "<td>" + item.Des_Art + "</td>" +
                      "<td>" + item.GravExen + "</td>" +
                      "<td class='text-center'>" + convertir_rever(item.Cantidad) + "</td>" +
                      "<td class='price-value'>" + convertir_rever(item.Pr_Unit) + "</td>" +
                      "<td class='price-value'>" + convertir_rever(item.IVA) + "</td>" +
                      "<td class='price-value'>" + convertir_rever(item.Total) + "</td>" +
                      "</tr>");
              totCant += parseInt(item.Cantidad);
              var summary =
                        "<tr>" +
                        "<td colspan='3'></td>" +
                        "<td class='text-center'><strong>" + convertir_rever(totCant) + "</strong></td>" +
                        "<td colspan='2'></td>" +
                        "<td class='price-value'><strong>" + convertir_rever(cabecera.total) + "</strong></td>" +
                        "</tr>";
              items.push(summary);
          } else {
              items.push("<tr>" +
                      "<td>" + item.Cod_Articulo + "</td>" +
                      "<td>" + item.Des_Art + "</td>" +
                      "<td>" + item.GravExen + "</td>" +
                      "<td class='text-center'>" + addCommas(item.Cantidad) + "</td>" +
                      "<td class='price-value'>" + addCommas(item.Pr_Unit) + "</td>" +
                      "<td class='price-value'>" + addCommas(item.IVA) + "</td>" +
                      "<td class='price-value'>" + addCommas(item.Total) + "</td>" +
                      "</tr>");
              totCant += parseFloat(item.Cantidad);
              var summary =
                        "<tr>" +
                        "<td colspan='3'></td>" +
                        "<td class='text-center'><strong>" + addCommas(totCant) + "</strong></td>" +
                        "<td colspan='2'></td>" +
                        "<td class='price-value'><strong>" + addCommas(cabecera.total) + "</strong></td>" +
                        "</tr>";
              items.push(summary);
          }
        }
        
        table.html(items.join(''));
      });
    }
    
    function footerSum(row, data, start, end, display) {
      var api = this.api(), data;

      // Remove the formatting to get integer data for summation
      var parseVal = function (i) {
        var n = typeof i === 'string' ?
                parseFloat(i.replace(/[\$]/g, '')) :
                typeof i === 'number' ?
                        i : 0;
        //console.log(i, n);
        return n;
      };

      // Total over all pages
      var total = api
              .column(9)
              .data()
              .reduce(function (a, b) {
                return parseVal(a) + parseVal(b);
              }, 0);


      // Update footer
      if ($('#select-moneda').val() == 'GS'){
        $(api.column(9).footer()).html(
                convertir_rever(total)
        );
      } else {
        $(api.column(9).footer()).html(
                addCommas(total)
        );
      }
    }
  </script>
{% endblock %}