{% extends 'ventas/baseWithoutTable.html' %}
{% load staticfiles %}

{% block extrahead %}
  {{ block.super }}
  <link href="{% static 'c3/c3.min.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'd3/d3.min.js' %}"></script>
  <script src="{% static 'pathseg/pathseg.js' %}"></script>
  <script src="{% static 'c3/c3.min.js' %}"></script>
  <script src="{% static 'randomcolor/randomColor.js' %}"></script>
{% endblock %}

{% block header %}
  Estadísticas de Compras:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with name="empresa" %}
  {% include 'ventas/_filtro.html' with name="graficode" title="Gráfico por" %}
  {% include 'ventas/_filtro.html' with name="proveedor" %}
  {% include 'ventas/_filtro.html' with name="articulo" title="Artículos" %}
  <div class="col-sm-6">
    <div class="form-group">
      <label for="compras" class="col-md-4 control-label">Fecha:</label>

      <div class="col-md-6">
        <div id="compras" class="input-daterange input-group input-date">
          <input type="text" class="input-sm form-control" name="start"/>
          <span class="input-group-addon">hasta</span>
          <input type="text" class="input-sm form-control" name="end"/>
        </div>
      </div>
    </div>
  </div>
  {% include 'ventas/_filtro.html' with name="moneda" %}
{% endblock %}

{% block inner_content %}
  <div class="text-center" id="messages">
    <h3 id="loading" style="display: none;">Cargando...</h3>

    <h3 id="empty" style="display: none;">No hay datos disponibles</h3>
  </div>
  <div id="resultado">

  </div>
{% endblock %}

{% block extra_foot %}
  <style>
    .aling_right {
      text-align: right;
    }
  </style>
  <script>
    var query = {};

    var api = u.getApiUrl();
    var $results = $('#results');
    var $preview = $('#preview');
    var $messages, $loading, $empty;
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_proveedor, $select_proveedor;
    var select_graficode, $select_graficode;
    var select_articulo, $select_articulo;
    var select_moneda, $select_moneda;
    var xhr;

    function addCommas(nStr) {
      nStr += '';
      x = nStr.split('.');
      x1 = x[0];
      x2 = x.length > 1 ? ',' + x[1] : '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + '.' + '$2');
      }
      return x1 + x2;
    }


    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      $messages = $("#messages");
      $loading = $messages.find("#loading");
      $empty = $messages.find("#empty");
      initialize();
      select_empresa = $select_empresa[0].selectize;
      select_proveedor = $select_proveedor[0].selectize;
      select_proveedor.disable();
      select_graficode = $select_graficode[0].selectize;
      select_articulo = $select_articulo[0].selectize;
      select_articulo.disable();
      select_moneda = $select_moneda[0].selectize;

      $('#select-proveedor').parent().parent().parent().hide();
      $('#select-articulo').parent().parent().parent().hide();

      show_select();

      $("#select-graficode").on("change", function (event) {
        show_select();
      });
    });

    function init() {
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }},'Integrado', function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_proveedor.disable();
          select_proveedor.clearOptions();
          select_proveedor.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/proveedores',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_proveedor.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_articulo.disable();
          select_articulo.clearOptions();
          select_articulo.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/articulos',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_articulo.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_moneda = $('#select-moneda').selectize({
        allowEmptyOption: true,
        options: [
          {value: 'GS', text: 'Local'},
          {value: 'US', text: 'Extranjera'},
        ],
        onChange: function (value) {
          query.moneda = value;
          debug();
        }
      });

      var selectize1 = $select_moneda[0].selectize;
      selectize1.setValue('GS');

      $select_graficode = $('#select-graficode').selectize({
        allowEmptyOption: true,
        options: [
          {value: 'PR', text: 'Proveedor'},
          {value: 'AR', text: 'Artículo'},
        ],
        onChange: function (value) {
          query.asentada = value;
          debug();
        }
      });

      var selectize = $select_graficode[0].selectize;
      selectize.setValue('PR');

      $select_articulo = $('#select-articulo').selectize({
        valueField: 'cod_articulo',
        labelField: 'des_art',
        searchField: 'des_art',
        maxItems: 10,
        onChange: function (value) {
          query.articulo = value;
          debug();
        }
      });

      $select_proveedor = $('#select-proveedor').selectize({
        valueField: 'CodProv',
        labelField: 'RazonSocial',
        searchField: 'RazonSocial',
        maxItems: 10,
        onChange: function (value) {
          query.proveedor = value;
          debug();
        }
      });

      $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
        autoclose: true,
        orientation: "bottom auto"
      });

      $('.input-date .form-control').datepicker().on('changeDate', function (e) {
        query[this.parentElement.id + '_' + this.name] = this.value;
        debug();
      });


      $('.input-date .form-control').datepicker('setDate', today);
      $('.input-date .form-control').datepicker('update');
    }

    function debug() {
      $preview.text(JSON.stringify(query));
    }

    function show_select() {
      var graficode = $('#select-graficode').val();
      if (graficode == "PR") {
        $('#select-proveedor').parent().parent().parent().show();
        $('#select-articulo').parent().parent().parent().hide();
      } else {
        $('#select-proveedor').parent().parent().parent().hide();
        $('#select-articulo').parent().parent().parent().show();
      }
    }

    var colors = randomColor({
      luminosity: 'bright',
      count: 10,
      seed: 108
    });

    //META.fn: sortJSON
    function sortJSON(data, key) {
      return data.sort(function (a, b) {
        var x = a[key];
        var y = b[key];
        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
      });
    }

    function getInforme() {
      $('.collapse').collapse('hide');
      $loading.show();
      $empty.hide();
      $('#resultado').empty();
      var graficode = $('#select-graficode').val();
      if (graficode == "PR") {
        $.ajax(api + "compras_proveedor/ranking", {
          method: 'GET',
          contentType: 'application/json',
          data: query
        }).done(function (datos) {
          if (datos.data.length > 0) {
            var aux_colum = ['Proveedores'];
            var aux_name = [];
            for (var a = 0; a < datos.data.length; a++) {
              aux_colum.push(datos.data[a].TotalCompras);
              aux_name.push(datos.data[a].RazonSocial);
            }
            console.log(aux_colum);
            var chart = c3.generate({
              bindto: '#resultado',
              data: {
                columns: [aux_colum],
                type: 'bar',
                color: function (c, d) {
                  return colors[d.index];
                }
              },
              axis: {
                x: {
                  type: 'category',
                  categories: aux_name
                },
                y: {
                  tick: {
                    format: function (d) {
                      if ($('#select-moneda').val() == 'GS') {
                        return 'Gs. ' + convertir_rever(d);
                      } else {
                        return 'U$s. ' + addCommas(parseFloat((d)).toFixed(2));
                      }
                    }
                  }
                }
              },
              tooltip: {
                grouped: false,
                format: {
                  value: function (value, ratio, id) {
                    if ($('#select-moneda').val() == 'GS') {
                      return 'Gs. ' + convertir_rever(value);
                    } else {
                      return 'U$s. ' + addCommas(parseFloat((value)).toFixed(2));
                    }
                  }
                }
              },
              bar: {
                width: {
                  ratio: 0.5
                }
              }
            });
          } else {
            $empty.show();
          }
          $loading.hide();
        });
      } else {
        $.ajax(api + "compras_articulo/ranking", {
          method: 'GET',
          contentType: 'application/json',
          data: query
        }).done(function (datos) {
          if (datos.data.length > 0) {
            var aux_colum = ['Compras'];
            var aux_name = [];
            for (var a = 0; a < datos.data.length; a++) {
              aux_colum.push(datos.data[a].TotalItem);
              aux_name.push(datos.data[a].Des_Art);
            }
            console.log(aux_colum);
            var chart = c3.generate({
              bindto: '#resultado',
              data: {
                columns: [aux_colum],
                type: 'bar',
                color: function (c, d) {
                  return colors[d.index];
                },
                onmouseover: function (d, i) {
                  console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                  console.log("onmouseout", d, i);
                }
              },
              axis: {
                x: {
                  type: 'category',
                  categories: aux_name
                },
                y: {
                  tick: {
                    format: function (d) {
                      if ($('#select-moneda').val() == 'GS') {
                        return 'Gs. ' + convertir_rever(d);
                      } else {
                        return 'U$s. ' + addCommas(parseFloat((d)).toFixed(2));
                      }
                    }
                  }
                }
              },
              tooltip: {
                grouped: false,
                format: {
                  value: function (value, ratio, id) {
                    if ($('#select-moneda').val() == 'GS') {
                      return 'Gs. ' + convertir_rever(value);
                    } else {
                      return 'U$s. ' + addCommas(parseFloat((value)).toFixed(2));
                    }
                  }
                }
              },
              bar: {
                width: {
                  ratio: 0.5
                }
              }
            });
          } else {
            $empty.show();
          }
          $loading.hide();
        });
      }
    }

  </script>
{% endblock %}