{% extends 'finanzas/base.html' %}

{% block header %}
  Fondo Fijo:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
    <div class="col-sm-6">
      <div class="form-group">
        <label for="periodo" class="col-md-4 control-label">Periodo:</label>

        <div class="col-md-6">
          <div id="periodo" class="input-date"><input type="text" onkeydown="return false" class="form-control asd"
                                                      name="periodo"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% include 'ventas/_filtro.html' with name="sucursal" %}
    {% include 'ventas/_filtro.html' with name="departamento" %}
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="anho" class="col-md-4 control-label">Año:</label>

        <div class="col-md-6">
          <div id="anho" class="input-date"><input type="text" onkeydown="return false" class="form-control"
                                                   name="anho"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="mes" class="col-md-4 control-label">Mes:</label>

        <div class="col-md-6">
          <div id="mes" class="input-date"><input type="text" onkeydown="return false"
                                                  class="dateclass mes form-control" name="mes"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="numero" class="col-md-4 control-label">Número:</label>

        <div class="col-md-6">
          <div><input type="text" class="form-control" id="numero" name="nivel" value=""></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block table %}
  <thead>
  <tr>
    <th class="text-center">T. Cbte.</th>
    <th class="text-center">N° Cbte.</th>
    <th class="text-center">Moneda</th>
    <th>Fecha</th>
    <th>Razón Social</th>
    <th>Cambio</th>
    <th>Gravado</th>
    <th>Excento</th>
    <th>IVA</th>
    <th>Total</th>
    <th>Ret. Renta</th>
    <th>Total Neto</th>
    <th class="text-center">Detalle</th>
  </tr>
  </thead>
  <!-- <tfoot>
  <tr>
    <th colspan="9" style="text-align:right">Total:</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </tfoot> -->
{% endblock %}

{% block inner_content %}
  <div class="modal fade" id="compraModal" tabindex="-1" role="dialog" aria-labelledby="compraModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="compraModalLabel">Detalle</h4>
        </div>
        <div class="modal-body">
          <table id="detailTableModal" class="table">
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_foot %}
  <style>
    .aling_right {
      text-align: right;
    }
  </style>
  <script>
    var query = {
      agrupar: 'des_moneda'
    };
    //var numFormat = $.fn.dataTable.render.number('.', ',', 2).display;

    var api = u.getApiUrl();
    var $results = $('#resultado');
    var dataTable;
    var $preview = $('#preview');
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_sucursal, $select_sucursal;
    var select_departamento, $select_departamento;
    var xhr;

    function addCommas(nStr) {
      nStr += '';
      x = nStr.split('.');
      x1 = x[0];
      x2 = x.length > 1 ? ',' + x[1] : '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + '.' + '$2');
      }
      return x1 + x2;
    }


    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      initialize();
      select_empresa = $select_empresa[0].selectize;

      select_sucursal = $select_sucursal[0].selectize;
      select_sucursal.disable();
      select_departamento = $select_departamento[0].selectize;
      select_departamento.disable();
    });

    function init() {
      $('#compraModal').on('show.bs.modal', showModal);
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }},'Integrado', function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_sucursal.disable();
          select_sucursal.clearOptions();
          select_sucursal.load(function (callback) {
            $.ajax({
              url: api + 'sucursal/select/' + query.empresa,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_sucursal.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_sucursal = $('#select-sucursal').selectize({
        valueField: 'Cod_Sucursal',
        labelField: 'Des_Sucursal',
        searchField: 'Des_Sucursal',
        preload: true,
        onChange: function (value) {
          query.sucursal = value;
          debug();
          if (!value.length) return;
          select_departamento.disable();
          select_departamento.clearOptions();
          select_departamento.load(function (callback) {
            $.ajax({
              url: api + 'departamento/select/' + query.empresa + '/' + query.sucursal,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_departamento.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_departamento = $('#select-departamento').selectize({
        valueField: 'CodDpto',
        labelField: 'Descrip',
        searchField: 'Descrip',
        maxItems: null,
        onChange: function (value) {
          query.departamento = value;
          debug();
        }
      });

      $('#periodo .form-control').datepicker({
        format: "yyyy",
        startView: 2,
        minViewMode: 2,
        maxViewMode: 2,
        autoclose: true
      });

      $('#anho .form-control').datepicker({
        format: "yyyy",
        startView: 2,
        minViewMode: 2,
        maxViewMode: 2,
        autoclose: true
      });

      $('.mes').datepicker({
        autoclose: true,
        todayBtn: "linked",
        language: "es",
        format: "MM",
        startView: 1,
        minViewMode: 1,
        maxViewMode: 1
      });

      $('.mes').datepicker().on('changeDate', function (c) {
        query.mes = c.format('mm');
      });

      $('#periodo .form-control').datepicker().on('changeDate', function (e) {
        query[this.name] = this.value;
      });

      $('#anho .form-control').datepicker().on('changeDate', function (e) {
        query[this.name] = this.value;
      });

      $('.input-date .form-control.asd').datepicker('setDate', today);
      $('.input-date .form-control.asd').datepicker('update');
    }

    function debug() {
      $preview.text(JSON.stringify(query));
    }

    function getInforme() {
      $('.collapse').collapse('hide');

      query.numero = $("#numero").val();

      if (!dataTable) {
        $results.show();
        dataTable = $results.find('table').DataTable({
          language: u.spanish_dt,
          ajax: function (d, cb, s) {
            $.ajax({
              method: 'GET',
              url: api + 'fondo_fijo/list',
              data: query
            }).done(function (res) {
              cb(res);
            }).fail(function (e) {
              dataTable.clear().draw();
              dataTable.processing(false);
              u.serverDown(e);
            });
          },
          deferRender: true,
          scrollY: 350,
          scrollX: '100%',
          scrollCollapse: true,
          scroller: {
            displayBuffer: 30,
            loadingIndicator: true
          },
          columnDefs: [
            {className: "price-value", targets: "price-label"},
            {render: $.fn.dataTable.render.number('.', ',', 2), targets: "price-label"},
            {className: "text-center", targets: "text-center"},
            {visible: false, targets: "grouping-col"}
          ],
          columns: [
            {data: 'Cod_tp_Comp'},
            {data: 'NroFact'},
            {data: 'des_moneda', name: 'des_moneda'},
            {data: 'FechaFact'},
            {data: 'RazonSocial'},
            {data: 'FactCambio'},
            {
              data: 'totalgravado',
              render: function (data, type, full, meta) {
                if (full.CodMoneda == 'GS') {
                  return convertir_rever(parseInt(data));
                } else {
                  return addCommas(parseFloat(data).toFixed(2));
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'totalexen1',
              render: function (data, type, full, meta) {
                if (full.CodMoneda == 'GS') {
                  return convertir_rever(parseInt(data));
                } else {
                  return addCommas(parseFloat(data).toFixed(2));
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'totaliva',
              render: function (data, type, full, meta) {
                if (full.CodMoneda == 'GS') {
                  return convertir_rever(parseInt(data));
                } else {
                  return addCommas(parseFloat(data).toFixed(2));
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'total',
              render: function (data, type, full, meta) {
                if (full.CodMoneda == 'GS') {
                  return convertir_rever(parseInt(data));
                } else {
                  return addCommas(parseFloat(data).toFixed(2));
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'ret_renta',
              render: function (data, type, full, meta) {
                if (full.CodMoneda == 'GS') {
                  return convertir_rever(parseInt(data));
                } else {
                  return addCommas(parseFloat(data).toFixed(2));
                }
              },
              "sClass": "aling_right",
            },
            {
              data: 'neto',
              render: function (data, type, full, meta) {
                if (full.CodMoneda == 'GS') {
                  return convertir_rever(parseInt(data));
                } else {
                  return addCommas(parseFloat(data).toFixed(2));
                }
              },
              "sClass": "aling_right",
            },
            {
              data: null,
              render: function (d, t, r) {
                return "<a class='btn btn-primary' data-toggle='modal' data-target='#compraModal' " +
                        "data-cabecera='" + JSON.stringify(r) + "'>" +
                        "<i class='fa fa-search-plus'></i></a>";
              }
            }
          ],
          searching: false,
          processing: true,
          ordering: false,
          drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;
            var colCount = api.columns().header().length;

            api.column(query.agrupar + ':name', {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group text-center"><td colspan="' + colCount + '"><h4>' + group + '</h4></td></tr>'
                );
                last = group;
              }
            });
          }
        });
      } else {
        dataTable.clear().draw();
        dataTable.processing(true);
        dataTable.ajax.reload(function () {
          dataTable.processing(false);
        }, true);
      }
    }

    function showModal(event) {
      var button = $(event.relatedTarget);
      var cabecera = button.data('cabecera');
      var modal = $(this);
      var table = modal.find('tbody');
      table.empty();

      var string = ""

      if (cabecera.Gravado == 'S') {
        string += '<tr><th>Liquidación IVA:</th><td>Si</td>'
      } else {
        string += '<tr><th>Liquidación IVA:</th><td>No</td>'
      }

      if (cabecera.TipoIVA == 'D') {
        string += '<th>Tipo IVA:</th><td>Desglosado</td>'
      } else {
        string += '<th>Tipo IVA:</th><td>Incluido</td>'
      }

      string += '<th>Timbrado:</th><td>' + cabecera.Timbrado + '</td></tr>' +

              '<tr><th>Año:</th><td>' + cabecera.AnhoFFijo + '</td><th>Mes:</th><td>' + cabecera.MesFFijo + '</td><th>N°:</th><td>' + cabecera.NroFFijo + '</td></tr>' +
              '<tr><th>Cod. Dpto.:</th><td>' + cabecera.CodDpto + '</td><th>Dpto.:</th><td>' + cabecera.Descrip + '</td><th>Cod. Prov.:</th><td>' + cabecera.CodProv + '</td></tr>';

      table.html(string);
    }
  </script>
{% endblock %}