{% extends 'finanzas/base.html' %}

{% block header %}
  Fondo Fijo:
{% endblock %}

{% block filters %}
        <div class="row">
            {% include 'ventas/_filtro.html' with name="empresa" %}
            <div class="col-sm-6">
              <div class="form-group">
                <label for="periodo" class="col-md-4 control-label">Periodo:</label>
        
                <div class="col-md-6">
                  <div id="periodo" class="input-date"><input type="text" onkeydown="return false" class="form-control" name="periodo"></div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          {% include 'ventas/_filtro.html' with name="proveedor" %}
          <div class="col-sm-6">
            <div class="form-group">
              <label for="compras" class="col-md-4 control-label">Fecha:</label>
              <div class="col-md-6">
                <div id="compras" class="input-daterange input-group input-date">
                  <input type="text" class="input-sm form-control" name="start"/>
                  <span class="input-group-addon">hasta</span>
                  <input type="text" class="input-sm form-control" name="end"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="numero" class="col-md-4 control-label">Número:</label>
        
                <div class="col-md-6">
                  <div><input type="text" class="form-control" id="numero" name="nivel" value=""></div>
                </div>
              </div>
            </div>
            {% include 'ventas/_filtro.html' with name="asentada" %}
        </div>
       
{% endblock %}

{% block inner_content %}
    
{% endblock %}

{% block extra_foot %}
  <style>
    .aling_right{text-align: right;}
  </style>
  <script>
    var query = {
    //    agrupar: 'des_moneda'
    };
    //var numFormat = $.fn.dataTable.render.number('.', ',', 2).display;

    var api = u.getApiUrl();
    var $results = $('#results');
    var $preview = $('#preview');
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_proveedor, $select_proveedor;
    var select_asentada, $select_asentada;
    var xhr;
    
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
      }


    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      initialize();
      select_empresa = $select_empresa[0].selectize;
      select_proveedor = $select_proveedor[0].selectize;
      select_proveedor.disable();
      select_asentada = $select_asentada[0].selectize;
    });

    function init() {
      //$('#compraModal').on('show.bs.modal', showModal);
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });
      
      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }}, function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_proveedor.disable();
          select_proveedor.clearOptions();
          select_proveedor.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/proveedores',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_proveedor.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });
      
      $select_asentada = $('#select-asentada').selectize({
        allowEmptyOption: true,
        options: [
          {value: ' ', text: 'Todas'},
          {value: 'S', text: 'Si'},
          {value: 'N', text: 'No'},
        ],
        onChange: function (value) {
          query.asentada = value;
          debug();
        }
      });
      
      $select_proveedor = $('#select-proveedor').selectize({
        valueField: 'CodProv',
        labelField: 'RazonSocial',
        searchField: 'RazonSocial',
        maxItems: null,
        onChange: function (value) {
          query.proveedor = value;
          debug();
        }
      });
      
      $('#periodo .form-control').datepicker({
          format: "yyyy",
          startView: 2,
          minViewMode: 2,
          maxViewMode: 2,
          autoclose: true
        });
        
    
       $('#periodo .form-control').datepicker().on('changeDate', function (e) {
          query[this.name] = this.value;
        });
        
        $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
        autoclose: true,
        orientation: "bottom auto"
      });

      $('.input-date .form-control').datepicker().on('changeDate', function (e) {
        query[this.parentElement.id + '_' + this.name] = this.value;
        debug();
      });


      $('.input-date .form-control').datepicker('setDate', today);
      $('.input-date .form-control').datepicker('update');
    }

    function debug() {
      $preview.text(JSON.stringify(query));
    }

    function getInforme() {
      $('.collapse').collapse('hide');
      $.ajax(api + "gastos_rendir/list", {
      method: 'GET',
      contentType: 'application/json',
      data: query,
    }).done(
            function (datos) {
                console.log(datos)
                if (datos.data.length > 0){
                    var nro_rendicion = 0;
                    for (var a=0; a < datos.data.length; a++  ){
                        if (datos.data[a].NroRendicion != nro_rendicion){
                            alert('a')
                            nro_rendicion = datos.data[a].NroRendicion;
                        }
                    }
                }
            });
    }

  </script>
{% endblock %}