{% extends 'finanzas/base.html' %}

{% block header %}
  Cuentas por Pagar:
{% endblock %}

{% block filters %}
  {% include 'ventas/_filtro.html' with name="empresa" %}
  
  <div class="col-sm-6">
      <div class="form-group">
        <label for="periodo" class="col-md-4 control-label">Periodo:</label>

        <div class="col-md-6">
          <div id="periodo" class="input-date"><input type="text" class="form-control" name="periodo"></div>
        </div>
      </div>
    </div>
  
  {% include 'ventas/_filtro.html' with name="proveedor" %}

  <div class="col-sm-6">
    <div class="form-group">
      <label for="compras" class="col-md-4 control-label">Ventas:</label>
      <div class="col-md-6">
        <div id="compras" class="input-daterange input-group input-date">
          <input type="text" class="input-sm form-control" name="start"/>
          <span class="input-group-addon">hasta</span>
          <input type="text" class="input-sm form-control" name="end"/>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'ventas/_filtro.html' with name="tipo" %}
  
{% endblock %}

{% block table %}
  <thead>
  <tr>
    <th>Cod. Prov.</th>
    <th>Razón Social</th>
    <th>Moneda</th>
    <th>Saldo Anterior</th>
    <th>Total Débito</th>
    <th>Total Crédito</th>
    <th>Saldo</th>
  </tr>
  </thead>
{% endblock %}

{% block extra_foot %}
  <style>
    .aling_right{text-align: right;}
  </style>
  <script>
    var query = {
        agrupar: 'Descrip'
    };

    var api = u.getApiUrl();
    var $results = $('#results');
    var $preview = $('#preview');
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_proveedor, $select_proveedor;
    var select_tipo, $select_tipo;
    var xhr;
    
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? ',' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        return x1 + x2;
      }

    $(document).ready(function () {
      u.hideNav();
      $results.hide();
      initialize();
      select_empresa = $select_empresa[0].selectize;

      select_proveedor = $select_proveedor[0].selectize;
      select_proveedor.disable();
    });

    function init() {
    
      $('#periodo .form-control').datepicker({
        format: "yyyy",
        startView: 2,
        minViewMode: 2,
        maxViewMode: 2,
        autoclose: true
      });
    
      $('#periodo .form-control').datepicker().on('changeDate', function (e) {
          query.periodo = this.value;
      });  
        
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas({{ user }}, function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_proveedor.disable();
          select_proveedor.clearOptions();
          select_proveedor.load(function (callback) {
            $.ajax({
              url: api + 'empresas/' + query.empresa + '/proveedores',
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_proveedor.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_proveedor = $('#select-proveedor').selectize({
        valueField: 'CodProv',
        labelField: 'RazonSocial',
        searchField: 'RazonSocial',
        maxItems: null,
        onChange: function (value) {
          query.proveedor = value;
          debug();
        }
      });
      

      $select_tipo = $('#select-tipo').selectize({
        allowEmptyOption: true,
        maxItems: null,
        options: [
          {value: 'PR', text: 'Proveedor Local'},
          {value: 'PE', text: 'Proveedor Exterior'},
          {value: 'OP', text: 'Otro Proveedor'},
          {value: 'DE', text: 'Despachante'},
          {value: 'EM', text: 'Empleado'},
          {value: 'PC', text: 'Proveedor Caja'},
        ],
        onChange: function (value) {
          query.tipo = value;
          debug();
        }
      });

      $('.input-daterange').datepicker({
        todayBtn: "linked",
        language: "es",
        format: "yyyy-mm-dd",
        autoclose: true,
        orientation: "bottom auto"
      });

      $('.input-date .form-control').datepicker().on('changeDate', function (e) {
        query[this.parentElement.id + '_' + this.name] = this.value;
        debug();
      });

      $('.input-date .form-control').datepicker('setDate', today);
      $('.input-date .form-control').datepicker('update');
    }

    function debug() {
      $preview.text(JSON.stringify(query));
    }

    function getInforme() {
      $('.collapse').collapse('hide');
      $results.show();

      if (!$.fn.DataTable.isDataTable('#results')) {
        $('#results').DataTable({
          language: u.spanish_dt,
          ajax: function (d, cb, s) {
            $.ajax({
              method: 'GET',
              url: api + 'cuentas_pagar/list',
              data: query
            }).done(function (res) {
              cb(res);
            }).fail(function () {
              cb();
            });
          },
          deferRender: true,
          scrollY: 350,
          scrollX: '100%',
          scrollCollapse: true,
          scroller: {
            displayBuffer: 30,
            loadingIndicator: true
          },
          columnDefs: [
            {className: "price-value", targets: "price-label"},
            {render: $.fn.dataTable.render.number('.', ',', 0), targets: "price-label"},
            {className: "text-center", targets: "text-center"},
            {visible: false, targets: "grouping-col"}
          ],
          columns: [
            {data: 'CodProv'},
            {data: 'RazonSocial'},
            {data: 'Descrip', name: 'Descrip'},
            {
                data: 'SaldoAnterior',
                render: function (data, type, full, meta) {
                            if (full.CodMoneda == 'GS'){
                                return convertir_rever(parseInt(data));
                            } else {
                                return addCommas(parseFloat(data).toFixed(2));
                            }
                        },
                "sClass": "aling_right",
            },
            {
                data: 'TotalDebito',
                render: function (data, type, full, meta) {
                            if (full.CodMoneda == 'GS'){
                                return convertir_rever(parseInt(data));
                            } else {
                                return addCommas(parseFloat(data).toFixed(2));
                            }
                        },
                "sClass": "aling_right",
            },
            {
                data: 'TotalCredito',
                render: function (data, type, full, meta) {
                            if (full.CodMoneda == 'GS'){
                                return convertir_rever(parseInt(data));
                            } else {
                                return addCommas(parseFloat(data).toFixed(2));
                            }
                        },
                "sClass": "aling_right",
            },
            {
                data: 'Saldo',
                render: function (data, type, full, meta) {
                            if (full.CodMoneda == 'GS'){
                                return convertir_rever(parseInt(data));
                            } else {
                                return addCommas(parseFloat(data).toFixed(2));
                            }
                        },
                "sClass": "aling_right",
            },
          ],
          searching: false,
          ordering: false,
          drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({page: 'current'}).nodes();
            var last = null;
            var colCount = api.columns().header().length;

            console.log(colCount);
            api.column(query.agrupar + ':name', {page: 'current'}).data().each(function (group, i) {
              if (last !== group) {
                $(rows).eq(i).before(
                        '<tr class="group text-center"><td colspan="' + colCount + '"><h4>' + group + '</h4></td></tr>'
                );
                last = group;
              }
            });
          },
        });
        $results.show();
      } else {
        var table = $('#results').DataTable();
        var $resultado = $('#resultado');
        $resultado.css("position", "absolute").css("left", -9999);
        table.row(0).scrollTo();
        table.ajax.reload(function () {
          $resultado.css("position", "relative").css("left", 0);
        }, true);
      }
    }
  </script>
{% endblock %}