.price-value {
    text-align: right;
}

.price-label {
    text-align: right;
}

div.DTS tbody tr.odd {
    background-color: #f9f9f9;
}

div.DTS tbody tr.group {
    background-color: #fff;
}

.grouping-col {
    display: none;
}

td.multi {
    max-width: 200px;
}

#filters tr th {
    text-align: right;
}
