{% extends 'finanzas/base.html' %}

{% block header %}
  Legajos:
{% endblock %}

{% block filters %}
  <div class="row">
    {% include 'ventas/_filtro.html' with name="empresa" %}
   {% include 'ventas/_filtro.html' with name="sucursal" %}
  </div>
  <div class="row">
    {% include 'ventas/_filtro.html' with name="departamento" %}
    {% include 'ventas/_filtro.html' with name="empleados" %}
  </div>
  <div class="row">
    {% include 'ventas/_filtro.html' with name="tipo" title="Tipo Movimiento" %}
  </div>
{% endblock %}

{% block inner_content %}
  <div class="text-center" id="messages">
    <h3 id="loading" style="display: none;">Cargando...</h3>

    <h3 id="empty" style="display: none;">No hay datos disponibles</h3>
  </div>
  <div id="resultado">

  </div>
{% endblock %}

{% block extra_foot %}
  <style>
    .aling_right {
      text-align: right;
    }
  </style>
  <script>
    var query = {};
    //var numFormat = $.fn.dataTable.render.number('.', ',', 2).display;

    var api = u.getApiUrl();
    var $results = $('#results');
    var $resultado = $('#resultado');
    var $preview = $('#preview');
    var $loading = $("#loading");
    var $empty = $("#empty");
    var today = new Date();
    var initialize = init;
    var select_empresa, $select_empresa;
    var select_sucursal, $select_sucursal;
    var select_departamento, $select_departamento;
    var select_tipo, $select_tipo;
    var xhr;
    var dataTable;

    function addCommas(nStr) {
      nStr += '';
      x = nStr.split('.');
      x1 = x[0];
      x2 = x.length > 1 ? ',' + x[1] : '';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + '.' + '$2');
      }
      return x1 + x2;
    }


    $(document).ready(function () {
      u.hideNav();
      $tabs = $(".nav.nav-pills li");
      //$tabs.on("click", function (e) {
        //$tabs.removeClass("active");
        //$(this).addClass('active');
      //});
      
      $messages = $("#messages");
      $loading = $messages.find("#loading");
      $empty = $messages.find("#empty");
      
      initialize();
      select_empresa = $select_empresa[0].selectize;
      select_empleados = $select_empleados[0].selectize;
      select_empleados.disable();
      select_sucursal = $select_sucursal[0].selectize;
      select_sucursal.disable();
      select_departamento = $select_departamento[0].selectize;
      select_departamento.disable();
      select_tipo = $select_tipo[0].selectize;
      select_tipo.disable();
    });

    function init() {
      $.extend(true, $.fn.selectize.defaults, {
        onChange: function (value) {
          query[this.$input.attr('name')] = value;
          debug();
        }
      });

      $select_empresa = $('#select-empresa').selectize({
        valueField: 'Cod_Empresa',
        labelField: 'Des_Empresa',
        searchField: 'Des_Empresa',
        preload: true,
        load: function (q, callback) {
          u.get_empresas_sueldo({{ user }}, function (d) {
            callback(d.data);
          });
        },
        onChange: function (value) {
          query.empresa = value;
          debug();
          if (!value.length) return;
          select_tipo.disable();
          select_tipo.clearOptions();
          select_tipo.load(function (callback) {
            $.ajax({
              url: api + 'tp_movimientos_sueldo/select/',
              data: query,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_tipo.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
          select_sucursal.disable();
          select_sucursal.clearOptions();
          select_sucursal.load(function (callback) {
            $.ajax({
              url: api + 'sucursal_sueldo/select/' + query.empresa,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_sucursal.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });
      
      $select_sucursal = $('#select-sucursal').selectize({
        valueField: 'Cod_Sucursal',
        labelField: 'Des_Sucursal',
        searchField: 'Des_Sucursal',
        preload: true,
        maxItems: null,
        onChange: function (value) {
          query.sucursal = value;
          debug();
          if (!value.length) return;
          select_departamento.disable();
          select_departamento.clearOptions();
          select_departamento.load(function (callback) {
            $.ajax({
              url: api + 'departamento_sueldo/select/',
              data: query,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_departamento.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });
      
      $select_departamento = $('#select-departamento').selectize({
        valueField: 'CodDpto',
        labelField: 'Descrip',
        searchField: 'Descrip',
        maxItems: null,
        onChange: function (value) {
          query.departamento = value;
          debug();
          if (!value.length) return;
          select_empleados.disable();
          select_empleados.clearOptions();
          select_empleados.load(function (callback) {
            $.ajax({
              url: api + 'empleados_sueldo/select/',
              data: query,
              type: 'GET',
              dataType: 'json'
            }).done(function (res) {
              select_empleados.enable();
              callback(res.data);
            }).fail(function () {
              callback();
            });
          });
        }
      });

      $select_empleados = $('#select-empleados').selectize({
        valueField: 'codempleado',
        labelField: 'nombres',
        searchField: 'nombres',
        maxItems: null,
        onChange: function (value) {
          query.empleados = value;
          debug();
        }
      });
      
      $select_tipo = $('#select-tipo').selectize({
        valueField: 'codmvto',
        labelField: 'descrip',
        searchField: 'descrip',
        maxItems: null,
        onChange: function (value) {
          query.tipo = value;
          debug();
        }
      });
    }

    function debug() {
      return;
    }
    
    //META.fn: sortJSON
    function sortJSON(data, key) {
      return data.sort(function (a, b) {
        var x = a[key];
        var y = b[key];
        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
      });
    }
    
    function show_principales(a){
        $('#cab_empleado_'+a).show();
        $('#div_historico_'+a).hide();
        $('#btn_principales_'+a).addClass('active');
        $('#btn_historico_'+a).removeClass('active');
    }
    
    function show_historico(a){
        $('#cab_empleado_'+a).hide();
        $('#div_historico_'+a).show();
        $('#historico_'+a).DataTable().destroy();
        $('#historico_'+a).DataTable({
          searching: false,
          language: u.spanish_dt,
          paging: false,
          ordering: false,
          info: false,
          scrollCollapse: true,
          scrollY: 300,
          scrollX: '100%'
        });
        $('#btn_principales_'+a).removeClass('active');
        $('#btn_historico_'+a).addClass('active');
    }
    
    function getInforme() {
      $('.collapse').collapse('hide');
      $loading.show();
      $empty.hide();
      $resultado.empty();

      
      $.ajax(api + "legajos_sueldo/list", {
          method: 'GET',
          contentType: 'application/json',
          data: query
        }).done(function (datos) {
          if (datos.data.length > 0) {
            var data = datos.data
            var empleado = 0;
            var aempleado = [];
            var aorder_emp = sortJSON(datos.data, 'codempleado');
            for (var a=0;a < data.length; a++){
                if (data[a].id.toString().length < 10){
                    while (data[a].id.toString().length < 10){
                        data[a].id = '0'+data[a].id;
                    }
                }
            }
            var aorder_id = sortJSON(datos.data, 'id')
            for (var a=0; a < aorder_emp.length; a++){
                if (empleado != aorder_emp[a].codempleado){
                    var sdiv = '<hr><div id="empleado_'+aorder_emp[a].codempleado+'">'+
                                    
                                    
                                    '<ul class="nav nav-pills">'+
                                        '<li role="presentation" class="active" id="btn_principales_'+aorder_emp[a].codempleado+'"><a onclick="show_principales(&quot;'+aorder_emp[a].codempleado+'&quot;)">Datos Principales</a></li>'+
                                        '<li role="presentation" id="btn_historico_'+aorder_emp[a].codempleado+'"><a onclick="show_historico(&quot;'+aorder_emp[a].codempleado+'&quot;)">Historico</a></li>'+
                                    '</ul>'+
                                    '<br>'+                                    
                                    '<table class="table table-bordered" id="cab_empleado_'+aorder_emp[a].codempleado+'">'+
                                        '<tr><th style="width:25%">Legajo:</th><td style="width:25%">'+aorder_emp[a].codempleado+'</td><th style="width:25%">Fecha de Nacimiento:</th><td style="width:25%">'+aorder_emp[a].fechanac+'</td></tr>'+
                                        '<tr><th style="width:25%">Apellidos y Nombre:</th><td style="width:25%">'+aorder_emp[a].apellidos+', '+aorder_emp[a].nombres+'</td><th style="width:25%">Fecha de Entrada:</th><td style="width:25%">'+aorder_emp[a].fechaentrada+'</td></tr>'+
                                        '<tr><th style="width:25%">Documento Nro.:</th><td style="width:25%">'+aorder_emp[a].cedula+'</td><th style="width:25%">Aporta IPS?:</th><td style="width:25%">'+aorder_emp[a].aportaips+'</td></tr>'+
                                        '<tr><th style="width:25%">Estado Civil:</th><td style="width:25%">'+aorder_emp[a].estcivil+'</td><th style="width:25%">Número IPS:</th><td style="width:25%">'+aorder_emp[a].nroips+'</td></tr>'+
                                        '<tr><th style="width:25%">Dirección:</th><td style="width:25%">'+aorder_emp[a].direccion+'</td><th style="width:25%">Teléfono:</th><td style="width:25%">'+aorder_emp[a].telefono+'</td></tr>'+
                                    '</table>'+
                                    
                                    '<div id="div_historico_'+aorder_emp[a].codempleado+'" ><table style="width:100%;" id="historico_'+aorder_emp[a].codempleado+'" class="table table-striped table-bordered nowrap">'+
                                        '<thead>'+
                                            '<tr>'+
                                                '<th>Fecha</th>'+
                                                '<th>T. Movimiento</th>'+
                                                '<th>Aprobado</th>'+
                                                '<th>Sucursal Anterior</th>'+
                                                '<th>Sucursal Actual</th>'+
                                                '<th>Dpto. Anterior</th>'+
                                                '<th>Dpto. Actual</th>'+
                                                '<th>Cargo Anterior</th>'+
                                                '<th>Cargo Actual</th>'+
                                                '<th>Sueldo Anterior</th>'+
                                                '<th>Sueldo Actual</th>'+
                                            '</tr>'+
                                        '</thead>'+
                                        '<tbody>'+
                                        '</tbody>'+
                                    '</table></div>'
                               '</div>';
                          $resultado.append(sdiv);
                    empleado = aorder_emp[a].codempleado;
                    aempleado.push(aorder_emp[a].codempleado);
                }
            }
            for (var a=0; a < aempleado.length; a++){
                var stbody = "";
                for (var b=0; b < aorder_id.length; b++){
                    if (aorder_id[b].codempleado == aempleado[a]){
                        stbody+= '<tr>'+
                                    '<td>'+aorder_id[b].fecha+'</td>'+
                                    '<td>'+aorder_id[b].dmovimiento+'</td>'+
                                    '<td>'+aorder_id[b].aprobado+'</td>'+
                                    '<td>'+aorder_id[b].suc_anterior+'</td>'+
                                    '<td>'+aorder_id[b].suc_actual+'</td>'+
                                    '<td>'+aorder_id[b].dpto_anterior+'</td>'+
                                    '<td>'+aorder_id[b].dpto_actual+'</td>'+
                                    '<td>'+aorder_id[b].car_anterior+'</td>'+
                                    '<td>'+aorder_id[b].car_actual+'</td>'+
                                    '<td style="text-align: right;">'+convertir_rever(aorder_id[b].sueldoanterior)+'</td>'+
                                    '<td style="text-align: right;">'+convertir_rever(aorder_id[b].sueldoactual)+'</td>'+
                                 '</tr>';
                    }
                }
                $('#historico_'+aempleado[a]+' tbody').html(stbody);
            }
            for (var a=0; a < aempleado.length; a++){
                $('#div_historico_'+aempleado[a]).hide();
            }
        } else {
            $empty.show();
        }
        $loading.hide();
        });
    }

  </script>
{% endblock %}