<div  id="my-left-menu" class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<a class="active" href="/accounts/loggedin/"><i class="fa fa-home fa-fw"></i> Inicio </a>
			</li>
			{% if  request.session.modulo_seleccionado == "Ventas"  %}
				<li>
					<a href="{% url 'ventas:resumido' %}"> Ventas - Resumido y Detallado </a>
			    </li>
			    <li>
                    <a href="{% url 'ventas:presupuesto' %}"> Presupuestos </a>
                </li>
                <li>
                    <a href="{% url 'ventas:cuentas_comprar' %}"> Cuentas por Cobrar a Clientes </a>
                </li>
                <li>
                    <a href="{% url 'ventas:recaudaciones' %}"> Planillas de Recaudaciones </a>
                </li>
		    {% endif %}
		    {% if  request.session.modulo_seleccionado == "Compras"  %}
                <li>
                    <a href="{% url 'compras:ordencompra' %}"> Orden de Compra </a>
                </li>
                <li>
                    <a href="{% url 'compras:compras' %}"> Compras - Resumido y Detallado (Comprobante y Proveedor) </a>
                </li>
                <li>
                    <a href="{% url 'compras:compras_articulo' %}"> Compras por Artículos </a>
                </li>
                <li>
                    <a href="{% url 'compras:saldos_proveedores' %}"> Cuentas por Pagar </a>
                </li>
                <li>
                    <a href="{% url 'compras:fondo_fijo' %}"> Fondo Fijo </a>
                </li>
                <li>
                    <a href="{% url 'compras:gastos_rendir' %}"> Gastos por Rendir </a>
                </li>
                <li>
                    <a href="{% url 'compras:compras_estadisticos' %}"> Estadísticas de Compras </a>
                </li>
            {% endif %}
			{% if  request.session.modulo_seleccionado == "Finanzas"  %}
				<li>
					<a href="#"> Balances <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="{% url 'finanzas:balancegeneral' %}"> General y Estado de Resultado </a>
						    </li>
							<li>
								<a href="{% url 'finanzas:balancegeneral_comprobado' %}"> Comprobado </a>
						    </li>
						</ul>
				</li>
				<li>
					<a href="#"> Libros <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="{% url 'finanzas:diario_comprobado' %}"> Diario </a>
						    </li>
							<li>
								<a href="{% url 'finanzas:mayor_cuentas' %}"> Mayor de Cuentas </a>
						    </li>
						    <li>
                                <a href="{% url 'finanzas:mayor_cuentasauxiliar' %}"> Mayor de Cuentas Auxiliares</a>
                            </li>
						</ul>
				</li>
				<li>
					<a href="{% url 'finanzas:ordenpago' %}"> &#211;rdenes de Pago </a>
			    </li>
			    <li>
                    <a href="{% url 'finanzas:centro_costos' %}"> Centro de Costos </a>
                </li>
                <li>
                    <a href="{% url 'finanzas:extracto_cuentas_banco' %}"> Extracto Cuenta Bancaria </a>
                </li>
                <li>
                    <a href="{% url 'finanzas:flujo_fondo' %}"> Flujo de Fondo </a>
                </li>
		    {% endif %}
			{% if  request.session.modulo_seleccionado == "Admin"  %}
			<li>
				<a href="/admin/auth/"> Usuarios </a>
			</li>
			<li>
                <a href="{% url 'custom_permissions:asignar_empresa_usuario' %}"> Asignación de Empresas </a>
            </li>
			{% endif %}
    	</ul>
  	</div>
</div>

