<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
	</a>
	<ul class="dropdown-menu dropdown-messages">
		<li>
			<a href="#">
				<div>
					<strong>Carlos Martinez</strong>
					<span class="pull-right text-muted">
						<em>Ayer, 14:31</em>
					</span>
				</div>
				<div>Hay que actualizar la base de datos.</div>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="#">
				<div>
					<strong>Alicia Rodriquez</strong>
					<span class="pull-right text-muted">
						<em>13 de Agosto, 17:21</em>
					</span>
				</div>
				<div>Ya se proceso el presupuesto.</div>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a href="#">
				<div>
					<strong>Arnaldo Sosa</strong>
					<span class="pull-right text-muted">
						<em>11 de Agosto, 16:46</em>
					</span>
				</div>
				<div>Ya esta lista la orden de pago para el proveedor.</div>
			</a>
		</li>
		<li class="divider"></li>
		<li>
			<a class="text-center" href="#">
				<strong>Ver todos los mensajes</strong>
				<i class="fa fa-angle-right"></i>
			</a>
		</li>
	</ul>
	<!-- /.dropdown-messages -->
</li>

