<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
	</a>
	<ul class="dropdown-menu dropdown-user">
		<!--li><a href="#"><i class="fa fa-user fa-fw"></i>Usuario</a>
		</li>
		<li><a href="#"><i class="fa fa-gear fa-fw"></i>Ajustes</a>
		</li-->
		<li><a href="/accounts/password_change/"><i class="fa fa-key fa-fw"></i>Cambiar Contrase&#241;a</a>
		</li>
		<li class="divider"></li>
		<li><a href="/accounts/logout/"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesion</a>
		</li>
	</ul>
</li>

